---
title: Calculators - WolverineNews.ca 
description: One-Rep Max and Wilks Calculators 
---
{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div id="calculators-container">

  <div id="one-rm" class="calculator-container">
    <div class="calculator-header">
      <h1 class="nomargin">One-Rep Max Calculator</h1>
    </div>
    <div class="panel calculator">
      <div class="calculator-inputs">
        <div class="calculator-ui-item">
          <p class="calculator-label">Algorithm</p>
          <select id="one-rm-algo-select" onchange="update1rmAlgo()">
            <option value="0">Brzycki</option>
            <option value="1">Baechle</option>
            <option value="2">dos Remedios</option>
          </select>
        </div>
        <div class="calculator-ui-item">
          <p class="calculator-label">Reps</p>
          <select id="one-rm-rep-select">
          </select>
        </div>
        <div class="calculator-ui-item">
          <p class="calculator-label">Weight</p>
          <input id="one-rm-weight" 
                 class="calculator-weight" 
                 type="number" 
                 size="4" 
                 min="1" 
                 placeholder="100" 
                 max="1500">
        </div>
      </div>
      <div id="one-rm-result-container" class="result-container">
        <div id="one-rm-result">
        </div>
      </div>
      <div id="calculator-button">
        <button onclick="oneRmCalc()">
          Calculate
        </button>
      </div>
    </div>
  </div>

  <div id="wilks" class="calculator-container">
    <div class="calculator-header">
      <h1 class="nomargin">Wilks Calculator</h1>
    </div>
    <div class="panel calculator">
      <div class="calculator-inputs">
        <div class="calculator-ui-item">
          <span class="calculator-label">Sex</span>
          <select id="wilks-sex-select">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="calculator-ui-item">
        <span class="calculator-label">Bodyweight</span>
        <input id="wilks-bodyweight" 
               class="calculator-weight" 
               type="number" 
               size="3" 
               min="1" 
               max="500">
        </input>
        </div>
        <div class="calculator-ui-item">
        <span class="calculator-label">Weight Lifted</span>
        <input id="wilks-weight-lifted" 
               class="calculator-weight" 
               type="number" 
               size="4" 
               min="1" 
               max="1500">
        </input>
        </div>
        <div class="calculator-ui-item">
          <span class="calculator-label">Units</span>
          <form>
            <label for="wilks-kg">kg</label><input id="wilks-kg" type="radio" name="wilks-units" value="kg"></input> 
            <label for="wilks-lbs">lbs</label><input id="wilks-lbs" type="radio" name="wilks-units" value="lbs"></input>
          </form>
        </div>
      </div>
        <div id="wilks-result-container" class="result-container">
          <div id="wilks-result">
          </div>
        </div>
        <div id="calculator-button">
          <button onclick="wilksCalc()">
            Calculate
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock main %}
