<div class="pure-g mc-answers">
  <div class="pure-u-1 answer">
    <input type="radio" name="question-{{sectionloop.index0}}-{{loop.index0}}" value="a">
    <span>{{question.a}}</span>
  </div>
  <div class="pure-u-1 answer">
    <input type="radio" name="question-{{sectionloop.index0}}-{{loop.index0}}" value="b">
    <span>{{question.b}}</span>
  </div>
  <div class="pure-u-1 answer">
    <input type="radio" name="question-{{sectionloop.index0}}-{{loop.index0}}" value="c">
    <span>{{question.c}}</span>
  </div>
  <div class="pure-u-1 answer">
    <input type="radio" name="question-{{sectionloop.index0}}-{{loop.index0}}" value="d">
    <span>{{question.d}}</span>
  </div>
</div>
