<div class="wc-bar">
  <div id="wc-{{sectionloop.index0}}-{{loop.index0}}" class="wc-number">
    <p>0</p>
  </div>
  <div class="wc-scale">
    <div id="wc-arrow-{{sectionloop.index0}}-{{loop.index0}}" class="wc-arrow"></div>
    <div class="wc-markers">
      {% if question.type == "short" %}
      <div class="short-scale"><p>10</p></div>
      <div class="short-scale"><p>20</p></div>
      <div class="short-scale"><p>30</p></div>
      {% elif question.type in ["news report", "opinion"] %}
      <div class="long-scale"><p>10</p></div>
      <div class="long-scale"><p>20</p></div>
      <div class="long-scale"><p>30</p></div>
      <div class="long-scale"><p>40</p></div>
      <div class="long-scale"><p>50</p></div>
      <div class="long-scale"><p>60</p></div>
      {% endif %}
    </div>
  </div>
</div>
