---
title: 3rd Annual Shredding
author: Alex Stewart
order: 11
stub: On Saturday October 28 at the Mount Forest Fire Hall they will be shredding papers because they want to stop identity theft.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/picturename.jpg">

{% filter markdown %}

On Saturday October 28 at the Mount Forest Fire Hall they will be shredding papers because they want to stop identity theft.
They request a $5 donation and the volunteers will do all the work for you. They have it like a Drive thru. The CSGW is partnered with FILEBANK. So don’t forget to get your papers shredded
on the 28th at the fire hall in mount forest. It is located on main street near Sligo rd. They will be doing it at 10am - 12pm. Come out and support for a good cause.


{% endfilter %}

{% endblock news_content %}
