---
title: A Newcomers Perspective On Canadian Schools
author: Billisuma Zawude
order: 1900
date: 2018/05/04
stub: There is a big difference between my school back home and school here. In school here, you can choose subjects yourself. When I was at my first school, I didn't choose any of the subjects that I wanted. I had to learn whatever was being taught. Me, in my life, I hate math, so I get in a lot of trouble, but here, I can choose which is very good idea. I like shop classes and ESL class.
image: /images/a-newcomers-perspective-on-canada.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/a-newcomers-perspective-on-canada.jpg" class="news-article-image"/>


{% filter markdown %}

There is a big difference between my school back home and school here. In school here, you can choose subjects yourself. When I was at my first school, I didn't choose any of the subjects that I wanted. I had to learn whatever was being taught. Me, in my life, I hate math, so I get in a lot of trouble, but here, I can choose which is very good idea. I like shop classes and ESL class.

Another way Canadian schools are very different is that here the teacher they can't give you punishments like in Kenya.  When I was in back home in Kenya, the school had a big soccer field, but they didn't have good teachers. The teacher were very angry all the time and they beat you.  One day, me and my friend we were at the school and our teacher was not there, then me and my friend agreed to leave the school because it was boring and so we had to run away from school. On Monday, when we came back, they had written our name on a piece of paper and had given it to the teacher and the teacher called us to the front of class and we were caned with a water pipe.  We were also given a broom to sweep the classroom.  That is the day I will never forget in my lifetime.

This school has school buses, but when I was in Kenya the school didn’t have a school bus, and the students walked from their home to school and it is long distance and if the are  student late the teacher will punish them.  I had to leave my house at 6:00 am. My walk was 20 minutes and I had to reach the school before 6:45 am. If I was late the teacher would beat me. When the teacher give them punishment  the student they will be angry and some student they left the school studying.  The private schools in Kenya also have school buses, but in public school I always had to walk.

In my school there was no camera, but there was in private schools and here and there was no police officer to look around the school but the teachers go around the school and check. Some students don't want listen to the teacher and they run away from the school.  But that is not a good idea and it is trouble for student.  Here you can sign out and you can go about your business.

Back home the students are the ones to wash the classroom while here there is a custodian. Only public schools wash the classrooms, the private schools didn't have to.   Most importantly we don’t pay any money here while there we have to pay money every month for tuition, for exams and for maintaining the school. Tuition was 500 hundred kenyan shillings.

The last day of school in Kenya was happy for me. I was happy to leave because I was going to Canada. My brother Moyata’s last day he got in trouble. He was going to be beat so he ran away. My last day was normal day, I didn't have a chance to say goodbye or to go back to school.

We are thankful to God for everything for bringing us here and we have got everything and we do not have to worry about anything. Even though it was little hard in the beginning when we started the school but now we have  learned  everything  and we are leading a peaceful life  most important  we don’t  have to quit school again because of money ever again

When  we  arrived in Kenya at first it was  very difficult because we didn’t know any English or Kiswahili, but our teacher was very kind to us and she was trying to get friends for us.
In Kenya until Grade 3 only one teacher taught  and starting from grade 4 to 8  the teachers are the ones that go from one class to another and not like here the students moving from class to class and  different teachers for each subjects unlike the grade 3 and below. In kenya there were a lot of Ethiopians, Eritreans  and Somalis so I was  able to make friends easily.

It was still difficult here because we were not very good in English and the little we knew sometimes it was difficult for people to understand us but here we were much taken care of and we got much help than in Kenya though we didn’t make much student friends so it is kind of boring but the teachers are very very helpful which was good if the teachers were not helping and friendly to us we would have stopped coming to school but the students are also friendly it is just we are not able to contact properly because of the language.

{% endfilter %}

{% endblock news_content %}
