---
title: Are You Ready For Prom?
author: Alyssa Clark
order: 1100
date: 2018/04/26
stub: Prom, the night to look your best and it’s coming soon. Get ready because May 12 is this year’s Prom.
image: /images/are-you-ready-for-prom.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="images/are-you-ready-for-prom.jpg" class="news-article-image-medium">

{% filter markdown %}
Prom, the night to look your best and it’s coming soon. Get ready because May 12 is this year’s Prom.

Prom takes a lot of work with planning and setting everything up, especially when it’s only six students and one teacher. Our Prom committee has been working really hard to make sure this year’s Prom special, and they are very close to being done.
Last week, Prom permission forms were on the stage, so if you don’t have a permission form then you can’t come to Prom. Many have noticed that you need a parent or guardian's signature in order to come to Prom, even if you are eighteen. The reason why is because the school needs to know that they are allowed to contact them in case of emergency. Once you submit your permission form, you get a fancy invitation telling you where Prom is, and other important information you need to know about Prom. Savanna Rebhan was the one that made these invitations which surprisingly was a quick task.
But this week, Prom tickets are for sale for only forty-five dollars, which is cheaper than the past years’. In order to your get tickets you have to pay using school cash online instead of paying cash at school like last year.
The reason we only get one week to get permission forms and tickets in is because Prom is very soon. It originally was going to be one May twenty-six but it accidentally got double booked so we had to pick an earlier date.

Decorations are a pretty big deal when making a Prom and back in early March the Prom committee had one thousand rose petals, roses, gold satin, antique tea cups and chandeliers, and fairy lights. Sometime has passed and they have added a few more things to make this Prom perfect, but we’ll have to wait and see since it’s a secret.
	Love’s Sugar Bush does their own catering, and on the permission forms there was an option for people to check if they want a vegetarian meal. The reason why is because Love’s Sugar Bush needs to know how many vegetarian meals to make. The type of food that will be served for dinner is chicken and the vegetarian meal. The kind of drinks that will be there are juice and water.
	How seating works is about ten to fifteen sixty inch round tables that will seat eight people.

This years Prom is coming earlier, usually it’s later on in May or even in June. But some schools are doing theirs this early while others aren’t like St. James is May eleventh, and Center Wellington is June first. Which means we have less time to find our perfect outfits, and make alterations if needed. Time is ticking so make those hair appointments and find the right pair of shoes because Prom is in approximately two weeks and counting.
Now finding the right dress is important for Prom and so far no one has actually gone with the theme “Tale As Old As Time”, which means they would wear a yellow dress like Belle’s. But the colour theme in dresses this year is the colour red, ranging from bright reds, to burgundys, and all in between.
We all know every good Prom needs a dance floor and we might be wondering if Love’s Sugar Bush even has a dance floor, or are we going to have to dance under the stars. Well they do have a dance floor in the building. The type of music that will play is all genres and they encourage everyone to make song requests.
When you arrive at Prom there will be a tractor that will pick everyone up and drive down to the building where Prom is. No need to worry about walking in heels down to the building. But be aware that there might be mud since it is being held in early May.
Other entertainment there, is a photo booth so be sure to get some pictures taken to remember these memories.

Prom is going to be set up the day before and hopefully won’t take too long. But if you want to help set up Prom the Prom committee would be happy for the extra hands. You can get community hours for setting up Prom so if your needing some hours, now’s the perfect time to get them. Make sure your ready because there’s a lot to experience at Prom, so don’t be late.



{% endfilter %}

{% endblock news_content %}
