---
title: Are Cell Phones Really Necessary in High School?
author: Breann Stortz
order: 1600
date: 2018/05/03
stub: Are phones necessary in High School? A lot of teenagers would say yes, maybe because they’re basically attached to it. A few people would want to say no, but they know that’s not true. Cell phones may not seem necessary in some cases, but they do provide quite a few needed things. So are they necessary or not?
image: /images/are-cell-phones-necessary-in-high-school.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/are-cell-phones-necessary-in-high-school.jpg" class="news-article-image">

{% filter markdown %}

Are phones necessary in High School? A lot of teenagers would say yes, maybe because they’re basically attached to it. A few people would want to say no, but they know that’s not true. Cell phones may not seem necessary in some cases, but they do provide quite a few needed things. So are they necessary or not?

The word necessary is an adjective, meaning required to be done, needed, and essential. A better question would be ‘Are cell phones needed in High School?’. They are needed for things like reminders, Google Classroom, Gmail, and Google when it comes to High School.

An excellent point was made by Meg Ormiston, in her article How to Use Cell Phones as Learning Tools. She said “Some people may want to ban cell phones from classrooms, but I disagree. We didn’t ban pens in our schools because students can pass notes during class.” That is very true. It means that even though students may be using their phones incorrectly, that doesn’t exactly mean that everyone is doing it, therefore it’s not a good enough reason to get rid or ban them. Also, pens and pencils are needed in class, meaning cell phones are also needed.

It would be good to point out that a phone is different from a computer in a lab or a laptop off a cart. Yes, they all do very similar things in the learning environment, but a cell phone is a personal device, nothing like the computers in the school that are there for all the students.

Looking at the statistics of mobile cell phone users, in 2015, there are 25.7 million users. In 2017, the number was 29.8 million. And in 2019, it’s estimated to be 30.6 million users in Canada. That may be the entire country, but there are quite a few high schools spread out across Canada, and quite a few students going to those schools. At WHSS, it’s estimated it be around 94% of the school are mobile cell phone users.

Students do use their phones for listening to music. Yes, it does help some students focus on their work. But if they’re constantly looking at the screen, trying to decide on a song to listen to, that’s when it becomes a distraction.

Tena Stortz, a parent of a high school student and a grade 7 student, says “Cell phones themselves are not necessary in high schools as far as classes are concerned.  They can be a distraction.  Electronics of some sort are needed for paperless work and research tools.
Cell phones are an important tool for parents and students to communicate.”

Depending on how the privilege of the cell phone usage in class is treated, cell phones can be necessary. Technically speaking, the phone itself, seeing that it’s a personal device, it isn’t necessary for a students to have it with them all the time. However, the internet on the phone, if used correctly, is useful to have in class. 

{% endfilter %}

{% endblock news_content %}
