---
title: Are Hats a Distraction?
author: Owen Risidore
order: 41
stub: Hats are the bain of teachers, but are they really that bad?
image: /images/are-hats-a-distraction.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/are-hats-a-distraction.jpg" class="news-article-image"/>


{% filter markdown %}

I don’t think I need explain what hats are, do I? They’re just types of clothing you wear on your head. Some use it for practical reasons, while others use it as a fashion statement, or to show their support for a local sports team. The controversy, however, doesn’t come from what hat you’re *wearing*, but from *where you’re wearing it.* More specifically, in the classrooms of WHSS.

For **years**, or even **_decades_**, hats have been the bane of teachers. From students throwing them around the classroom; to fights breaking out due to the theft of one’s hat, they have been causing lot of trouble for some teachers. While some are a bit more relaxed on the subject, others are very open about their hatred.

Still: Are hats the main cause? Obviously, an object made out of wool can’t make trouble on its own, so it would have to come down to the person who owns a hat. Some people are very responsible with their personal belongings, while some disregard any sense of responsibility all together. It should be the owner who should be responsible.

Nevertheless, there are times in which hats are stolen, either for a joke or for more malicious intentions. Rather than being the owner’s fault (_for the most part_), it’s the culprit who is to blame for stealing the hat in the first place. The person should be punished, not the object that can’t even think for itself; much less move around. There are places where hats are not appropriate. Woodworking and metal tech classes don’t allow hats due to safety reasons, same with science labs. They don't take away the privilege of wearing a hat to be mean, they do it for a legitimate reason.

Overall, hats in a normal classroom setting should not be a problem, it should be the student’s responsibility to use their personal items responsibly.



{% endfilter %}

{% endblock news_content %}
