---
title: Ivan Armstrong Trucking donates two trucks to Arthur firefighters for extrication training
author: Hunter Fernley
order: 24
stub: Arthur station participated in an extrication exercise last week, and while that may not be unusual, this exercise proved to be a great learning experience for the department’s firefighters.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/IvanArmstrong.jpg" class="news-article-image"/>

{% filter markdown %}

Arthur station participated in an extrication exercise last week, and while that may not be unusual, this exercise proved to be a great learning experience for the department’s firefighters.

The exercise was held at Ivan Armstrong Trucking yard in Arthur. The company donated two old tractor bodies for the department to conduct their training with.

It’s not often that we get to train on an actual truck,” said Arthur station captain and fire prevention officer Marco Guidotti. “Usually, we learn about truck extrication at an actual call. Trucks are very different than other vehicles.”

All of the firefighters in attendance got an opportunity to use the various tools that are used in an extrication, as well as getting a close look at each vehicle, to learn as much as they could about how a large truck is different from a smaller vehicle.

“At a call you operate as quickly as you can to get the person out. There is no time in that situation to learn,” said Guidotti. “This was extremely valuable to our firefighters. They all got a turn to use the tools, and lots of them were taking pictures to use for reference back at the station.”

Jeff Lambier of Ivan Armstrong Trucking was one of numerous employees on hand for the exercise to answer questions firefighters had about the trucks, and provide tips and information on how to best deal with various parts of the vehicle.
“If you aren’t around these vehicles every day, they can be tricky to deal with — intimidating, even,” said Lambier. “Hopefully, this can provide them with some skills and knowledge going forward.”

Lambier said that the donation of the vehicles by the company came about after Guidotti finished an inspection at the facility.

“He was talking with John Raftis (general manager at Ivan Armstrong Trucking), and the conversation turned to trucks,” said Lambier. “We had a couple of trucks to get rid of, and Marco said they could use them.”


“The trucks still have value as parts, but these two trucks are going to a good cause,” said Lambier. “We’re happy to help out.”

Guidotti expressed thanks on behalf of the department for the donation.
“It’s greatly appreciated,” he said. “I think it shows they care and are very supportive of the fire service. They’re helping us help the community. It’s a great thing they did, and our firefighters learned a lot from it.”


{% endfilter %}

{% endblock news_content %}
