---
title: Review Preview for Art Night
author: Owen Risidore
date: 2018-5-24
order: 140
stub: A preview of this week's upcoming art night!
image: /images/art-night.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/art-night.jpg" class="news-article-image"/>

{% filter markdown %}

One of the major events near the end of the school year has to be Art Night: a school event that celebrates the art programs around our school, which being Drama, The Visual Arts, and the music programs. Each will be represented equally on Art Night, with different parts of the arts program having different sections throughout the night. The School Band, ran by Mrs. Stewart (or Stew for short) will play a couple of pieces from their musical library; while The Improv Club, run by Mr Scott During this, different pieces of art will be put around the cafeteria to look at and admire.

Students around the school are really looking forward to Art Night. “It’s one of the only nights where the arts can be shown off to the school,” says one student in excitement. “It’s pretty great.” Another student is also excited “It’s always great to see the school band.” However, there’s also a lot of students are still wondering what’s going to be shown off, and what music will be played by the school band. One band member who would like to stay anonymous leaked a bit of info out for this article. When asking for info, the person said that “While we’re not too sure on what we’re playing, there’s a possibility we might play Africa by Toto” replied the band member.

The Art Night is this thursday, and I hope to see you there!

{% endfilter %}

{% endblock news_content %}
