---
title: Arthur Second Look
author: Kristen Maude
order: 2000
date: 2018/05/10
stub: Arthur Second Look is located in the town of Arthur, Ontario but you should’ve known that by the name of the store. The second hand store is located between Father’s Heart Healing Ministries and Smith John Insurance Brokers located on the main street of Arthur. The store is run by volunteers who are mostly older women that have retired and often are students looking for community hours.
image: /images/arthur-second-look-business-profile.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/arthur-second-look-business-profile.jpg" class="news-article-image">

{% filter markdown %}

Arthur Second Look is located in the town of Arthur, Ontario but you should’ve known that by the name of the store. The second hand store is located between Father’s Heart Healing Ministries and Smith John Insurance Brokers located on the main street of Arthur. The store is run by volunteers who are mostly older women that have retired and often are students looking for community hours.

Just a heads up, in order to buy items in store you must have cash as this store does not take any kind debit or credit. It has just added tax to their items when purchasing recently so it would be more beneficial to the community. The store is organized into different sections.When you first walk in you see clothing, book, the cash register, a shoe room no bigger than a closet, and many little nick nacks. To the room beside this one just down the hall is where the childrens clothes are stored. The last room for shopping is where the pillows, kitchenware, electronics, sewing and knitting needs along with clothing that is for sale. Lastly the very back room is where the workers get the donations and start getting them priced and put on shelves or closet rods for clothing.

After asking Dallas Mitchell about her time working at Arthur Second Look, she said, “I enjoy working there it’s easy to get volunteer hours for students. The people you work with are really nice and all you really have to do is price the clothes and hang them up in their designated area.” Dallas still works at Arthur Second Look and has over 200 hours in community service because of it.

Arthur Second Look has many promotions. For example, they have a colour of the week. One week will be green, blue, red, or yellow. What this means is that whatever the colour is for the hangers which are colour coded, that whatever is on that hanger is on sale for the sale price that is located behind the lady at the counter. Another thing they have going on is fill a bag for $5, this is where they give you a garbage bag and you can fill it with as much clothes as you can and it will be $5 plus tax. Not quite sure if they still have it but they used to have a similar thing with books, you could fill a grocery bag provided with books and it would cost you $2. Lastly they also have a silent auction, where they put the items in the window at the front for people who are walking by to see, the board to put your bid is on the door that allows you to go into the room near the front door.

Arthur second look is open from 9am-5pm Tuesday through Saturday but they do have about a week where they are closed during the summer. If you’re ever in Arthur you should check out arthur Second Look you never know you may just find something you may find interesting.

{% endfilter %}

{% endblock news_content %}
