---
title: Autumn Colors Classic
author: Alex Stewart
---

{% extends 'news.html' %}
{% block news_content %}

{% filter markdown %}

This past weekend was ACC At Peterborough Speedway and the last weekend of racing for this season. There was 10 classes of cars which include Four Funs, Mini’s, thunder’s ,Late Models, Pro Lates, Super Lates, Mods, Midget’s, Pro Midget’s and Legends. There was some nice clean racing and some bad crashes. The ACC was great to go watch but i
didn’t get a photo of Phil or Carson hitting the wall but i might be able to get photos of them.

I asked Carson Nagy Driver of the #63 thunder car how was his first ACC weekend races where and he said “It was great I won the the first  qualifying on Friday, Saturday wasn’t bad from starting 9th and finishing in 2nd for the second qualifying and Sunday
was up and down I started 4th, then I fell way back to like 8th but Finished the race in 3rd and got a trophy, So all in all a great weekend for me.

The worst crashes where in the Mini’s on Sunday night two cars flipped on went on its roof and slid and the other one flipped 2 or 3 times, I was lucky
enough to get photos of both of them. The best part is that everyone is fine and where walking around after the races.

For London Recreational Racing (LRR) They had 2 Pro Lates #32 Cayden Lapcevich finished
8th, and #89c Andrew Kamrath finished 3rd, There was 2 mini #89c Shawn Chenoweth finished 5th, #51c Craig Kamrath 9th, one thunder #32 Treyten Lapcevich finished 1st, and one late Model #16 Amanda Balson finished 2nd.The owner of LRR was really happy of the racing this weekend.

{% endfilter %}

{% endblock news_content %}
