---
title: Canada Sending Peacekeepers to Mali
author: Gabrielle Beilke
order: 50
stub:
image: /images/canada-sending-peacekeepers-to-mali.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/canada-sending-peacekeepers-to-mali.jpg" class="news-article-image">

{% filter markdown %}

Canada has always been a country of peacekeeping. Canada’s 14th prime minister Lester Pearson won a Nobel Peace Prize for his contributions to the first UN peacekeeping mission, and is considered the father of modern UN peacekeeping. Before Canada’s participation in peacekeeping it was seen as an insignificant country, peacekeeping established us as a global power. Canada has participated in more UN peacekeeping missions than any other country in the world. In the past decade Canada’s peacekeeping presence has decreased, in 2006 we ranked only 51st in the UN contributions and since then we haven’t done any better.

On March 19th the Canadian government announced their intentions to send peacekeeping troops to Mali. This is Canada’s first step in potentially regaining their importance in UN peacekeeping. It’s time for Canada to finally get back into the world of peacekeeping.

The conflict in Mali started in 2012 with insurgent groups overthrew the Malian government for independence. Their goal was to make the northern region of Mali a homeland for the Tuareg people. These insurgent groups were backed by an Islamist group. By April the north was finally overtaken by the insurgent group and the Islamist group, but the two sides began a conflict over how to run their new state. The Islamist groups eventually took full control and the Malian government asked the world for help retaking the north.

Mali now has three different sides in their war, the government, the Tuareg rebels, and the Islamist groups. A ceasefire was was signed in February 2015 but only lasted until September when the government opened fire on unarmed protesters.

Canada plans to send troops for a year long mission by August, including sending 6 helicopters. Details on how many troops and other details are yet to be released.

Prime Minister Trudeau’s decision has stirred up some negativity, as the Mali mission has proved to be one of the deadliest UN peacekeeping missions in history: Since 2013, 80 UN peacekeepers have been killed. Mali is dangerous and a huge risk, the apprehension of some is understandable.





{% endfilter %}

{% endblock news_content %}
