---
title: Is Cannabis Legalization Good Or Bad For Crime?
author: Caleb Callaghan
date: 2018-04-26
order: 102
stub: Is cannabis good or bad for crime? Read this article and find out!
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

In Canada cannabis is going to be legal in July 2018 and is said to have a set age limit of 19 years old (except in Alberta and Quebec where it is set at 18). This is similar to the age that you can buy alcohol in these provinces. Each province will have its own set of rules for the drug and different consequences for it, too. How will this affect the overall amount of crime in Canada, though? How will it impact us and what we do in our daily lives?

The Canadian government is going to treat cannabis similar to the way they treat alcohol, and have similar consequences for its misuse as well, which means they aren’t going to make it easy on kids if they try to get it illegally. This too is one of their main concerns about this topic. Keeping out of kids hands is their top priority in legalizing cannabis. They’re forming more laws to keep it out of the hands of minors and anyone below the age limit.

This law has been tested in multiple states and they have results on what happened are here to look at. So far throughout the states that have legalized it there has been no increase in crime rate. In a few it’s actually dropped significantly compared to previous years. On top of that selling cannabis has increased the profit of all these states and is making them consider lowering tax on the people living there.

Even though money and profit have increased with the new law the black market
that sells marijuana is still active in these areas. For kids getting it from them is easier and is the perfect way to try and stay out of trouble for faking an ID. This could be a problem in the future for this law and could hurt it quite a bit if this increases. This could also lead to crime rates going back up or to the law being taken away again.

Normally cannabis doesn’t affect everybody’s daily life and what they do throughout the day and night. If this law gets placed we could end up seeing more people on the streets smoking it. In general we’ll see it more in public especially in bigger cities with larger populations. This could increase the general amount of people smoking it, and how much they smoke it. This could change the general public opinion of the drug for the better or worse.

Throughout the examples of states that have applied this to their laws there haven’t been an increase in criminal activity. However we are talking about an entire country at once. It could also have just been like any sort of test, where the results aren’t always the same. If this does happen to be true then we might see a stopping point to the legalization of cannabis. Therefore the legalization of cannabis is not bad for crime and will hopefully help improve our economy.

{% endfilter %}

{% endblock news_content %}
