---
title: Major College Strike Hits Ontario
author: Ian Dafoe
order: 2
stub: The Ontario Public Service Employees Union went on strike when they couldn’t reach a deal with the College Employer Council.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/SameWorkSamePay.jpg" class="news-article-image"/>
<img src="/images/#wepaytolearn.jpg" class="news-article-image"/>

{% filter markdown %}

On October 16th, 2017 at 12:01am, The Ontario Public Service Employees Union went on strike when they couldn’t reach a deal with the College Employer Council.
Now, there’s is more than 500,000+ current college students all across Ontario with their classes on suspension or canceled. Hours before 12:01am, the OPSEU showed the CEC a proposal that showed what
teachers considered to be the bare minimum on what they need to ensure quality education for students. However, the CEC disused funding shortfalls by lowering standards such as using underpaid contract workers who have no job security pass the first semester.


I interviewed a college student named Denver Dafoe that goes to Georgian College in the Muskoka area. I asked him about the effects the college strike had on him. He told me, “I’m disappointed my money
I worked so hard to earn during the summer break is being spent on teachers when they aren’t teaching.
However with the strike, I’m just working on the assignments they gave me to do alone. I’ve also been doing more fun things like going to parties and playing golf to entertain my free time.”


How the Ontario Public Service Employees Union wants to dissolve the strike is to create a deal that is fair for themselves and the College Employer Council.  However, they said that they might have no choice but
to remove their services until the CEC is ready to negotiate seriously. But the CEC says the OPSEU's demands would add $250-million to the costs of running the schools if the 12,000 teachers are getting more than a 7.5% raise.


Why the Ontario Public Service Employees Union went on strike is because they want more job security. Currently, the amount of part time teachers has increased by 40% when the full time teachers have gone up by no more than 20%. To this day, 70% of all college teachers are part timers. However, this strike
made the college students and their parents/guardians upset. Why the students are upset is because they paid from $3,800 to $7,500 for two semesters to learn from their teachers and when they went on strike, they got loaded up with work and was told to do the best they can. These students believe that they should receive a refund of
$30 for every day the strike continues and a full refund if the strike continues so long that they can’t complete the semester(s) successfully. The parents of the college students are upset too. They’re upset because they invested some of their own money into their child’s education and it’s all up to the student to learn it. Parents also don’t like how the
teachers are stay getting paid their regular salaries when they aren’t teaching any students.


As teachers, some students, and multiple communities are protesting for the OPSEU, all the people want and care about is the college students getting back to the classroom to get the education they need to become successful in their job and life.

{% endfilter %}

{% endblock news_content %}
