---
title: Road Construction Uncovers Contaminated Soil
author: Hunter McWhinney
order: 9
stub: Reconstruction work on Highway 6, south of Queen Street has uncover contaminated soil outside Cook’s Garage.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Reconstruction work on Highway 6, south of Queen Street has uncover contaminated soil outside Cook’s Garage.

Wellington North Mayor Ray Tout confirmed in an interview with Advertiser that the soil was indeed contaminated with oil,
they found out during reconstruction work, the soil was removed for further testing to see the extent of the contamination.

“We hit contaminated soil” said the mayor, referring to the find near Cook’s Garage.
“It’s in front of their place, but we haven’t been able to pinpoint the source.”

Several truck loads of have been removed under supervision by the Ministry of the Environment.
Which was alerted to the find more than a week ago. Township staff and engineers have also been involved in the preliminary clean up.

“It (the investigation) is still in the preliminary stage” said the mayor.

Tout said Cook’s has been cooperating and has turned over documents showing
when oil tanks were removed from the property.

“The tanks were removed in 1995 or 1996, so the tanks are long gone,” the mayor said on Monday.
He said there doesn’t seem to be any indication of further leaching of the contaminant to the surrounding area.
“I don’t think there’s any imminent danger,” Tout said.

Rod Cook declined comment when contacted by the Advertiser, saying only that the garage is cooperating with authorities.

Tout said officials were expected to meet Tuesday to review the situation.


{% endfilter %}

{% endblock news_content %}
