---
title: Council, committee frustrated by lack of progress with Lynes Blacksmith Shop
author: Hunter Fearnley
order: 31
stub: On Monday, Dec. 4 Wellington North council addressed concerns over plans to open the Lynes Blacksmith Shop to the public.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

On Monday, Dec. 4 Wellington North council addressed concerns over plans to open the Lynes Blacksmith Shop to the public.
After a recent meeting between members of the volunteer committee working on the development of the blacksmith shop and representatives of the Township of Wellington North, both parties left feeling frustrated at the lack of progress with the project.

“I think they are concerned about their future ... I sit on the committee and I certainly don’t want to see it fall off the rails,” said Coun. Dan Yake.
Approval for the plan was given by council in March. Nine months later, work is still being done on ownership transfer issues.
“I know that’s never going to happen quickly, but I’d like us to see if we can get this back on course, so everybody can stay positive about this project,” said Yake.

Krysia Lynes lives in Texas and has had to pay for her own solicitor to represent her during the ownership transfer process.
“I don’t think it’s fair. It’s almost like buying a car as is, and then going back to the owner and saying you need it certified ... The blacksmith shop is a jewel and I would have no problem talking to the taxpayers about what we are doing there and helping out," said Coun. Steve McCabe.

“I agree wholeheartedly we want to support this going forward," said Mayor Andy Lennox. "We have to deal with issues they may not see, and I’ll give you an example of one that came up during the discussion that worries me deeply. That is the well, there is a well on the property. The neighbour shares that well. It is not a secure well. It is a drilled well that is down a pit right near the road. When we own that property and the neighbour is using the well, it becomes a municipal water system, which falls under the same regulations as municipal water-taking wells. And the cost to maintain it will sink this committee.”
There was talk at the meeting with committee members about finding a way to sell the neighbour the well, but that was not well received.
“I am very concerned that if we can’t find a resolution for this well issue it might be so costly that it might make it impossible," said Lennox. "Should we be picking up the tab for that? I think if we are going to, then this council needs to have that discussion too, as to how far are we prepared to go.”

“When council endorsed the idea of assuming the property, I took it upon myself to try to establish what risks this council would be taking on,” said chief administrator Mike Givens. “I’m hearing today that we’re in no matter what, and that’s OK. Coun. McCabe has indicated he has no problem having a conversation with residents and that is great to hear because if we assume a property that already has underground storage tanks ... some structural issues, not just to the blacksmith shop but the residence that exists as well, and probably some other things that haven’t quite been addressed yet — that is OK.”
“That night when we sat around here and approved this project we all knew the well was going to be an issue, but we all sat here and approved our support and our willingness to work with this," said Yake. "We’re smart people around here. We can figure it out.”

“I’m not surprised that the meeting was not well received. I didn’t leave feeling so great myself," said Givens. "When we, the township — me, the township — presents something, it is an option, and it’s not something the committee agrees with, whether it’s the well or not, then yes, there is dissatisfaction around that ... but, we could assume the property and try to work those things after.”
“Do we accept it and then move on to other issues?” asked Yake.
Givens answered that it would be up to council to make the decision.
“If you guys no longer want to spend more time to establish what level of risk there is — just push on with the ownership transfer then I’ll give directions to the solicitor to work with Ms. Lynes' solicitor and get it done," said Givens. "The property will be, as Coun. McCabe indicated, it will be ours as is.”
Yake commented that "we have to figure something out."

"We sat here and supported it," he said. "We can’t just turn our backs on it.”
Givens asked whether the committee has come up with any ideas for addressing the well.
“No, they haven’t because they have been waiting ... for the ownership transfer to happen," said Yake.

Yake stated that the committee is going to break down the work into phases due to the amount of work there is to do.
"They know there are ... issues, but they don’t have the money to do it all," said Yake. "They are not standing here asking us for money ... They’ll fundraise, they’ve got people knocking and chomping at the bit to donate.”
“So, the message I’m hearing is to deal with the transfer and then maybe we need to bring back a report to this council on the risks as we perceive them and share that with the committee," said Lennox. "My big concern is related to the issue of the well. I don’t want this to sink them.”
“The committee are not blind to the fact that these are serious, expensive, and comprehensive issues,” said Yake.


{% endfilter %}

{% endblock news_content %}
