---
title: Looking Ahead Courses at WHSS Next year
author: Josh Burr
order: 51
stub:
image: /images/courses-at-whss-in-2018-2019.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/courses-at-whss-in-2018-2019.jpg" class="news-article-image">

{% filter markdown %}

School board enrollment has been going down all across the province, this is because a lot of high school students take opportunities that would not have been available for them at a younger age. Like getting a job, most students have open arms to the money that they will make. Factors like very little taxes, no mortgage or debt you can make a lot of money. Some students decide to drop out of high school in favor of getting a job to start making money.

While at a young age you tend to make choices in the moment not taking the time to think of the consequences. On the one hand you can make a lot of money right now but in the future you will not have as much as others.  With no high school diploma it be very difficult to continue on with your schooling to get a better job.

Taken from the finance pdf that the school board produces each year. The school board blames most of the enrollment decline on bad weather, but I think that this is not true.

Surprisingly our school is having an enrollment increase with static years. The expected enrollment numbers of next year is set at 490. Mr.Taylor thinks that this is because WHSS is a small school we know each other, and strong community. We offer programs that schools our size or larger don't offer.

Mr.Taylor thinks merging the public and Catholic school boards would be a good thing. Merging the school boards provides a great financial benefit, and even if you would like to take a religious class it could be offered as an elective.

We as a school are actually gaining students from the school board. Some of these changes can based on convenience. If you are a catholic student  and are in high school living in mount forest you have to drive all the way to Guelph to go to school. A bus ride that can take over an hour.





{% endfilter %}

{% endblock news_content %}
