---
title: CPR Training in Wellington Heights
author: Corbin Peter
order: 58
stub: Learn your scoop about CPR training at WHSS!
image: /images/cpr-training-at-whss.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/cpr-training-at-whss.jpg" class="news-article-image">

{% filter markdown %}

CPR training is an essential in day to day life let alone in a work environment. CPR stands for Cardiopulmonary Resuscitation. Cardiopulmonary resurrection is “a procedure designed to restore normal breathing after cardiac arrest that includes the clearance of air passages to the lungs, mouth-to-mouth method of artificial respiration, and heart massage by the exertion of pressure on the chest” (Merriam Webster Dictionary). This is put to action when someone isn't breathing or when their heart stops beating. You can also use CPR when someone is suffering from a stroke, heart attack or cardiac arrest. These plethora of things can happen at any moment to anyone in regular day life from WHSS to France. So when students are being put in work situations and always being in everyday life. So if you don't have these skills and wish to acquire more knowledge about them before learning them look at the following interview with past student CPR learner Jazz Lippai.

**Give us an overview of WHSS CPR training**

Okay, so we learnt the very basics of first aid. That included CPR for adults, children and infants. We also learnt AED awareness and how to properly use the defibrillator. I guess we also learnt how to treat small wounds and stings on people by wrapping the gauze properly. I thought it was quite fun, while being informative and very useful.

**Why did you join?**

-  I joined because I want to pursue a career in the healthcare field like a paramedic so you kind of need to know first aid and all. I think it's vitally important for anyone to know within day to day life.

**How long was it?**

It was approximately two whole school days which boils down to around twelve hours. I think it's a perfect amount of time for beginners to learn the basics of first aid with informing and keeping them engaged without boring them.

**How do you sign up?**

S.H.S.M.! I actually didn’t even sign up, like I signed up for S.H.S.M. here and I was approached shortly after by WHSS teacher Ms. Cork. She then had me enrolled to the first aid program which was vital to what I want to do in the future. It is quite easy: you just have to enroll in S.H.S.M.!



**Was it worth it?**

Oh quite so! I think it was a perfect experience for me and any other students! It made things a lot easier when it came to enrolling into the classes that I wanted to apply for in Post Secondary. I just really enjoyed it all around, definitely recommend it!

Now before you go, what do you say to those who are not considering First Aid training as an essential tool in day to day life?

I have to say that everyone should know it and have to take the course because a serious emergency could happen at anytime, to anyone. The way I see it is that if you were hurt in a serious situation you would probably want someone who is certified in that field who took the course to help you, so why not get those skills and be that person to someone else.


So if you don't want to take my word for how important and essential first aid training is, take it from someone who not only is certified after taking the course but who also wants to go down that field as a very possible career path. For more information you can talk to Ms. Cork here at Wellington Heights about getting you enrolled for First Aid training.





{% endfilter %}

{% endblock news_content %}
