---
title: Crash Due to Snow
author: Alex Stewart
order: 19
stub: A Lamborghini crash may have been the costliest example among dozens of crashes on Toronto-area roads early Friday, during the season’s first blast of wintry weather in the city.
image: /images/crime-stoppers-presentation-review.jpg
image2: /images/5YearArthurHero.jpg
image3: /images/a-newcomers-perspective-on-canada.jpg
image4: /images/al-meredith.jpg
image5: /images/alex-dawson.jpg
image6: /images/alex-stewart.jpg
image7: /images/alternatives-to-the-beep-test.jpg
image8: /images/are-cell-phones-necessary-in-high-school.JPG
image9: /images/are-hats-a-distraction.jpg
image10: /images/are-you-ready-for-prom.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<div class="yearbook-grid-container">
  <div class="yearbook-grid-left-column">
    <div style="height: 100px; width: 100px;"></div>
    <img src="{{ image }}" class="righttopimage2">
    <img src="{{ image2 }}" class="rightmiddleimage2">
    <img src="{{ image3 }}" class="rightbottomimage2">
    <img src="{{ image4 }}" class="middlebottomimage2">
    <img src="{{ image5 }}" class="rightbottomimage2">
    <img src="{{ image6 }}" class="mainrightimage2">
  </div>
</div>

{% filter markdown %}

A Lamborghini crash may have been the costliest example among dozens of crashes on Toronto-area roads early Friday, during the season’s first blast of wintry weather in the city.
The supercar slid down an icy street before crashing into a sidewalk, and not too far away, a Maserati suffered a similar fate.
Those were just two among dozens of collisions during the Greater Toronto Area’s messy morning commute.
There were 63 reported collisions overnight, Toronto Police Const. Clint Stibbe said in a tweet on Friday morning. Among the collisions Ontario police responded to were a jackknifed transport truck, a vehicle in a ditch, and a four-car crash.
Stibbe told CP24 that the collisions happened over a 12-hour period between 5 p.m. on Thursday and 5 a.m. on Friday, and most were preventable.
“We have to adjust our driving for the winter weather and unfortunately most drivers don’t make that adjustment, and that’s where we see this collisions occur,” Stibbe said.
“The fact that we even had one collision shows that drivers are making mistakes. . . . It’s unacceptable.”
Roads were relatively clear by 7 a.m., OPP Sgt. Kerry Schmidt said in a video posted to Twitter on Friday morning. Still, he urged drivers to remain vigilant due to rapidly changing conditions.
“If you’re not paying attention you could get yourself into trouble,” Schmidt said. “The weather is supposed to improve throughout the day, but then these snow streamers can come up and pop up at any moment’s notice.”
Speaking to CTV Toronto on Friday morning, Schmidt said the roads were “like a skating rink, causing cars to lose control.”
Environment Canada issued snow squall warnings, snow squall watches, and special weather statements for a swath of southwestern Ontario, cautioning drivers of reduced visibility on roadways.
“These are the first significant snow squalls of the season,” the agency wrote in a snow squall warning. “Snow squalls cause weather conditions to vary considerably; changes from clear skies to heavy snow within just a few kilometres are common.”

Police also responded to a garbage truck crash on a hilly stretch Finch Avenue west of Bathurst Street at around 12:35 a.m. Reports from the scene indicate that the truck slid into a pole amid icy conditions, knocking it over.
Two TTC buses that were travelling eastbound at the time ended up getting stuck on the hill as well.
The city remained under a winter travel weather advisory in the early hours of Friday morning; however the advisory was lifted at 8:25 a.m. amid improving conditions.
The roads, however, continue to be slippery and in some cases snow-packed north of the city.
Ontario Provincial Police are warning drivers to avoid unnecessary travel on Highway 11 between Barrie and Orillia due to icy conditions.
There have already been numerous collisions reported on that stretch of highway including one involving a mini school bus near Oro-Medonte Township that fortunately did not result in any injuries.


{% endfilter %}

{% endblock news_content %}
