---
title: Crime Stoppers Presentation Summary
author: Josh Burr
order: 69
stub: Learn how to get paid by other peoples crime!
image: /images/crime-stoppers-presentation-review.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/crime-stoppers-presentation-review.jpg" class="news-article-image">

{% filter markdown %}

On April 17th 2018 the Guelph Wellington Crime Stoppers visited WHSS. During their day at the school they had multiple presentations for students. A lot of information on how the Crime Stoppers system works was presented to the students in attendance.

Crime Stoppers works by hosting fundraisers such as mulch sales or BBQ lunches and dinners. Through these fundraisers they raise money to help pay to run the program and help “Tipsters” get their money.

The program works by the general public reporting crimes to Crimes Stoppers via phone or through the website, then you receive a code which is then later linked to your payment and file which you can use to add more information to. Any and all crime can be passed on to Crime Stoppers but immediate crime such as breaking and entering, and murder you should still call 911. The information you provide is then passed onto the police. If an arrest is made with the use of your information you receive a cash payment.

The great benefit about using Crime Stoppers is that through the investigation you remain anonymous, your name doesn't get brought up because no one will ask for it, and also you get paid.  You have no risk of being in danger. To collect your payment you meet with a Crime Stoppers representative in a public place. You then tell them your code and the cash is yours. No names or any sort of personal information gets passed on.




{% endfilter %}

{% endblock news_content %}
