---
title: Old Erin Public School Has Been Knocked Down
author: Ian Dafoe
---

{% extends 'news.html' %}
{% block news_content %}

{% filter markdown %}

On September 13th, 2017, the old Erin Public School located in Erin Ontario on main street has been knocked down for new town complexes. A company called Kensington Square Development, owned by Tom Dolson and Joe Dettbarn of Caledon, bought the school and property and
 torn it down on Sept, 13th. However, most of the Erin
community and past students that went there in the childhood are sad and/or stocked that its has been taken down.

Why the Kensington Square Development company says it was okay and time for the school to be knocked down is because the interior had been
massively damaged by water, mould, and vandalism. Anyhow,
why most community members say they didn’t want it to be taken down is because they
saw it as a historical designation. Old students said that they, their parents, and even their grandparents went to that
school. They believe the school was one as the biggest
designations in the town and didn’t want town history to be destroyed.

A community member named Tricia Szameit that lives down the street from the old
school raised concern about disturbing
the asbestos in the old school when it’s getting dismantle. She said, “I’m just really
concerned there is asbestos being
shifted into the air. As neighbours, I think we should have been notified of what
was going on and how the process was handled to make sure that we were safe.”
One of the company owners, Tom Dolson, put her worries to rest. He told her, “We can’t get a (demolition)
permit without doing that. We spent three weeks doing that. That has all been addressed.”

How the community wanted the save the old school was to create it as a historical designation. But in 2015, Erin town council denied to register
the school as a historical designation because it didn’t
have the historic preservation protection it needed. This brought investors attention into the town. When the Kensington
Square Development company was with an architect named Mark Krapez, they disgust
that the new complexes could be made with red brick and large windows to represent the style of the old school.

Tom Dolson was interviewed by Phil Gravelle of the Erin Advocate. He told Gravelle, “We recognize some of
the unique design elements in the
existing structure and hope to incorporate
  these in our building plans, features such as keystones and stone window sills along with the stonework that designates the boys'
  and girls' entrances are preliminary ideas. We understand
  the concerns of Erin residents and their attachment to this building. Many of you have either attended this school or have family
  members who spent their youth in the classrooms.”

The Kensington Square Development company hasn’t confirmed
  when the new town complexes will start being
  built and when the expected finish date will be. But as the Erin
   community and past students will know,
  the old Erin Public School will never be forgotten and always remembered.


{% endfilter %}

{% endblock news_content %}
