---
title: Erni's Business Profile
author: Gabrielle Beilke
order: 81
stub: Read about the great local resturant Erni's!
image: /images/ernis-place-business-profile.HEIC
date: 2018-05-10
---

{% extends 'news-article.html' %}
{% block news_content %}
<img src="/images/ernis-place-business-profile.HEIC" class="news-article-image">
{% filter markdown %}

The small town of Arthur is not known for its restaurants but it is home to one hidden gem, Erni’s Place. This family run restaurant is an enjoyable place to eat and it’s very quaint. The building itself is a decent size and provides plenty of tables. In the summertime this restaurant also offers patio dining and the patio is a very nice place to dine. It’s not just a place to dine in though, they also take call in orders and are able to provide delivery. The restaurant is cozy and has a nice gas fireplace to add to the atmosphere.

The food selection offered here is vast especially for a small town restaurant. They offer many typical things and a few things you wouldn’t expect. They offer ice cream, milkshakes and other sweets like butter tarts. Pizza is one of their most common menu items, and they offer a variety of toppings. Some items on their menu include my personal favourite of poutine and boneless wings. But they have almost anything you can think of, a little something for everyone.

Erni’s Place is home to an assortment of wonderful staff who are always welcoming and courteous. They often go above and beyond for their customers. The restaurant is run by Burgandy who often works alongside her mom and sister.

“I love working at Erni’s,” Said employee and student at the high school, Jillian O’Neill, “I’ve been there like 2 years and think it’s a great place to work, we have a lot of fun and we all get along so well. The food is great too, even my parents enjoy eating here.”

Erni’s is affordable for families, and the portions are often large and and very filling.

Erni’s is my all time favourite place to eat. I find it welcoming and familiar and immensely enjoy the food. I believe everyone should try it at least once, it’s that enjoyable.


{% endfilter %}

{% endblock news_content %}
