---
title: Grade 10 Litercay Test
author: Caleb Callaghan
order: 66
stub: Everything you need to know about the OSSLT and how to prepare for it.
---

{% extends 'news-article.html' %}

{% block news_content %}

{% filter markdown %}

##What Is The Literacy Test?

The literacy test is a compulsory standardized test that all Grade 10 students must pass
to get through high school and graduate. The mark that you need to get is a 75% or higher to be able to pass this test or else you have to retake it. If you are unable to attain the required mark, you will have to do a whole literacy course class.
The literacy course takes a full semester to complete and that could be a hassle if you’ve been planning any other courses in that time.

##Why Do Student Have to Take It

The OSSLT is mandatory for all students to test their knowledge and skills in a form of
     EQAO testing that all students have done before in grade 3 and 6. This test also provides them with data on how well each school does in the different areas of this test. Then they know which skills have to be worked on in that specific district or school.

##When Is The Next Literacy Test?

The next literacy test is coming sooner than you think or believe. April 10th. That's only a few weeks away from today and it's coming up really fast..

{% endfilter %}

{% endblock news_content %}
