---
title: A Student's Guide to Privacy on Facebook
author: Corbin Peter
order: 68
stub:
image: /images/facebook-privacy-guide.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/facebook-privacy-guide.jpg" class="news-article-image">

{% filter markdown %}

Mark Zuckerberg, CEO and creator of the multi-billion dollar website Facebook, has been in the hot seat for almost a month, receiving criticism about his loose security of users’ information. Not only is Facebook's worth in the billions, but their active user account is over 2.3 billion as of 2018. So why does this all matter? Well, chances are that you are a part of that 2.3 billion active user populace and your information isn't fully secured the way it should be. So its important in recent light to make sure you have control in your information and that's what this article shall guide and assist you to do.

Now if you have had your personal information out in the open without protection you would have recently been sent a message by Facebook itself informing you what information was at risk or taken. If this is the case, there isn’t much that can be done if the information was taken since it has already been taken. However if this isn't the case you can put your information on lock down.

If you go to your Facebook settings and go down to privacy, you shall receive a plethora of security options to cater to your privacy needs. You can edit things such as who may view and interact with your posts and information at the top of the privacy page. Below you can review all of your Facebook timeline, past and present, allowing you to tailor the privacy level individually as you please. Next, you can actually limit the amount of people can view or even interact or change your posts if need be. Lastly, under your Activity Security tab we have an option to confirm who can view your general profile even if they are not already your friend on Facebook. Many simple things can be fixed with a few careful moments of going over your profile’s security and privacy.

Now, of course, you can always do many simple everyday Facebook things instead, like not allowing your desktop, laptop or cellular device have the choice to save your password or username. This can lead to others having easy access to your account. Facebook also has your profile picture and access to your profile now before you are even signed into the website, that can be fixed with you exiting it at the top of the profile picture icon.


It's a dangerous world on the internet and just like in real life you must be sure you are protected at all turns when it comes to your online life. These steps aren't just for Facebook you can tighten up privacy on other websites and apps such as Instagram, Twitter and Snapchat. It's important and key to check over every small tab within your privacy settings with a fine eye because no one wants to shut themselves out of the web but no one should be left alone with zero security and protection. It's simply being cautious like the classic saying goes “ Rather safe than sorry” and after current events with Mark Zuckerberg and Facebook quite a many people are ending up on the sorry side of the spectrum.


{% endfilter %}

{% endblock news_content %}
