---
title: Finding Balance with WiFi Restrictions
author: Breann Stortz
order: 57
stub: More Wifi Restrictions at WHSS?
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

A lot of students at WHSS don’t like the restrictions when connected to the WiFi and others don’t mind them. They can get annoying from time to time, but they’re there for a reason. However, there used to be more restrictions than there are now. The restrictions that were lifted were the ones on social media platforms. Now, when connected to the internet, students can get onto social media like Instagram. But we’re still blocked from things like Netflix and Spotify. Would it be a good idea to unblock them, or block the social media again?

The social media was blocked before to keep students safe online. It was blocked so then they couldn’t post pictures at school of people who didn’t want their picture taken and things like that. However, students found their way around the restrictions by using their data and turning off the WiFi on their phones. Seeing that the students found a loophole, and that they were staying safe without it, the restrictions were lifted.

Apps and websites like Netflix, Spotify, and YouTube are blocked to keep students from getting distracted in class, even though social media is what’s distracting them now. Netflix and Spotify are completely blocked, only showing downloads. YouTube is a little different. In order to watch certain videos, you need to be signed in, which isn’t a problem, but it does seem unnecessary. Would it be a problem if these three were unblocked? Netflix may be the biggest distraction out of all three. Spotify does have a couple loopholes. Either using data or downloading the songs onto the phone. And the restrictions on YouTube are just unnecessary. Also, it would be good to point out that using Spotify for free is listening to songs illegally.

If all of the restrictions were lifted, then teachers would have the students getting even more distracted during class. Seeing that they think that going on social media during class for no reason is ok, what’s going to stop them from watching their favourite TV shows on Netflix during class? I think if teachers want to stop the distractions with all of the restrictions lifted, they should create some sort of “cell jail”, a bucket to put the students phones into to help stop them from getting distracted. Students can just put their phones into the bucket at the beginning of class.

If the social media platforms were blocked along with Netflix and Spotify, students will, once again, find loopholes. But unblocking Netflix is just a recipe for disaster. Like said before, the bucket for the phones is probably the best way to go. Already a few teachers do have it. But it would be more effective if not all, then most teachers did this.

The restrictions the school’s WiFi has right now are pretty good. There’s still the problem with the social media and listening to music in class, which both can be solved with a bucket. The YouTube restrictions, however, are unnecessary. They really don’t need to be there.


{% endfilter %}

{% endblock news_content %}
