---
title: Five Year Old Fire Hero
author: Ian Dafoe
order: 4
stub: On September 22nd, 2017, a five year old boy named Ben Wickens was recognized by the Wellington North Fire Service at the Arthur Public School gymnasium during one of their monthly
      assemblies for saving his family member’s lives when their cottage was on fire while they were asleep.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

On September 22nd, 2017, a five year old boy named Ben Wickens was recognized by the Wellington North Fire Service at the Arthur Public School gymnasium during one of their monthly
assemblies for saving his family member’s lives when their cottage was on fire while they were asleep.

Ben’s mother, Jessica Wickens, told the Arthur Enterprise News Editor, Mike Wilson, the cause of the fire that the fire chief had told her was,“there was a gas leak in one of the hoses and it was close enough to
 the pilot light on the stove that it caught fire one night”. However, she didn’t say any information of the exact location and date where the fire happened for their own personal privacy.

How Ben saved his family member’s lives was he heard the smoke detector go off and went to wake up his parents quickly. Luckily for the rest of his family, if Ben wasn’t sleeping on the
 living room couch that night, no one would have heard the smoke detector go off which likely means lives would have been probably lost from severe burns and smoke inhalation.

Mike Wilson asked Ben Wickens why he reacted the way he did. His response was, “because I was scared”. Why the Wellington North Fire Service
and the Arthur Public School staff wanted to recognize Ben was because his knowledge of what to do in the situation of a house fire is something that other students and parents should admire and recognize.

 Ben Wickens has shown the Arthur Public School student body and The Wellington North Fire service his courage, bravery, actions, education, and the important steps on what to do
  if you are in a house fire. Ben Wickens is without a doubt a prime example of a true, real life hero.

{% endfilter %}

{% endblock news_content %}
