---
title: Four Teenagers Stabbed
author: Alex Stewart
order: 15
stub: Four people were rushed to hospital with stab wounds near Scarborough high school Friday afternoon.
image: /images/news-teens-stabbed.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/news-teens-stabbed.jpg" class="news-article-image">

{% filter markdown %}

Four people were rushed to hospital with stab wounds near Scarborough high school Friday afternoon

The call came in just before 3:30 p.m. and David and Mary Thomson Collegiate, located on Lawrence Ave. E. just west of Brimley Rd., was placed in hold and secure as a result.

“It looks like a fight or altercation in the plaza or store or restaurant across the street from the school,” Toronto Police Const. David Hopkinson said Friday adding there were “multiple victims” some of whom may have “retreated to the school.”

No weapon was recovered at the scene and there was no immediate word on age or gender of those involved in crime, Police have not released a description of the suspect.

Toronto District School Board Spokesmen Ryan Bird confirmed one of the victims is a 17-year-old student of the school.

“I’m seeing on Social Media that the other victims might be teenagers aswell, but I’m not to sure that they are students at this point.” Ryan said.

Bird said that the hold and secure was lifted around 4:30 p.m. after about an hour

“It would have had to start right after school ended so it wouldn’t be a full school at the time,” He said.


{% endfilter %}

{% endblock news_content %}
