---
title: French Cafe
author: Caleb Callaghan
date: 2018-05-24
order: 106
stub: Wanna learn some quick history about the baguette? Well read this article to find out.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

On May 18th the french class at WHSS sold baguettes out of the cafeteria for lunch.
Each baguette was six dollars and you could choose what was on the baguette, along with part of the cafe being set up with tables for those who ordered them. The display was very nice and the baguettes looked, smelled and tasted delicious. Everyone who was there seemed to be enjoying the food and the overall of the school event. Plus how often do you get to eat a baguette living in Canada?

While baguettes are made all over the world now they originally started in Paris, France.
According to BonjourParis.com, French baguettes were originally huge and people had marvelled at the size when they were visiting France on any occasion. On top of being good it was eventually viewed as the french bread of that time. If you went to France you were always going to get one while you were there.

Paris may have started this trend, but it eventually spread into other European countries over the years. Eventually it was a worldwide famous bread. The man credited with making the first baguette is an Australian officer named August Zang. He also introduced Vienna bread (pain viennois)  and the croissant. As well the word baguette simply means baton or stick. This is referring to the shape of the baguette and how it's represented.

Many historians believed that during the revolution there was a shortage of bread. So when it ended bread was a high priority for the people of France. Many described the loaves to be six feet long (Two metres) in size, and women carried them on their backs like firewood. According to Bonjour Paris the french government stated: “Richness and poverty must both disappear from the government of equality.  It will no longer make a bread of wheat for the rich and a bread of bran for the poor.  All bakers will be held, under the penalty of imprisonment, to make only one type of bread: The Bread of Equality.”

The goal of the French Week event was to bring a cultural experience to Wellington Heights Secondary School. Selling the baguettes was to break even for the amount they bought them for. So overall everyone seemed to enjoy this experience and I personally enjoyed it as well and hope it continues in my next few years at high school.

While you can eat baguettes now a days without even much effort you can think back to a different time. While you ponder the french revolution and hope you’ll never have to carry baguettes on your back. The history of the baguette is tedious and quite long it represents a lot for the french people. So while your eating your baguette remember to enjoy every bite as you go.

{% endfilter %}

{% endblock news_content %}
