---
title: Funny Money Inc Review
author: Josh Burr
order: 76
stub: WHSS got a presentation that will be remembered their whole life
image: /images/funny-money-review.png
---

{% extends 'news-article.html' %}
{% block news_content %}

<div class="yearbook-flexbox-grid">
<div class="items">
<img src="/images/funny-money-review.png" class="news-article-image">
</div>
<div class="items">
<img src="/images/funny-money-steve-levine.jpg" class="news-article-image">
</div>

</div>
<div class="print-article">{{ stub }}</div>

<div class="screen-article">

{% filter markdown %}

On Wednesday May 9, 2018 the students of WHSS were treated to an assembly by the Funny Money Inc. The presentation was aimed at students to begin saving at the young age of 18 and help guide them to making good decisions for spending their money. The presentation had 3 main components watch your flow, control what you spend, and invest some dough.

Funny Money Inc is funded by the government of Ontario and other big companies like Meridian Banks, CBC television and Ontario Chamber of Commerce. Some of that money was handed out to students, all that was asked in return was a few simple questions. Such as “what is your name”.

The point of the presentation was to help students learn how to balance their earnings and start saving for some of the very expensive costs in life. Controlling your flow was the first task to help you save money. Watch your flow means learning not only about how much money you spend, but also how much money you earn.  This is the most important task. If you don't save enough money you won't be able to pay for things like schooling, cars, and houses!

The presentation was given by Steve Levine who has been a comedian for over 20 years. He has also been a part of various television show including Just For Laughs Comedy Festival.

Some pros to the presentation was I didn't get bored for the whole presentation, and Funny Money Inc managed to keep a good steady flow for the duration of the presentation and lots of students got money.

Cons I didn't get any money…..

I have noticed some changes to how much I spend after this presentation I have saved a lot more money and I have started thinking about investing some money in stocks or in a high interest savings account.

{% endfilter %}

<div class="pull-quote">

“Empowering students with the knowledge they need to make good financial choices.”
</div>
<div>
This is the Funny Money Inc goal and during the presentation they definitely stuck by it. Overall I would give the presentation a 90% for their ability to stick by their goal and also make some students laugh.

</div>
</div>

{% endblock news_content %}
