---
title: What Could Be the Tech Future for Schools.
author: Breann Stortz
date: 2018-04-26
order: 103
stub: What will be the future technology for schools? Come and find out un this article!
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Looking back at the history of technology, it’s clear that it has developed quite a lot. Especially for schools. It’s gone from writing on chalkboard desks to everything, or almost everything, being online. However, instead of focusing on the past, let’s change it to the future.

Google Classroom is probably the most used Google App by teachers. It can allow students to submit any assignments that need to be handed in, it allows teachers to mark those assignments, and it shows the students the mark they got. This not only saves paper, but it also can be done at home at any time. It can even be used on your phone. How can this develop? This system can be used for tests and even exams. School work, projects, tests, anything done on paper could be done solely online.

A Google App called Google Slides, which can be reached on Google Drive, is used at the moment for presentations, which is its main purpose. How this can change is that is can be used a lot more for notes than a chalkboard or a whiteboard. In the future, teachers may completely stop using the chalkboard and whiteboard all together and switch over to presentations on a TV, which a few teachers use now.

Another thing could come into schools for the first time. There’s something out there called artificial intelligence, or A.I. for short. At the moment, all it can do is either vacuum the floors or throw a ball; small things like that. Maybe not anytime soon, but sometime far into the future, it is predicted that A.I. could have the ability to teach students. In the movie Wall-E, although there are many robots in that movie, there is a scene where there’s a robot teaching kids the ABCs. So with lots and lots of programming, it can be done. There’s just the chance of it taking over the world.

What about video games? After many researches and experiments done by loads of universities, the results have shown that video games can be good for people. They help with things like focus, attention, and hand-eye coordination. In schools right now, there’s a game called Kahoot, which is a quiz game. You can create your own quiz and using a phone or a computer, anyone with the code can join. This is used for studying for tests and getting a better understanding of something. It can also be used for fun.

Other things that can be used in the future can be things like virtual reality for looking at landmarks, putting wifi into school buses so students can do any school work they can going to and from school, using voice or thought tech where touch screens are no longer used, and combining facetime or video chat with Google Classroom, therefore letting everyone stay home and still get an education. So if technology for schools continue to evolve, and it will, it can result in staying home and still learning. There are, however, those things like wood and metal tech, but you can still go out and buy the things you’d need, use the video chat, and still learn how to use it. Heck, even video chat could turn into holograms in the future.

So technology in schools has changed a lot over the years. And it’s going to keep changing and evolving in the future. It is even changing right now. Let’s focus on the future and look back at the past only to see how far technology has grown.

{% endfilter %}

{% endblock news_content %}
