---
title: Getting projects in on time for classes
author: Kristen Maude
order: 54
stub: We all have to do projects in class. Whether it’s your science class or your music class, there will be an assignment or a project that is needed for classes. But what happens when you don’t get it in to the teacher on time? Well for starters it lowers the grade you would get on the project.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/getting-assignments-in-on-time.jpg">

{% filter markdown %}

<h1>Getting projects in on time for classes</h1>

We all have to do projects in class. Whether it’s your science class or your music class, there will be an assignment or a project that is needed for classes. But what happens when you don’t get it in to the teacher on time? Well for starters it lowers the grade you would get on the project.

Some projects are worth around 10%, so if that doesn’t get done then that’s around 10% off your final grade for that class. Some students find it hard to work on something by themselves. If you have any problems with your project you can always ask a friend if they can help, or even your teacher. If you feel overwhelmed by it then just look at the outline. Most projects will have different parts. Just focus on one part at a time instead of trying to take on all of it at once. It’s similar to when you’re writing a paragraph on something you read. If you take jot notes then it will be a lot easier to form a paragraph.

If you’re doing a group project always check in with your group members to make sure that their getting their work done. And if they’re not understanding what they need to do, help them out. If you don’t fully understand what it is they’re working on, ask another group member or even your teacher to help you. This can help greatly when doing group projects because if you can see where everyone is then you can find a way to help them get farther into the project and do the best it can be.

These are some consequences that not getting your projects on time can affect your grade. It’s good to find ways to help you and your group members to get a good mark and get projects done. Remember the ways to help next time you do a project even think of your own checklist to make sure everything gets done and in on time.


{% endfilter %}

{% endblock news_content %}
