---
title: Getting Caught Up After A Long Break
author: Josh Burr
order: 78
stub: Some quick tips to help you get caught up after a long break!
date: 2018-05-3
image: /images/getting-caught-up-after-a-long-break.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/getting-caught-up-after-a-long-break.jpg" class="news-article-image">

{% filter markdown %}

A lot of students need time to take off school during the school year, whether they are sick or on vacation, it can take some time to get back into the swing of things. So here are some good tips from  to help you get back on track.

First of all if you know you are going to be away for a while then ask a friend at school to help you out ask them to get some notes and worksheets for you. Make sure to catch up with them on the work in school before you return to be ready to start learning in class again.

Next you should have a simple strategy to make sure you complete your big  assignments, after a break your mind takes some time to adjust back to the school environment. Start by setting up a time schedule to allow yourself to gradually get your assignments done. Working 20 minutes then taking a 10 minute break can really help someone keep their mind clear on the task at hand. NEVER put off your work or procrastinate as you weren't at school you might not be sure how long assignments actually take to complete.

WHSS student Ryan Seles said this about his catching up on work after he was sick, “The teachers didn't give me any sympathy. They said this was high school, you need to work harder and catch up for your missed days.” (Ryan was sick with the flu for a whole week) Ryan caught up on his work by staying in at lunch to catch up . He also talked to his teacher to prioritise his work to know what he should get done first. As you can see, it is a great idea to have a friend to collect worksheets and notes for you while you are away.



{% endfilter %}

{% endblock news_content %}
