---
title: Getting Ready For Exams
author: Caleb Callaghan
date: 2018-05-10
order: 104
stub: Want to find out how to do well on your exams? REad this article to find out.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Getting ready for exams can be stressful for everybody, especially if you don’t know where to start! In this article I’m going to be giving you tips and tricks to stay up and on top of your exams. Whether you need to organize yourself more, or you just need to sit down and focus. I’ll give you all the tips you can get, and make sure to remember these for future use.

To start off being organized makes everything easier. If you’re organized you can find notes and details you may have missed for a specific unit. It also gives you the basic layout for the rest of the tips I’m going to give you. Once you’re organized, try to find a friend in the same class so you can review notes together and make sure you have everything. Even quiz each other on the different scenarios that could possibly appear on the exam.

Remember to take regular breaks when you’re studying. Science says its actually counterproductive to study as much in one night as possible. Also, If possible drink lots of water while you take your breaks. After all we are  70% water to begin with! It also keeps your body cooled and focused. On top of that it provides your body with lots of important nutrients that are vital when you’re studying.

Explaining your answers to other people is a good strategy to use. When you explain it to them try and be as if the other person has no clue about anything you're saying. Doing this will prepare you for answering similar questions on the test. Plus it will help you understand your answer better than you did before. By going through it you will quickly find all its mistakes and or improve it.

The most important thing is to remember to eat some food while your doing all of this. Keeping your nutrients up will help your mind absorb facts. Some foods even help your memory and the speed at which you process information. Foods like fish and nuts are especially good at this. It's also important to remember to have a good meal before your exam. It will overall help you remember details that you study and keep you focused.

A important thing to remember is that a test takes a lot of effort and could be extremely tiring. Your best friend in this situation is sleep. Getting a good night’s sleep before an important exam could make all the difference. It gives you lots of energy to think and helps your memory settle in overnight. The minimum amount of sleep you should get is 8 hours.

My last tip is to stay relaxed and don’t over complicate anything if you can help it. So if you can’t solve a question come back to it at the end. Sometimes you can find a similar question, or you will remember by the end of the test. Sometimes you just have to be patient and wait. Those were all the tips I have for you, so good luck on your exams!

{% endfilter %}

{% endblock news_content %}
