---
title: Jumping Harness Installed at Mount Forest and District Sports Complex
author: Hunter Fernely
order: 29
stub: Lebel Harnesses installed a training and safety harness for figure skaters at the Mount Forest and District Sports Complex on Wednesday, Nov. 29.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

Lebel Harnesses installed a training and safety harness for figure skaters at the Mount Forest and District Sports Complex on Wednesday, Nov. 29.
Marc Lebel designed the harness because he was tired of seeing skaters get hurt. He installed it in his rink in Buffalo, where he and his wife were coaching, about 30 years ago.
“I wish I would have had it in my  day,” said Lebel. “It would have saved a lot of bumps,grinds and scrapes.”
Lebel was a skater for Canada, competing at the senior national level before turning pro. He then skated for “10 wonderful years” as a featured performer with Ice Capades, Holidays on Ice and Ice Follies.
“I put the harness up in my rink 30 years ago, and two years later, got into business, because I was getting too many questions — ‘What is that? Where can I get one?’” said Lebel.

Lebel has retired from skating, but he still travels all over North America installing harnesses.
The harness allows coaches to work with skaters while providing safety. The skater still must perform the skill under their own strength.
Skate Canada Mount Forest has been fundraising and planning to get the harness installed for five years. The total cost to the club is over $6,000.
“We’re very excited,” said club president Nicole West.
“It’s a great teaching tool for kids. It’s great for development and it prevents injuries. I think it will improve our skaters’ jumping technique. Also, I think it’s going to open doors for skaters in neighbouring clubs to come and guest skate  so other skaters will have the benefits of such a great tool.”
The club is still looking for community support through donations.
“Anybody who does give a donation will have their name up on a special plaque on the wall on the walking track. It will be harness donators only,” said West. “They will be part of the history of this development. Marc has lots of harnesses around, but there are not any clubs right in this vicinity that have it, so it’s a really great advantage for this community.”
The harness was installed before the training season, so fundraising is still ongoing.
“We wanted it as a tool for the season. To install it later in the year when we have done all our fundraising, it doesn’t make any sense. It needs to be a tool for test days and competitions coming up,” said West. “We were lucky to have the support of the township and H Bye Construction. Without their support, it would have cost far more money.”


{% endfilter %}

{% endblock news_content %}
