---
title: Is Girls Take Back The Gym Sexist?
author: Ryan Seles
order: 36
stub: On March 5th, a survey was passed around about Girls Take Back the Gym. Here are the results.
image: /images/have-we-moved-past-girls-take-back-the-gym.JPG
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/have-we-moved-past-girls-take-back-the-gym.JPG" class="news-article-image">

{% filter markdown %}

For as long I’ve been a student at WHSS, “Girls Take Back the Gym” has been a regular part of the school week. Every Thursday, the gym is off limits and is open to female students only during lunch hour.

I myself, and a majority of students at WHSS (according to the survey I executed earlier this week) find this to be very sexist and unfair. We feel this way for several reasons. Firstly, it forces students to label and categorizes themselves, which seems contradicting in a school that fights for equality.

Secondly, the title “Girls Take Back the Gym” implies that the gym has belonged primarily to the males and/or another gender. That in itself can seen as intimidating and mislead students to believe that all genders are in competition with each other. This is unfair because no gender should be recognized as superior to all others.

Upon interviewing WHSS student Joshua Burr, he expressed to me his feeling of discrimination when it comes to this weekly event. “I feel that ‘Girls Take Back the Gym’ is very unnecessary and completely contradicts the message of equity revolving around our school”.

A female that participated in my survey told me “I feel like this just singles me out instead of making me feel like I’m an equal to my peers. It just defeats the purpose”.

Based on these interviews and survey results, I feel that it is safe to conclude WHSS students and I alike, believe that we are past “girls take back the gym” and should keep the gym doors open to all students, at all times.


{% endfilter %}

{% endblock news_content %}
