---
title: Hungry For Talent Tuesday
author: Ian Dafoe
order: 5
stub: On Tuesday, September 19th, 2017, Wellington Heights Secondary School had their first,
      “Hungry For Talent Tuesday”, in their cafeteria during lunch break.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

  On Tuesday, September 19th, 2017, Wellington Heights Secondary School had their first,
  “Hungry For Talent Tuesday”, in their cafeteria during lunch break. The participants who presented
  their acts in front of the audience were Ian Dafoe, Hayley Goreski, a student with his name unknown, and volunteers who did their own
  impressions of people/characters we know.

  We asked Hayley Goreski questions about her act and what she thinks about “Hungry For Talent Tuesday’s”.
  Her response was, “Well, I really enjoy doing the show, but I wish more students had the courage to perform!”. In case you didn’t know who she is, she is one of the most
  favourite acts to ever hit the WHSS cafeteria stage with her amazing singing and guitar/ukulele skills!

  How “Hungry For Talent” came into place in WHSS was Mr. Hoskin took charge and took responsibility of organizing the acts and materials needed
  to create an amazing one of a kind show. Also, Mr. Norton likes to help take charge on the day by helping to prepare the stage and the electronics (computer, speakers, etc).
  Why “Hungry For Talent Tuesday’s” started was to give students the opportunity to show off
  their special talent(s) to the entire school body. All the acts would like to say thanks to Mr. Hoskin and Mr. Norton for their time and effort to create and set up a show that made them a “WHSS student celebrity”

  Also interviewed was Ian Dafoe. We asked him how he gets the confidence to do crazy things on stage that no one would dare to do. His response was, “I get my confidence from my brain.
  I tell myself that the people that are willing
  to stay and watch are interested or enjoy watching my act.
   But really, my key way to do crazy things on stage is to not give a damn what people think. They can laugh at me, laugh with me, I don’t care. I’m on stage to be fun
   entertainment and to play hard core, bad boy, rock n roll. The way it should be!”.

  The next talent show is scheduled for October 10th, 2017 in the cafeteria. If you’re interested and think you got what it takes,
  then contact Mr. Hoskin as soon as possible to let him know what you’re going to do and to let him reserve a time for your act to be shown in front of
  the entire school body! For the people
  who are going to watch, look forward to new exciting acts.

{% endfilter %}

{% endblock news_content %}
