---
title: Is Drone Warfare Ethical
author: Gabrielle Beilke
order: 1300
date: 2018/05/03
stub: Today drones or UAVs (unmanned aerial vehicles) are commonly used in warfare. With the advancement of technology in our world drones appear to be the natural progression of our warfare, why would a country put their own people at risk when they can eliminate the threat with a few clicks of a button. Over the years as drone warfare became popular it roused the question, is it ethical?
image: /images/is-drone-war-ethical.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}
<img src="images/is-drone-war-ethical.jpg" class="news-article-image-medium">
{% filter markdown %}

Today drones or UAVs (unmanned aerial vehicles) are commonly used in warfare. With the advancement of technology in our world drones appear to be the natural progression of our warfare, why would a country put their own people at risk when they can eliminate the threat with a few clicks of a button. Over the years as drone warfare became popular it roused the question, is it ethical?

The first instances of the modern military drones we know today appeared in 1973 when DARPA (Defense Advanced Research Projects Agency) created two prototypes. Israel pioneered the use of UAVs, utilising them for warfare, surveillance, and decoys. Inspired by Israel, America took to the UAV trend, investing into a number for themselves. The first instance of UAVs being used in major conflict was the first Gulf War. But on October 7 2001 the first drone kill took place in Kandahar, fired by an air force pilot at CIA headquarters in Virginia. It was the start of a new age of warfare.

Like all things there are both positive and negatives with drone warfare but the overall debate is, can drone warfare be considered ethical?

One of the major points of drone warfare is that it allows countries to carry out operations in foreign states without risking the lives of their own citizens. In the past when it came to high risk operations countries would send their troops to carry it out, suffering casualties in the process but now drones can be sent in and often the mission can prove successful and none of their troops lives are lost. But this can also prove to be a point against drones because the lack of casualties equates to a lack of consequences. The absence of consequences when it comes to people making decisions often makes it easier to do something, and easier to forget what you’ve done. Drones allow for a level of detachment that makes any guilt that someone would feel over killing someone much less palpable.

Another major point against drone warfare is the civilian casualties. Though drones have been successful in killing terrorist leaders and militants, the collateral damage has arguably been much worse. Between 2009 and 2011 the US government claimed to have caused the deaths of between 64 and 114 “non-combatants” however other sources have claimed the number of civilian casualties is actually between 380 and 801. The US was even responsible for using a drone to bomb a civilian wedding in Yemen. Like any type of warfare however there are always intended casualties and unintentional civilian casualties, as long as war exists this will continue to happen as it has always happened.

Many people find the idea of a faceless drone murdering people while the operators hide behind desks to be shameful. But studies show drone operators are just as likely to face the risk of PTSD as combat soldiers would.

Warfare has always been advancing, humans went from swords and horses to guns and tanks and now drones have become the next big thing. As for whether or not drone warfare is ethical, ethics and morals are opinion based and it’s up to people to decide for themselves what’s wrong and what’s right. Whether you think it’s wrong or right, governments have made it clear it’s not going away anytime soon.


{% endfilter %}

{% endblock news_content %}
