---
title: Isolationism vs. Interventionism - Part 2
author: Gabrielle Beilke
order: 59
stub: Read about Canadas military spending! 
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

Last week this topic was introduced by talking about the cons of both isolationism and interventionism. This week the article will focus on the pros of each and Canada’s role.

Many countries consider an isolationist view because of how much money it could save them. The total for North American military spending in 2016 was $626 billion dollars. Specifically America used $584 billion of their total $3.9 trillion dollars spent in 2016 on their military budget. Of course, not all of this spending was on international causes: in fact only $244 billion was spent on operations, but still imagine the money that could be saved if America was isolationist. Isolationist countries have no need to pour billions of dollars into military and defense when they’ll never need it. Think of Canada, if we were isolationist we would have little to no use for our military, is there any domestic situations in which full use of our military and military equipment has been needed? The answer is no, the majority of our military force is used overseas on operations because we have no use for it here.

Another positive aspect  of isolationism is that it allows countries to focus on their domestic policy. A lot of time and money is spent on foreign policy but isolationism allows countries to save time and money and put it into their own country. This also makes citizens happy because some are outraged when their country pours millions of dollars into other countries.

A pro for foreign intervention and one of the strongest reasons why interventionism is popular, is that most of the time intervening is the right thing to do. As human beings most sensible people believe that killing is wrong, in a lot of cases where foreign intervention comes into play it’s when citizens of a country are dying, either because of civil war, poverty, uprisings or some external force. People have a general agreement that letting people or powers get away with injustice is wrong, and therefore they believe that our countries are obligated to help in any way they can.

Another pro is that many countries are involved with the UN and many countries support foreign intervention, and when a country is isolationist it puts them away from all that. Simply put, as a country when you go out of your way to help other countries the general opinion of your country goes up as opposed to isolationist countries where the general opinion tends to go down. This leads back to the previous point, because many people think interventionism is the morally right thing to do this easily affects people’s opinions.

Canada has never considered an isolationist stance. Canada has always been known for its unwavering support in peacekeeping and protecting foreign countries. Under the Trudeau government, plans to increase military spending by 73% have begun. That would raise Canada’s military budget from $18.9 billion to $32.7 billion.. This strengthens Canada’s commitments to NATO and NORAD, Canada doing this shows that they are not and never will be an isolationist country. Interventionism is the best possible stance for Canada: the only reason Canada became a global superpower was thanks to its initial involvement in the UN and their peacekeeping.






{% endfilter %}

{% endblock news_content %}
