---
title: Kiddie Recalls Fire Extinguishers
author: Alex Stewart
order: 14
stub: Kidde has recalled more than 40 million fire extinguishers used in homes, vehicles, and boats because they can become clogged or fail to discharge during a fire.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/news-extinguisher.jpg" class="news-article-image">

{% filter markdown %}

Kidde has recalled more than 40 million fire extinguishers used in homes, vehicles, and boats because they can become clogged or fail to discharge during a fire.

The company has received one report of a related death in 2014, when a fire extinguisher failed to work during a car fire. There have been 16 injuries, 91 reports of property damage, and 391 reports of the extinguishers either not working at all or not working properly.
But the numbers don’t stop there. The recall includes 134 models manufactured as far back as 1973 and as recently as August 2017. All the units have a plastic handle or plastic push button. Units with a metal handle or valve assembly are not included in the recall. The plastic handles and buttons can break or detach when force is applied.

The fire extinguishers were sold under dozens of different brand names, all listed on the Consumer Product Safety Commission recall notice.
This is the third time Kidde has issued a recall for this type of fire extinguisher, and it’s by far the largest. The earlier recalls were made in March 2009 and February 2015.
“This recall raises very serious questions about how millions of defective products ended up in the marketplace and why it took the company years or even decades to find out about the problem or take it seriously,” says William Wallace, policy analyst for Consumers Union, the policy and mobilization division of Consumer Reports. “Kidde owes the public an explanation and the company shouldn’t rest until it gets as many of these fire extinguishers returned as possible.”
The recalled fire extinguishers came in red, silver, and white and were sold nationwide for $12 to $200 at department stores, hardware stores, and home improvement stores, as well as at online retailers, including Amazon and ShopKidde. The fire extinguishers were also sold with some commercial trucks, recreational vehicles, personal watercraft, and boats.

What to Do
Kidde is offering free replacements to anyone who owns one or more of the recalled units. “Consumers with a recalled fire extinguisher should contact Kidde right away,” Wallace says.

To claim a replacement, check the brand name and model number of your fire extinguisher against the CPSC recall notice. The model numbers are printed on the body of the fire extinguisher. You can call Kidde at 855-271-0773 or visit the Kidde website, there you can fill out a form to get a new unit.
Kidde says it will ship the replacement within 10 to 15 days of getting your information. No receipt is required. The company is asking consumers to keep their current model until they get the new one. It will arrive with instructions on how to return the old one.

How Old Is Your Fire Extinguisher?

Though the recall goes back 44 years, no one should keep a fire extinguisher that long. “If you have a rechargeable fire extinguisher of any age regardless of whether it’s covered by the recall 	and you are not sure if it is in good working order, you should replace it immediately,” says Don Huber, director of product safety for Consumer Reports. “If you have a non rechargeable fire extinguisher in your home 12 years older than the date of manufacture, you should also replace it. That’s because the fire retardant chemicals lose effectiveness over time.”

{% endfilter %}

{% endblock news_content %}
