---
title: Mobile Emergency Alerts in Canada
author: Alyssa Clark
order: 54
stub:  Mobile Emergency Alerts is an network that sends emergency information directly to cell phones.
image: /images/mobile-emergency-alerts.jpg
---


{% extends 'news-article.html' %}
{% block news_content %}
<img src="/images/mobile-emergency-alerts.jpg" class="news-article-image">

{% filter markdown %}
Mobile Emergency Alerts is an network that sends emergency information directly to cell phones.

The two mobile emergency alerts that are new to Canada are the Wireless AMBER alert, and the CEMA alert for LTE phones.

The AMBER alert is a province wide initiative that broadcasts a message to everyone with up to date information about a child that has been abducted. America’s Missing: Broadcast Emergency Response was created after a 9 year old girl named Amber Hagerman was abducted in Texas in 1996. This system was created to broadcast information about a child has been abducted so people can help in the search. These alerts are broadcast through televisions and radios.More Recently these messages have started to be sent through cell phones, too.

The CRTC which stands for Canadian Radio-television and Telecommunications Commision requires that all wireless service providers must distribute wireless public emergency alert messages on their Long Term Evolution (LTE) networks.
Each province manages their own alerts and the national system for Canada is Alert Ready. Alert Ready is a system that sends life saving alerts to Canadians through televisions, radios, and now cell phones. The government officials put together a list of life-threatening disasters that are to be broadcasted.

Having these emergency alerts available to mobile devices is an excellent idea because most people have a cell phone on them all the time. Being able to alert everyone about a child that has been abducted, natural disasters, terrorist attacks, and extreme weather is important because it will save lives. It allows everyone to take action and help others whether it’s searching for a child or getting ready for a bad storm. With the mobile alerts being able to send a message to specific locations this creates a very fast accurate alert to the people who are in immediate danger. Being able to alert people by broadcasting to their cell phones seems to be the faster way to alert people than broadcasting through radio and television.

The only issue to mobile emergency alerts is that it does not work on all cell phones.  Hopefully they will find the technology to reach everyone no matter how old the phone or how slow the network is. This system is too valuable not to be available to everyone.

{% endfilter %}

{% endblock news_content %}
