---
title: Musashi Auto Parts
author: Breann Stortz
order: 61
stub: All you need to know about working at Musashi Auto Parts!
image: /images/musashi-auto-parts-business-profile.JPG
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/musashi-auto-parts-business-profile.JPG" class="news-article-image">

{% filter markdown %}

Musashi Auto Parts started in Japan and has been in Arthur, Ontario for over 20 years. Not only does Canada have a Musashi factory in Arthur, but they also have an office in Waterloo as well. Accounting Manager Tena Stortz has been interviewed for this business profile.

First, she was asked what it was like trying to get her job. She said “I sent in my resume and then they called me for an interview. My interview was with 3 people, the HR manager, the Operations manager, and the President. The President was from the parent company in Japan and he liked to throw people off by speaking to them in only Japanese and seeing how they reacted.”

“Manage the accounting department to meet deadlines and report accurate financial statements,” is what she does at Musashi Auto Parts.

Tena isn’t working there alone. Her husband, Jim Stortz, also works there, and so does her sister-in-law, Dee Stortz. She also has made a few friends over the years that she has worked at Musashi.

Her favourite part of Musashi was that the benefits are good and most people are very good to work with. However, her least favourite part of working there was …

Tena said that the working environment was good. The jobs that Musashi provides include production line workers, accounting, purchasing, quality control, maintenance, technical, production control,  and human resources. When she was asked if she would recommend working at Musashi to anyone, she said “Yes, benefits are good, pay is reasonable..”

Some of the awesome events Musashi holds are swimming on Family Day, cleaning on Earth day, outdoor activities at the Summer Picnic, an adult Christmas party, and a kids Christmas party. Musashi also from time to time sponsor free skating at both the Arthur and the Mount Forest arena.

This month, Musashi Japan is celebrating 80 years. Tena Stortz definitely wasn’t working there for all of it but she seems to enjoy what she does. Musashi Auto Parts has many different job opportunities for students after College or University.



{% endfilter %}

{% endblock news_content %}
