---
title: Music During Class A Distraction, or Focus Aid?
author: Jacob Arsenault
date: 2018-03-29
order: 52
stub: Music During Class?
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

Music has been popular ever since 1000 A.D. But should students be allowed to listen to it during classes? This question has been asked many times before, but there has never been a definitive answer. A small Taiwanese study in 2011 got the 133 participants to perform reading comprehension asks while listening to nothing, hip hop, or light classic music. This study shows that the more severe of music, the worse the concentration was.

When asking students about this, they usually reply with “it helps me focus.” This is sometimes true. For example, say you’re listening to music while reading, not everything that you’re reading will register. But with math, it can majorly help. This is because you’re not processing the words, but thinking and writing things down. Music is a huge destresser, so it can also help in that way when studying.

There are other studies that support and contradict this study. Many studies show that listening music before you study has many benefits. A study made in july of 2011 at the University of Wales in the UK placed people in 5 different environments. A quiet environment, listening to liked music (a song chosen by the student), listening to disliked music (Metal), one word being repeated multiple times(the word three), with a variety of words (random digits from 1-9). There was no difference between liked music, disliked music, and the variety of worlds. This means it was as distracting as background noise. A study from the University of Dayton also shows that listening to instrumental music can benefit you.

After interviewing 20 Students, 50% of the students say they do listen to music with lyrics, and they do think it helps them work. 10% of students said they listen to it, though it may not help them, and they only listen to it during certain subjects.

Overall, unless it is Mozart, or instrumental, it’s a bad idea to listen to music while working, while before studying it is a great idea to calm you down.

This article was written while listening to music

{% endfilter %}

{% endblock news_content %}
