---
title: Norwell District Secondary School Trains Students For Careers in Agriculture
author: Ian Dafoe
order: 12
stub: In Palmerston Ontario, Norwell District Secondary School has announced 2 new educational courses which they call the Local Environment Agriculture & Food program (LEAF) which can be taken in the beginning of September 2018.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/NorwellLEAF.jpg" class="news-article-image"/>
<img src="/images/NorwellDSS.jpg" class="news-article-image"/>

{% filter markdown %}

In Palmerston Ontario, Norwell District Secondary School has announced 2 new educational courses which they call the Local Environment Agriculture & Food program (LEAF) which can be taken in the beginning of September 2018. Grade 11 students have the opportunity to take the Environmental Science course and grade 12 students have the opportunity to take the Food & Healthy Living course. Both courses count as 2 credits which are ½ day each school day. These courses are the first to be released and tried out by Norwell D.S.S. students. This program will allow students to explore with local farmers and get to see open career opportunities once their schooling is complete.

Why the school decided to create these courses was because students would learn from appealing activities such as growing their own food from the garden or the greenhouse, learning to cook healthy meals and trying local foods, and creating connections between the environment, agriculture, and health of the community and themselves.

The Norwell.D.S.S. principal, Paul Richard, said, “ The LEAF program will add to Norwell’s developing approach of hands-on learning in their hallways. Those walking around Norwell Secondary will notice a different approach when it comes to things like community areas”.

How Norwell D.S.S. got the idea of the program to become an actual credit course starting September 2018 was they got members of the Upper Grand District School Board to vote on it. The board members said great things about the program. One board member said she feels abandoned for not being able to join a program like this when she was in high school and another board member said it would definitely be beneficial.

Every “Norwell Redman” is excited about these new programs available next school year.  They are trying to find a way to fit them into their schedules. Students will enjoy these learning opportunities while earning credits.


{% endfilter %}

{% endblock news_content %}
