---
title: New Candy Shop in Arthur
author: Hunter Fearnley
order: 26
stub: A new store opened up in arthur over the weekend of november 25th  and anyone with a sweet tooth will be happy to hear this because it's a new candy shop!!!
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/Candy.jpg" class="news-article-image">

{% filter markdown %}

A new store opened up in arthur over the weekend of november 25th  and anyone with a sweet tooth will be happy to hear this because it's a new candy shop!!!

Yes you read that right a new candy shop. for those of you who need your daily sugar rush you can go downtown and get your daily sugar fix you just need to stop and shop at the. candy shop. It's still not fully open there still waiting to get there sign as well as waiting on some shipments like there ice cream and more of the new wackyer candies. Youll sure be in for a treat when you come to this store as well as a blast from the past as shes getting candy that doesn't get sold in arthur anymore as well as some new candy that's never been in arthur yet such as lollipops with scorpions in them and root beer flavored mike and ikes there's also some different flavored ice cream. So be prepared to get some sugar on your taste buds and get some new candy because it's now open and ready for business bring your parents bring your kids bring the whole family there's bound to be some sugar to sweeten up there day
The store is located at 207 george street just across from ida where the old Labelle flowers was located.


{% endfilter %}

{% endblock news_content %}
