---
title: North Korea Warns of Nuclear War at "Any Moment"
author: Hunter Fernley
order: 6
stub: The United States said its not ruling out the possibility of direct talks with North Korea, Deputy Secretary of State John Sullivan said on Tuesday, hours after that Pyongyang warned nuclear
      war might break out at any moment.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

As of  Oct 17, 2017 7:08 AM The United States said its not ruling out the possibility of direct talks with North Korea, Deputy Secretary of State John Sullivan said on Tuesday, hours after that Pyongyang warned nuclear
war might break out at any moment. Because of that talks between the adversaries have long been urged by China in particular, but Washington and its ally Japan have been

reluctant to sit down at the table while Pyongyang continues to pursue a goal of developing a nuclear-tipped missile that could hit the US. South Korea and the U.S. began weeklong joint naval
 drills in the waters around the Korean peninsula on Monday, involving about 40 ships from both militaries, including the nuclear-powered USS Ronald Reagan aircraft carrier, South Korea's defence ministry

said.  North Korean state media said Tuesday the allies' "desperate efforts"
to block North Korea's advance only showed it should continue its nuclear

program "to the last." "China still hopes that all parties,
in this situation where things on the Korean peninsula are highly complex and sensitive and can exercise restraint and do more to benefit the lowering of tensions in the region," Lu told a daily
news briefing. Now this leaves korea scrambling

for cash the UN Security Council has unanimously ratcheted up sanctions on North Korea over its nuclear and ballistic missile programs since 2006. The most recent UN sanctions banned exports of coal, iron ore
and seafood, aimed at cutting off one-third of North Korea's total annual exports of $3 billion. Experts say North Korea has been scrambling to

find alternative sources of hard currency to keep its economy afloat and to advance its weapons program
further. Even japan is getting scared that Korea will try to overpower others and that they could succeed. Hopefully by the end of this the world doesn't become the new fallout.

{% endfilter %}

{% endblock news_content %}
