---
title: Not Coming To Class Prepared
author: Kristen Maude
order: 47
stub: We all have some things that we need to bring to classes like pencils, pens, and notebooks. But what do you think happens when you don’t? Having to ask the teacher to leave the classroom to go get something from your locker disrupts the lesson you’re learning, and annoys your teacher. It’s okay if it’s once in a while, but you should always make sure that you have everything you need before heading to class.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="images/not-coming-to-class-prepared.jpg">

{% filter markdown %}
We all have some things that we need to bring to classes like pencils, pens, and notebooks. But what do you think happens when you don’t? Having to ask the teacher to leave the classroom to go get something from your locker disrupts the lesson you’re learning, and annoys your teacher. It’s okay if it’s once in a while, but you should always make sure that you have everything you need before heading to class.

Most teachers find it frustrating when students don’t come to class prepared, so before you head to class you should always ask yourself, “Do I have a pencil and paper for if we take a note?” or “Do I have my textbook for this class?“

Mr. Wildeman says, “Students who don’t show up for class prepared is just showing us that students don’t want to take responsibility for their education.” If you would like to stay on your teachers good side next time ask yourself these questions you may get a better grade. Another thing said by Mr. Wildeman is “Being prepared is also doing your homework assigned by your teacher.” Not doing your homework is common among students because we either have a job and forget to do it or are just too lazy to do it.

Now going over to Mr. Bravo-Eby who says “When we put hours into setting something up so that it’ll be the best learning experience we can offer the students, only to have it disrupted or overly difficult to administer because students aren’t in class on time and properly prepared, it undermines all of that work and effort.” Students often go out for lunch and come back late because it’s busy, but the best thing to do if you do is go to the office and get a late slip. Your teacher will most likely understand if you give them a late slip and if you apologize for being late and state a reason for being late.

Most of the time students can’t help and forget something, but if it’s a pencil for example; instead of interrupting the class to go get one from your locker look to someone in the class and ask them if you could borrow one. If you forget your textbook, ask a classmate if you can buddy up with them and look of theirs and remember yours next time. Catching up on notes can be difficult if you don’t know where to look. Talk to the person that’s there mostly every day for their contact information and see if when you miss a day they can send you a picture of the note so you’re ready for class the next day. Missing worksheets? No problem, ask your teacher they most likely has a place that has been shown to the class at the beginning of the semester where they keep extra sheets. Don’t remember where that is? Ask a student before asking a teacher.

If you do some of these steps you never know, you may get better grades in your class. Along with making new friends (or “Note Buddies”) that can help you with your notes and make your teacher less frustrated. Your organization skills will be better because now you know how to be prepared for class. Next thing you know you’re a better student in your school.

{% endfilter %}

{% endblock news_content %}
