---
title: OMAFRA Business Profile
author: Josh Burr
order: 80
stub: Learn About one of our Government Ministries
date: 2018-05-10
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

OMAFRA(short for Ontario Ministry of Agriculture, Food and Rural Affairs) is a government run Ministry that focuses on agriculture. OMAFRA works closely with all farmers to help regulate production and maintain a high standard for food to be grown and processed in Ontario. OMAFRA also operates a multitude of subsidiary companies to help reduce the workload from the immense number of farmers in the province. Agricorp is one of these companies that works closely with the University of Guelph to complete test samples from different farms.

Phillip Wilman is a goat milk inspector for OMAFRA.He travels around Ontario making sure farms are well looked after and he helps producers and companies settle deals on prices and contracts. Phillip said he really enjoyed his job he liked not having to be in an office all day, going around helping the community and he gets to explore Ontario. “The wages are good but the overtime is where you make your money, it can be difficult to be home at times.”

Phillip also gave some insight to the problems at OMAFRA such as the VERY high operating costs. “The AC alone in the summer can cost hundreds of thousands of dollars. We just put in two new ventilation stacks but they are still not big enough. Some days it can be too cold or too hot, all those windows can change the temperature very quickly.” The high standards of farm maintenance can also contribute to job loss as farms need to  be shut down every once in a while so maintenance can be done to ensure high quality of milk.High operation cost also include work vehicles which must be replaced after 5 years in service (that does not include insurance, gas and maintenance).

Although the costs and standards of assessment are very high to operate OMAFRA is a necessary Ministry to ensure the safety of Ontarians. Without anyone to regulate the markets, a big producer could flood the market with any farm product reducing the cost of items and putting other farms out of business. OMAFRA makes sure that all farms small and large work together to help the Province move forward.


{% endfilter %}

{% endblock news_content %}
