---
title: Online Classes and Their Benefits
author: Josh Burr
order: 54
stub: Learn about the benefits of online classes and how they may help you!
image: /images/does-whss-need-more-online-classes.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/does-whss-need-more-online-classes.jpg" class="news-article-image"/>


{% filter markdown %}

With networking and computers becoming more common and reliable it opens the opportunity for online classes to become available. Online classes provide a lot of benefits to students such as having a greater selection of classes to take. This can be commonly seen in WHSS with our small population. The fewer students who are at the school, the less funding the school receives which then means fewer teachers can be hired and fewer classes can run. Providing students with online classes can help open up the opportunity to try something new which would not have been available for students otherwise.


Online classes have other benefits such as being able to complete your work from home or from any place with wireless connection. If you are sick (or you want to just stay home a day), there will be no problem as you can work from home. There is no such thing as being late to an online class unless you miss a deadline, taking a online class allows for more flexibility such as taking a co-op or having a job to work. Online classes also look good on a resume as it shows your employer that you are committed to working even from home which can be one of the most distracting places to work. Online classes can also be used to catch up on credits that may be missed, failed, or classes that are only offered every other year.

WHSS student Ryan Seles had this to say about how online classes would impact him. “We need to have more online classes, we need more recognition. I barely even knew that we had online classes until a friend told me.”


Having this in mind I think that WHSS should provide more online courses and shed some light on the different courses. With networks and computers are advancing so why shouldn't schools advance with it?


{% endfilter %}

{% endblock news_content %}
