---
title: PTSD presumption and Ontario First Responders
author: Alex Stewart
order: 32
stub: Last week, in a significant feat for Ontario nurses, the province proposed an extension of first responder support and PTSD presumption to include those working on the nursing front line.
image: /images/news-firetruck.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/news-firetruck.jpg" class="news-article-image">

{% filter markdown %}

Last week, in a significant feat for Ontario nurses, the province proposed an extension of first responder support and PTSD presumption to include those working on the nursing front line.
The province announced the planned changes to the legislation (Supporting Ontario's First Responders Act, 2016) on Dec. 6, following more than a year of protest from nurses across the province.
The proposed changes would also apply to bailiffs, probation and parole officers and managers (adult); probation officers, probation managers, and assistant probation managers (youth).
"For a number of our nurses who have been diagnosed with PTSD, we have spent years and years fighting on their behalf with the Workplace Safety and Insurance Board to have them covered under workers' compensation, said Linda Haslam-Stroud, President of the Ontario Nurses' Association. "Now we’re hoping it's going to be a better situation for us."

Here's what you need to know about the legislation.

What is Supporting Ontario's First Responders Act?

Supporting Ontario's First Responders Act is an amendment to Ontario's Workplace Safety and Insurance Act, 1997. The bill presumes first responders' PTSD diagnosis is linked to a workplace event and exempts employees from the onus of proving a connection.

The legislation also expedites first responders' access to WSIB benefits and treatment once diagnosed with PTSD by a psychiatrist or psychologist.
What makes the proposed amendment so significant?

The bill was passed in April 2016 to include the following occupations: police officers, firefighters, paramedics, workers in correctional institutions and secure youth justice facilities, dispatchers of police, firefighter and ambulance services, and emergency response teams.
Since the passing of the bill, Ontario nurses have been fighting to be included in these benefits, arguing that many front-line nurses also suffer from PTSD as a result of handling stressful and traumatic incidents in the workplace.
What are the recorded PTSD rates among Canada's first responders?
The most recent data collected by the Tema Conter Memorial Trust sites that as of February 2016, corrections workers and paramedics reported the highest levels of PTSD among first responders nation-wide, at 25.6 per cent and 25.5 per cent respectively. This is followed by firefighters (17.3 per cent), military (8 per cent) and police officers (7.6 percent). According to Tema, the PTSD rate among the general public is 9.8 percent. *
What are the recorded suicide rates among Canada's first responders?
Tema's year-to-date data for 2017 cites Ontario as having the highest suicide rate among first responders at 15 reported incidents this year. This is followed by B.C. at 14 incidents.

Across Canada, Tema reports the highest number of reported suicides among police and paramedics at 16 and 15 respectively, followed by firefighters (11), military (nine) and corrections workers (three).

*Nurses were not included in Tema's data.

How are nurses affected in the workplace?

As of 2015, 31.8 percent of lost-time injuries due to violence in the workplace occurred among healthcare workers, according to a report published in Canadian Occupational Safety in August 2017.

The report also cites Public Services Health and Safety Organization, stating that out of 34 occupations, nurses lose the most work days nationwide, due to workplace violence.
Patients and residents are most often the perpetrators of violence in the healthcare sector and this violence ranges from physical abuse to verbal threats and harassment, the report states.
Haslam-Stroud cites a number of additional causes of PTSD in the nursing profession, aside from workplace violence, including caring for small children and babies who have been abused and die, a challenging workload, caring for patients that remind nurses of their own family members and unsuccessful attempts to save patients' lives.
What are the province's long term goals regarding Supporting Ontario's First Responders Act?
PTSD presumption is part of an initiative by the province to help reduce the risks associated with PTSD and to work towards prevention among first responders.

The strategy, announced in early 2016, includes the following initiatives:

• Promoting PTSD awareness through a digital and radio campaign in a bid to eliminate the stigma surrounding PTSD
• A leadership summit hosted annually by the Minister of Labour
• A free online PTSD toolkit with employee and employer resources
• Grants for research that supports PTSD prevention

The legislation also requires that employers of workers covered by PTSD presumption submit prevention plans to the Minister of Labour.


{% endfilter %}

{% endblock news_content %}
