---
title: Ontario Secondary School Funding
author: Josh Burr
order: 38
stub: Check out this article about your school!
image: /images/drum.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/drum.jpg" class="news-article-image">
<img src="/images/ontario-secondary-school-funding.jpg" class="news-article-image">

{% filter markdown %}

#How Does the school get funding?

During 2017, the Ontario government released the Plan to Strengthen Rural and Northern Community Schools.  The plans goals were to impact communities and students well-being, allow for longer timelines, produce more accommodation options and provide clear roles for students and staff.

Other requirements were put onto the plan, like improving the access to e-learning through provisions like a minimum requirement of a bandwidth of 1 Megabit per second. With these new standards that specifically target northern and rural communities, does it really help our school or make it harder to reach education standards.

WHSS student Caleb Callaghan had this to say about the plan: “I think it is good that they are increasing out school funding, but I do believe that there is still a long way to go. Our tech programs need improving as they are lacking considerably.”

##So how do specific programs get funding?

Programs are funded by the amount of students the enroll into a program. The more students that are in the program the more funding the program receives.




Hopefully with this funding WHSS will be able to expand and improve its programs.





{% endfilter %}

{% endblock news_content %}
