---
title: Plans for Teviotdale Roundabout Surface
author: Hunter McWhinney
order: 13
stub: A roundabout for Teviotdale is back on the Wellington County roads department’s radar.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

A roundabout for Teviotdale is back on the Wellington County roads department’s radar.

The project is expected to be considered during the county’s 2018 budget deliberations.

At the Oct. 26 Wellington County council meeting, roads committee chair councillor Gary Williamson explained the project for the intersections of Wellington Roads 109, 7 and 123 had been dropped lower on the budget priority list in favor of addressing safety concerns with a roundabout at the intersection of Wellington Roads 8 and 9.

However the 8/9 intersection, in the midst of an S-bend curve, borders Perth County.
Williamson said as “Perth, at this point in time, is not ready to proceed,” the roads department “decided to move back to Teviotdale, going back to our original plan.”

Williamson said the county already owns sufficient land to create a roundabout at Teviotdale and the OPP is in favor of the move. Existing traffic signal equipment, he said, would be moved to other intersections.
“Our intent is that the roundabout for Teviotdale be included in the 2018 budget process,” Williamson stated.

“The current configuration of the intersection of Wellington Roads 109, 7 and 123 is deficient with respect to the number of lanes to allow for the proper turning movements,” explains a report from county construction manager Mark Eby. The report notes the intersection was identified for reconstruction to improve turning movements and ultimately safety.
“Construction of a roundabout at this intersection is the preferred alternative as there is a large amount of space in the existing right of way and additional land should not be required. The WR 7 leg of the intersection would also be restrictive for the construction of additional lanes to maintain a traditional traffic light controlled intersection,” the report continues.

The report was received for information.

Councillor Neil Driscoll, mayor of Mapleton, indicated he feels the need for a roundabout at Wellington Roads 8 and 9 is urgent.
“Thank  you for putting safety into your thoughts with the roundabout at Wellington Roads 109 and 7,” said Driscoll. “I’m just really disappointed in Perth County for not realizing the accidents that have taken place at county road 8 and 9 and this project actually got moved away from there to go to Teviotdale, which in my mind is still a safe, usable intersection. And I hope that Perth County would take any responsibility for future deaths or accidents at that intersection … because personally our fire department is tired of responding to accidents that happen there.”

Warden Dennis Lever advised council he and CAO Scott Wilson had discussions on the project with Perth County officials at a meeting of the Western Ontario Wardens Caucus on Oct. 20.

“My understanding was it was going to be considered in their budget discussions this year,” said Lever.


{% endfilter %}

{% endblock news_content %}
