---
title: Plowing through the facts Snow plow facts drivers should be aware of
author: Hunter Fearnley
order: 35
stub: With winter being fully embraced by midwestern Ontario and snow plows on area roadways on a regular basis, the Ontario Provincial Police and the Wellington county roads department have provided the following facts about snow plows that all drivers should be aware of.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

With winter being fully embraced by midwestern Ontario and snow plows on area roadways on a regular basis, the Ontario Provincial Police and the Wellington county roads department have provided the following facts about snow plows that all drivers should be aware of.

Snowplows typically plow snow at 60 km/h or less so that the blade doesn't bounce and can take a smooth cut of snow and ice from the road.

When spreading sand, salt or liquid de-icer, trucks travel at 50 km/h or less, which ensures even distribution and a thorough coverage.

When plowing the shoulders, trucks need to be extremely precise and travel at 30 km/h or less. This allows the operator to adjust for obstacles like signs, mailboxes and guardrails.

When putting garbage and recycling out for pickup, keep it at least one meter away from the roadway.

When parking a vehicle on the road, keep plows in mind. Highway legislation prohibits someone from parking their vehicle on a road when it interferes with the removal of snow. Section 170 (12) of the Highway Traffic Act (HTA).

Section 181 of the HTA prohibits anyone from dumping any amount of snow onto a road or highway.

Passing a snow plow is not recommended. The snow and road conditions in front of the plow will be more severe and crossing between different levels of snow covered roads can be dangerous.

While winter tires can provide an advantage to drivers when it comes to steering a vehicle in the snow, they do not necessarily provide advantages when it comes to stopping. "See snow, go slow!


{% endfilter %}

{% endblock news_content %}
