---
title: Police Looking for Suspects after Shotgun Shots Through a House
author: Hunter McWhinney
order: 16
stub: Police are looking for the person responsible for putting “people's lives at risk” after a shot gun slug ripped through a home near Kenilworth.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Police are looking for the person responsible for putting “people's lives at risk” after a shot gun slug ripped through a home near Kenilworth.
On Nov. 8, the OPP was called about a slug that “was carelessly fired” into the house on Sideroad 6 East, between Concessions 2 and 4, shattering glass, trim and a wall before hitting a chair.
“Luckily no one was home at the time and no one was injured or killed,” police stated in a Nov. 9 press release.
The rural home is surrounded by fields and bush that are routinely hunted, police added, noting the slug was fired from the east of the house.
The OPP, which has notified the Ministry of Natural Resources and Forestry about the incident, is looking to identify anyone hunting in the Sideroad 6 area between 9am and 5pm on Nov. 8. Anyone with information can contact police at 1-888-310-1122.
“Hunters are reminded to exercise control and caution when hunting,” police stated.
“Competent hunters will be aware of their target and beyond and will ensure they have a proper back stop before pulling the trigger. The person who took this shot was not mindful of the trajectory of the round and put people’s lives at risk.”


{% endfilter %}

{% endblock news_content %}
