---
title: Police Looking for Man who Stole Scotch, Tequila from LCBO
author: Hunter McWhinney
order: 22
stub: Police have released a photo of a suspect they say is responsible for stealing close to $300 worth of booze from a liquor store.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Police have released a photo of a suspect they say is responsible for stealing close to $300 worth of booze from a liquor store.
On Nov. 16 Wellington County OPP were called about a theft at the LCBO store in Fergus.
Police say that at about 7:30pm a man walked into the store and placed in his backpack two 750ml bottles of Glenlivet (valued at $90 each) and a 750ml bottle of Patron Silver ($81). He then left the store without paying.
The suspect is described as a white, about 40 years old with a slim build. At the time of the theft he was wearing a beige coat, black hoodie, dark pants and black ball cap. The backpack is black and white.


{% endfilter %}

{% endblock news_content %}
