---
title: Pulling Fire Alarms And The Damage Done
author: Owen Risidore
date: 2018-5-18
order: 135
stub: Is it really worth it to pull the fire alarm for no reason?
image: /images/pulling-fire-alarms-and-damage-done.png
image2: /images/news-bb-jr1.jpg
---



{% extends 'news-article.html' %}
{% block news_content %}



<div class="yearbook-panel-left-column">
<img src="{{image}}" class="yearbook-panel-left-column">
      <div class="item">
       </div>
        </div>

  <div class="yearbook-panel-middle-column">
  <img src="{{image2}}" class="yearbook-panel-middle-column">
              <div class="item">
               </div>
                </div>
          <div class="item">
          </div>
        </div>

<div class="yearbook-panel-right-column">
  <img src="{{image}}" class="yearbook-panel-right-column">
                    <div class="item">
                     </div>
                      </div>


{% filter markdown %}

I think it’s safe to say that a lot of people know not to pull the fire alarm when there’s no fire. For some people, it’s common sense: if there’s no fire then why pull it? Sadly, due to recent events, this hasn’t been the case. While the person was punished accordingly, the damage was done.

The biggest problem is that it wastes the Fire Department’s time. Firefighters are trained to think that every alarm is a serious matter, and must react to it as fast as possible. By pulling the fire alarm without an emergency, it wastes time for both students and the Fire Department; it also wastes money as well. In a news article from a local ABC News, it was stated that it cost taxpayers, as well as the Fire Department. That time could also be going to a real fire call where people are in danger, meaning that you could indirectly harm someone by falsely pulling a fire alarm.

Another issue that comes with pulling a fire alarm is that it causes panic for the students. Last week when the fire alarm was pulled, students were having panic attacks, and feared for their life. They honestly thought there was a real fire at the school and they were scared. By pulling the fire alarm, you are causing distress amongst the school.

The biggest damage is not on the school, however; it’s about the damage you’re doing to yourself. Not only could you risk getting suspended, or even expelled, but you could also be going to jail if you’re over eighteen. In the criminal code, pulling a fire alarm could be “an indictable offence and is liable to imprisonment for a term not exceeding two years”, though you would still have to pay a fine if you’re a minor. Either way, is it worth risking your future for one small prank?

{% endfilter %}

{% endblock news_content %}
