---
title: Habitat For Humanity Restore
author: Alyssa Clark
order: 54
stub: The Mount Forest Restore is a non-profit organization that goes towards building decent and affordable homes for families in need. This organization was founded in 1985 and the first home built in Canada was in Winkler, Manitoba. There are 56 local habitat stores working to fund money to go towards building the homes.
image: /images/restore-business-profile.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/restore-business-profile.jpg" class="news-article-image">

{% filter markdown %}

<h2>Habitat For Humanity Restore</h2>
<h3>Mount Forest, Ontario</h3>

The Mount Forest Restore is a non-profit organization that goes towards building decent and affordable homes for families in need. This organization was founded in 1985 and the first home built in Canada was in Winkler, Manitoba. There are 56 local habitat stores working to fund money to go towards building the homes. The closest stores to our community is the Guelph, Orangeville, and Mount Forest Restores. The Guelph store is the head office of the the three, and sometime this year there will be a fourth store in Fergus. Over the years our local Habitats have built 24 homes for families.
After talking with the manager of the Mount Forest Restore I’ve learned a lot about the Restore and what they have in store. Here’s what she said.

Alyssa: If you could change anything in the store what would it be and why?

Sam: I would have a bigger place for more organization and room so we can get more products to sell. The more products we have to offer the more people will buy.

Alyssa: What plans does Habitat have in the near future? Any new homes or new buildings?

Sam: The plan in the next five years is to build 150 homes for families. We have already purchased several of the properties and already broke ground on one.

Alyssa: Why did you get into this type of career? Did you know of Habitat before applying for the job?

Sam: No I didn’t know about it and if I did it would have help me out. I used to be a single mother and it was hard. I like the idea of raising money to build safe affordable homes for families who don’t have that, it’s really important to the economy.

Alyssa: What kind of ideas do you have for the store?

Sam: I want the store to be a bigger presence in the community and build relationships to boost sales so we can help more families/builds. I also want to get  involved with more charity events.

The store has changed a lot since these passed few months but it is really turning around. Its open concept arrangement and organization, make it easy to find you’re looking for, and the customer service is great as always. The store always has items coming in all the time and the restore prices these items half of what the retail price normally is. The average price of hanging lights is seventy-five dollars while tools are only a dollar. The Restore gets so many unique and antique items that you can’t find anywhere else, making it worth checking the Restore out.


{% endfilter %}

{% endblock news_content %}
