---
title: Santa Claus Flies Through The Arthur On Christmas Parade
author: Ian Dafoe
order: 27
stub: On November 25th, 2017 in the downtown area of Arthur Ontario, jolly Old St. Nick came with other floats to the annual Arthur Christmas Parade. Multiple people from the area came to watch the parade to get into the Christmas spirit and to let little children watch and meet Santa.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

On November 25th, 2017 in the downtown area of Arthur Ontario, jolly Old St. Nick came with other floats to the annual Arthur Christmas Parade. Multiple people from the area came to watch the parade to get into the Christmas spirit and to let little children watch and meet Santa.

As a bystander watching the parade, some of the floats that were shown was the police force, the fire department, the Wellington Heights school band, the baton groups, Sparky The Dog, the food bank, as well as many others, including Santa Claus with his reindeer at the back of the parade.

How the parade was organized and ran was by The Township Of Wellington North.

However, before the parade started, there was an accident involving a driver and a pedestrian in front of the TD Bank which postponed the parade for less than 15 minutes. I didn’t see what happened at the time, but other bystanders from the parade said that the driver pulled out of the TD laneway to get onto the highway and hit the pedestrian when he/she was jaywalking. The bystanders who saw say it’s a true accident because there were multiple people on the sidewalk, standing along or crossing the street before the parade came so they could  get the best view possible. Luckily for the pedestrian, he/she was only hurt with minor injuries. It was just a good smack to the person from the front of the vehicle. The paramedics took the pedestrian to a hospital for more testing of hidden injuries and then the parade officially began at 8:10pm.

After the accident was solved and the parade went through with Santa Claus flying by, everyone who came couldn’t agree more that the parade brought the Christmas and winter feeling to them.


{% endfilter %}

{% endblock news_content %}
