---
title: Why Schools Should Address Mental Health In Classes
author: Breann Stortz
order: 40
stub: Want To Know More About Mental Health and How To Deal With It With Quotes From People Who Discribed Mental Health?
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="schools-should-address-mental-health.jpg" class="news-article-image">

{% filter markdown %}

Mental Health is an issue that needs to be talked about more in the school community. Yes, it’s already being talked about, but it would be more effective if there were one or two more courses specifically for talking and learning about mental health.

What’s mental health? It’s a condition with regard for one’s emotional well-being. It’s things like anxiety, depression, eating disorders, and so on. I asked a few people how they would describe Mental Health, and this is what they said:

“The way I'd describe mental health is that it's the condition your mindset is at. So for example, someone who isn't stressed by homework, school, work or something along those lines, there mindset would be fairly healthy if nothing seriously bad was happening in that person's life. Now, let's say, if someone was too overwhelmed from school work, noise, and too crowded, then their mindset would be unhealthy. They wouldn't be able to focus, they'd be overwhelmed to the point where they feel as if they weren't in this world. People with mental illnesses and mental disabilities have different mental healths.” -Sparrow Sage

“Mental Health is a type of health that mostly affects you in a psychological way. Some effects are physical, depending on the type of mental illness.” -Jadyn Leask

“I would say mental health is something that people either struggle with, for example anxiety or depression, or maybe you're not all there that doesn't mean you have to feel like what everyone says is true. Mental health is what makes you who you are as a person it makes you unique so don't let other people put you down and don't try and fit in when you're born to stand out in your own special way.” -Kristen Maude

There are over 200 different types of mental health. In school, they’re often dealt with using what is called an Individual Education Plan, or an I.E.P., which helps students with mental illnesses that are affecting their school work. If it’s not affecting school, than the I.E.P. will not be assigned.

Ways to deal with mental illness outside of school vary, depending on what the disorder is. Anxiety and panic attacks can be helped with therapy. Eating disorders can be helped by seeing a dietitian. You get the idea. Everything has a different, I guess you could say “cure”.

There are so many different types of mental health that would definitely fill up the time in a regular course. Maybe even a couple different courses; one for each grade, perhaps. It could be an open course, as well, so then it’s a choice for those who think they have no need for this knowledge. But it’s still something everyone should learn and know more about. If not courses, then perhaps clubs, which is also a choice for all students.


Why should people, especially students, learn more about mental health? Not only could it be learning something new, but with this information, you could help a friend who has a mental disorder. For example, a few of my friends have anxiety. They go to therapy for it. Since I know a little about this topic, I understand why my friends do certain things or act certain ways. In other words, knowing more about something helps you get a better understanding of the topic.

To sum things up, students should have as much knowledge as they need or want and that knowledge needs to be easy to get. The easiest way to do so would be to take courses based around this topic, so having a class based around mental health would benefit students, families, and our community as a whole.


{% endfilter %}

{% endblock news_content %}
