---
title: Senior Gym Classes at WHSS
author: Ryan Seles
date: 2018-04-26
order: 37
stub: Did you know WHSS offers these senior Phys Ed. courses?
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/senior-gym-classes.JPG" class="news-article-image-small"/>

{% filter markdown %}

Here at Wellington Heights, we offer quite a few senior phys ed classes. Many people do not know the differences between them. Keep reading to find the ins and outs of the programs we have to offer.

**Senior Girls and Boys Gym**: Throughout the semester, you will be focusing on the personalized approach of living healthy. You will be participating in various sports and enjoyable activities. Students will be given the chance to develop their own personal fitness plan. Students will also be given the opportunity to refine their problem solving, as well as bond with their peers as they participate in this class.

**Grade 12 Fitness (Mixed Gender)**: During the course of the semester, students will be focusing on the approach to healthy active living. Students will be given the opportunity to construct their own workout plan with the knowledge they are provided in the class; much like the senior boys and girls gym class.

**Grade 11 and 12 Outdoor Education**: Grade 11 outdoor Ed, is very much focused on developing healthy active living concepts. This course offers students the ability to go camping, canoeing, hiking, cross-country skiing, snowshoeing, swimming, orienteering, survival skills and first aid. The course also has a mandatory canoe and camping trip; in fact, there are many other out-of-class trips in this course. The cost of this course is approximately $275.

**Sports and Society**: In Sports and Society, students will be exploring sports and athletics in history and the differences between cultures. Students will also be taught diverse resources and research methods. Students will use these methods to analyse sports and health in media/literature. They will also learn the importance of personal goals and healthy living, along with the differences between amateur and professional sports.

**Health for Life**: In this class, students will examine their own healthy living practices and behaviours, as well how those factors contribute to the development of a healthy community. This course helps to emphasize the idea of cognitive, spiritual, and social aspects to living healthy. Students will be given the skills to not only make healthy decisions, but develop their own plans to stay on track.

**Kinesiology**: Kinesiology focuses on students learning how human movement, systems, factors and principles are involved in human development. Students will be taught the effects of physical activity, the evolution of physical activity, and the factors that influence someone’s individual participation in physical activity. This course, is meant to prepare students who plan to go to University for physical education, kinesiology, medical, recreation, and sport administration.

{% endfilter %}

{% endblock news_content %}
