---
title: Sheepdog Animation
author: Alyssa Clark
order: 1400
date: 2018/05/03
stub: Sheepdog Animation is an award-winning animation studio that teaches/prepares youth and young adults for Colleges and Universities. They teach digital media, classical animation, how to make a portfolio, 2D and 3D animations, and stop-motion. They have had students go into competitions like The Walt Disney Family Museum TAFI (Teen Animation Festival International), and ICEFA (International Children’s Exhibition of Fine Arts) Lidice.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}
<h3>Where Technology Meets Art</h3>

Sheepdog Animation is an award-winning animation studio that teaches/prepares youth and young adults for Colleges and Universities. They teach digital media, classical animation, how to make a portfolio, 2D and 3D animations, and stop-motion. They have had students go into competitions like The Walt Disney Family Museum TAFI (Teen Animation Festival International), and ICEFA (International Children’s Exhibition of Fine Arts) Lidice.

Our school got the opportunity to go to Sheepdog Animation and experience what they teach first hand. We got a tour and history lesson about Sheepdog Animation, all the items they have collected over the years, as well as the owner Alice Sinkner.
Alice Sinkner graduated from Sheridan college with a degree in classical and 3D animation. She drew and animated the TV and movie characters and backgrounds of Arthur, Franklin the Turtle, Rugrats, George and Martha, Flying Rhinos Junior High, Birdz, Babar, Walt Disney's Gargoyles, Warner Brothers' Waynehead and Canadian animated feature film and TV series Anne of Green Gables. She also did the children’s book series Franklin the Turtle. She now owns the business Sheepdog Animation to pass her knowledge onto young adults and youth who want to go into this type of career.
The types of items they had were an old pair of headphones, CBC cameras that would weigh at least twenty-five pounds, an old recorder player, and old film to show how movies were made. Which originally you would of had your movie on one film and the sounds on another, until it evolved into one film that allows both sounds and images. They had so many items there that were very unique, and the modern technology they had was really cool.
The modern technology we got to try was digital animation, stop-motion, and classical. Classical animation is when you draw everything by each frame which is all done by hand, while digital animation is when you use these laptops, with this special pen that allows you to draw on the laptop instead of paper. Stop-motion is when you build your characters and take two pictures, than move them slightly or a lot, it all depends on how fast you want them to move. Then continue taking two pictures, and move your character until you made a good chunk of pictures, when you play it back you can see your results.

After going through the tour and history lesson, Alice showed us some of their past students work that were submitted into competitions. There were really cool and funny animations ranging from digital animation to stop-motion, so after we watched most of them, we all got into groups to try stop-motion. It was a fun experience, and was a pretty simple task because we were moving clay worms around to make a film. Unlike some of the animations we watched that were a lot more advanced and would involve more time to make.
After lunch we got to choose what we wanted to do next. About more than half of the class did stop-motion and came up with cool animations while others were really funny. Some people made theirs out of clay, coffee beans, or Cheerios. The one that made everyone laugh the most was Corbin Peter’s who made a Cheerios commercial. He had sound effects and used Cheerios to make his film, which turned out really entertaining.
When doing digital animation the program was pretty easy to use, you just have to know the basics. When drawing on these laptops you use this pen that is touch sensitive, which means the harder you press the thicker the line will become. You also have to wear a glove so your hand slides on the screen, and doesn’t accidentally draw something you didn’t want. When drawing you do a sketch of your character, than clean up the sketch on another layer. After you clean up your sketch, you lock in the good copy and add your colour. The reason why you lock in your good copy sketch is so when you colour and make a mistake, you can erase the colour instead of the lines of your sketch. That’s how you do digital animation, it’s kind of like photoshop where you have different layers that pile on top of each other.

Overall it was a good experience for everyone and those who are considering doing this type of animation as a career path, should really go on the next Sheepdog Animation trip. It will really give you the information and experience of what it is like to be an animator.


{% endfilter %}

{% endblock news_content %}
