---
title: Should Schools Have Places For Anxiety Attacks
author: Kristen Maude
order: 75
stub:
date: 2018-04-26
image: /images/should-schools-have-places-for-anxiety-attacks.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-schools-have-places-for-anxiety-attacks.jpg" class="news-article-image-xsmall">

{% filter markdown %}

Heavy breathing, chest pain, often some crying, dizziness, and not thinking straight. Look at that: it’s an anxiety attack and you’re stuck in an area with a lot of people and loud noises. You may not see it, but some students deal with anxiety everyday of their life.

Some people who don’t have anxiety attacks think ‘Oh well they just have a fear, they’ll be fine in a couple minutes,’ or maybe, ‘They’re just looking for attention leave them alone.’ The worst part is when people with anxiety see others who don’t have it as bad as them treating it as a joke or some form of ‘attention seeking’. Anxiety is nothing to joke about. It’s a very serious thing that people go through whether they like it or not.

Often, when people have an anxiety attack, they want to be in a quiet space where there’s no one around to continuously ask them if they’re okay. Unfortunately, most students in schools don’t have that option. It’s having to be dealt with in the classroom with many things to make it worse. Some of those things being other students, chairs moving and even the sound of a computer mouse clicking. Almost anything can scare someone with higher anxiety levels, one of the students that we talked to said that when they were at youth group they continuously heard people popping balloons and it scared them enough to have an anxiety attack.

If schools were to have a proper space for students when they feel like they’re having an anxiety attacks they should have these items:
Weighted blankets, this has the same effect as a hug but it will cover the entire body, this will help with the calming down of the body these blankets can either be hand made or bought they sell for about $120 Canadian.
Stuffed animals - not small ones. Big ones. When some people have an attack, they feel like they need to hug something. Stuffed animals are squishable, making them easy to hug without hurting so you can hug them as tight as needed.
Videos or posters to show different things you can do to help cope with anxiety for when you’re not at home or in a place where you don’t  have any of the items.
Things that can be played with in someone’s hand, for example a fidget toy. Sometimes something cold in the hand can draw their focus from what they’re having an attack over to help them calm down.

These are some of the students we have talked to about this subject and their opinions and own experiences on this topic.

One student who has high anxiety levels, says “It would be very helpful for some people. It’s good for people to get away from what triggered the attack and for them to calm themselves down.” She also has a past of people saying things when she is having an anxiety attack this is what she said to us “When I'm having attacks at school, I have been given the advice to try my best at my work since I can't focus if I'm having an attack, and if that doesn't work to leave that room and be away from the thing that triggered the attack. I've also been told it's going to be alright, to breathe to steady my breathing and when it's really bad, to have someone with me so I don't end up hurting myself unintentionally. I've also been asked why I'm rocking, or moving a lot when I try and stay in class.” Fortunately for her she hasn’t heard any hurtful things from other students about this, just from her siblings.

A,  former Wellington Heights student says “I think that mental health is as important as physical health in order to function, my opinion is a little biased because I’m on the autism spectrum and have been chronically depressed for most of my life. But I think it’s important to make things more accessible for people who have these problems and they should have these resources so they get the help they need.”

When we asked another student that has a friend with high  anxiety levels about this topic she immediately responded with “Strongly. Schools should have it.” after asking her why she came back with “Because students who would have mental breakdowns and anxiety attacks would get the help they need to calm down, before returning to their duty to work as a student. It would be better if the students were allowed to bring the object like a weighted blanket with them to class so they can relax more during class so they can get work done if they wanted.” Julie has a really good point about being able to bring the blankets if we had them because what if you’re calmed down but then it acts up again? You would have to go back to the area to calm down again.

Another student we interviewed who has anxiety attacks says “Yeah I think we should have a room for people like me who have anxiety attacks. This can help find different ways to help calm people down and help cope with it when having an attack.”

In the end having a room for students to go when they’re are having an anxiety attack will be beneficial for their mental health.


{% endfilter %}

{% endblock news_content %}
