---
title: Should Standardised Testing be Eliminated?
author: Josh Burr
order: 56
stub: The government is collecting information from test and you didn't know about it.
image: /images/should-standardised-testing-be-eliminated1.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-standardised-testing-be-eliminated1.jpg" class="news-article-image">
<img src="/images/should-standardised-testing-be-eliminated2.png" class="news-article-image">

{% filter markdown %}

#Standardised Testing

On April 10th, students all over the province will write the OSSLT (Ontario Secondary School Literacy Test).  Everyone at WHSS is familiar with standardized testing. At the age of 8, students are introduced to their first standardised test: EQAO (Education Quality and Accountability Office) reading, writing and mathematics. You might not have known that but your test marks were recorded by the provincial government. Standardised testing is a great way for the government to collect information on students, schools and school boards. With this information the government helps provide funding and better education to teachers and students.

The results of standardized tests can be surprising.While Canada ranks the best in the world for math, literacy and science(2015) on the PISA test, WHSS has mixed results. Our Applied stream for the 2015-2016 year math EQAO exceeded the school board and provincial averages while our Academic stream was behind both. Speculation among students is that it might be because the culture/mindset of this school is more directed towards trades and farm work as opposed to university/college bound careers.

WHSS student Ryan Seles says “I personally think that it shouldn't be based off of marks, it should only be used for results. Why should we be writing a test that is a requirement for us to get out of high school.”
With this in mind, standardised testing is a great idea for our government to collect information but when you make a standardised test count for grades it does not make sense.




{% endfilter %}

{% endblock news_content %}
