---
title: Should Schools Have Proper Storm Shelters
author: Kristen Maude
order: 60
stub: Learn why schools should have storom shelters
image: /images/should-schools-have-proper-storm-shelters.JPG
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-schools-have-proper-storm-shelters.JPG" class="news-article-image">

{% filter markdown %}

We all know when we hear those tornado sirens that we need to take cover and go underground. But what about at school? Here we have to go out into the hallways where if the walls were to be ripped off by a tornado, it could become a massive wind tunnel with nothing to grab onto. Many students are afraid of getting sucked up by a tornado, so when one of these drills are real, it’s extremely scary. Having a storm shelter underground would make their fear levels go down due to the fact that the students aren’t stuck in the hallways during violent weather.

At Highpoint Elementary School the year 2015 in Dundalk, Ontario there was an actual tornado warning where the students were put into the hallways and got down into the tornado safe position. The rain outside looked like a snow storm even though it was near the end of spring. The wind howled as if it could blow the school down easily. The students could hear the sound of branches being broken off nearby trees and being dragged by the wind against the ground. This experience was enough to scare a student for a lifetime. Even though the tornado itself didn’t hit the school, it was just outside of the town near the school.

After talking to some students these are some of their opinions, this is what they said:

 Breann Stortz says, “Storm shelters would be an improvement in schools and reduce the anxiety that students may have about these situations”.

Jacob Arsenault says that it would be very expensive but it would be a great idea for places that get massive storms and storm warnings.

Alyssa Clark says, she would agree with having storm shelter due to experience and thinks that being in the hallways during a storm is a bad idea and is dangerous due to the fact that the hallways can be turned into wind tunnels.

One way we can help students with their fear is to have more tornado drills so then the students know exactly what to do if a tornado were to touch ground nearby. Instead of having one big storm shelter there should be small ones under each classroom on the bottom floor and have bigger ones near the staircases for classes on the second floor. Location of the doorways for these shelters could be an issue but they should be in a place of easy access for example near the teachers desk if it’s near the front the classroom or maybe even under the teacher's desk.

The province of Ontario does in fact have a tornado alley which is located from Windsor to the London area, along with the Dufferin and Simcoe Counties. We, in Mount Forest, are a couple hours away from this area as you had probably heard from your parents when you were younger, “better safe than sorry” in this situation it could be a good idea to follow this rule. These life threatening situations are nothing to joke about. Many students and teachers have lost their lives in these situations.

Don’t know what to do during a tornado? Every classroom should have the tornado safety chart near the front door. Read this sheet over and memorize what it says so if a storm does hit, you’ll know exactly what to do when a storm hits and help your fellow students know what to do and where to go. If we had storm shelters we should have designated classrooms for upstairs for them to head to for shelter. For example the students up in the French room will come downstairs and take shelter in the drama room. Every shelter should have emergency lights if the power were to go out so students can get to the shelters safely.

To ensure students safety, storm shelters, more tornado drills, and storm shelter arrangement plans are the way to go when the storm sirens do go off.






{% endfilter %}

{% endblock news_content %}
