---
title: Should Video Games Be Considered A Way To Train Students?
author: Caleb Callaghan
stub: Do you think video games can help your general education? Well find out in this weeks article.
order: 102
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Video games are no longer solely being used for people's entertainment and now have a much larger scale of uses. Considering it all started from a simple game called Pong. William Higinbotham created Pong, and so video games were born. While Pong was never a really complex game,  at the time it was the best anyone had, and people caught on to the trend of video games which would start all sorts of different gaming companies. One of the first really big companies was Nintendo,with their game Super Mario Bros, Nintendo became huge.

Not too long in the early 2000’s Nintendo had two major rivals in the video game world. Playstation (Sony) and Xbox (Microsoft) were the next two big things in gaming. Eventually Nintendo stopped trying to compete with them as much and moved over to
split screen and  multiplayer games. As we move up to around 2018 all three companies still exist. Playstation and Microsoft are still two huge competitors. Nintendo still hangs in on third though with a strong hand. Though, a new big thing is PC gaming as of right now and it might take both out.

Video games have been used to train surgeons and people in other medical jobs.
These jobs will benefit from the added experience of practicing doing the procedure using video games.Though how can we really know the game is like the real operation and do we
trust someone with experience from a game to operate on us? Although some games may not be the ideal way to train them, but how else are they supposed to get experience? They get trained on a game, that way if they mess up, there is no real consequence; other than a button that says “please try again”.

Video games have now evolved and people use them for training all sorts of different jobs Our graphics and the way the game is performed is becoming more realistic every time. Students training on games of different subjects would be an added benefit. Even a little experience could help improve our workforce when they’re in the field. Asides from that these games can also help improve or show your current reflex speed. Games are always requiring you to act quickly and rarely let you have a breather.

The newest thing in gaming is the VR technology. VR stands for virtual reality
and is fairly new to gamers. Although it's been out for a little bit it's not an ordinary thing that most people have. This could be extremely helpful in training people since it'll be almost as if it were real. The technology is still currently under a lot of development.As it becomes more popular it will have more money to further develop.

When we look at how far video games have come you really start to realize how important they are. Video games have become part of our everyday life and culture.
It's even brought countries together in tournaments around the world. We have so many uses for them and so many things we need them for still. This is the future of our world
and it's starting here.

{% endfilter %}

{% endblock news_content %}
