---
title: Should We Have Year-Round Schooling
author: Alyssa Clark
order: 40
stub: Year-round schooling is when we go to school for the entire year, unlike how our school is.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="images/year-round-schooling.jpg">

{% filter markdown %}

<h2>What is year-round schooling?</h2>
 Year round schooling is when we go to school for the entire year, unlike how our school is. We get two months off which is summer break, that originally was based on the farming calendar, so in those two months you would work on your farm. But year-round schooling doesn’t have the two month summer break. Other systems have the same amount of time off, but divided up more evenly between other holidays (like Winter, Spring, and Summer break each being one month). We still get all those breaks just not at once.
<h2>Is year-round schooling a good idea?</h2>
Year round schooling is a topic that has been-debated for years. Researcher Jeff Outhit found that having school all year without the two month break lets students retain all the things they learned more effectively, unlike schools that have those two month breaks. Therefore, the students will get better grades because they remember what they learned, which means we would spend less time reviewing what we learned last year so we can learn new things.
Another benefit to year-round schooling is the students get into a structure, which is kind of like the military but not as extreme. The students get into a habit which would help a lot of students out, because when they have a routine some find they learn better. This also gives the students responsibilities all year to do their homework and get to class on time. But with summer break there are two months that the students don’t have to be on time to class or get homework done on time. These small responsibilities have an impact on the students and when school starts back up again, they have to get back into the routine which can be stressful for some. With year-round schooling, students remain in that routine and continue those responsibilities, which makes it easier on them.
<h2>Is year-round schooling a bad idea?</h2>
One of the biggest problems to having school for the entire year without summer break is that no student wants that. Especially the students who hate school and doing homework. So with some students they need those two months to relax. Most say they like having summer break because they are away from school and get to enjoy summer. But with all year schooling it will put more work on the students and a lot of students dislike having homework, especially everyday let alone for the entire year. This can cause some students to burn out. As well as it puts more work on the teachers because they have to plan out what they will teach for the entire year but in our case because we are in high school, another month worth of work.

Another reason it is a bad idea is because it takes away from family time. Summer break is when you and your family go on a vacation/trip for those two months. If we have year-round schooling, we won’t get to have those long trips together which can affect our families. Plus it doesn’t let us enjoy our trips if we have homework or an assignment that is due.
Now attendance is key to passing school, and with year-round schooling the students are going to get tired of coming to school. Which can cause students to skip class more frequently than they are now because they want/need those two months off. So in the end it is really hard to come to a conclusion because it is very debatable. But speaking for most of the students here, we like having our two months of summer break and would like to keep it that way.


{% endfilter %}

{% endblock news_content %}
