---
title: Should You Go To Prom
author: Owen Risidore
date: 2018-5-10
order: 125
stub: Prom is coming up, but should you really go?
image: /images/should-you-go-to-prom.jpeg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-you-go-to-prom.jpeg" class="news-article-image"/>

{% filter markdown %}

As Prom approaches, many people are getting prepared for the big night. Either with a haircut, a trip to the tailor, or planning what to do when the night is over with friends. Mostly everyone is excited for next week. However, prom might not be for everyone; some people just feel like it’s not worth the $50. While there is an abundance of reasons people might not go, there are also some good reasons to go as well.

###_Final Goodbye to Classmates_###

School doesn’t end till mid June, but for most people, it’s their final year.
They’ll be leaving WHSS for some place far away; some might even leave the
country for college or university. It’s the last chance to have an intimate moment
with their friends or significant others. Sure some might stay in contact, but others
might leave without a trace. It’s better to create these memories before they
leave for the giant world ahead of them.

###_Some People Just Like Getting Dressed Up_###

It’s self explanatory. Some people just like spending time trying to look as
fashionable as possible, and Prom gives them the excuse to do so. There’s
nothing wrong with wanting to get fancy’d up, for some people it’s a confidence
boost. While it might not be the main reason to go for some,
it’s still a reason nevertheless.

###_It Makes A Great Date Night_###

Prom is probably one of the best dates for a couple. Getting dressed up with your
significant other and slow dancing to Careless Whispers just brings out the best
in somebody. Sure it might be lame and generic, but who cares? Some people might
not see them for a long while, and might be forced into a long distance relationship.
It’s better to have a lasting memory of their lover in the best way possible.

So there are good reasons to go to prom, but some people just feel like it’s not
worth it. Either because of one glaring flaw or a combination of reasons;
here are the reasons why some people don’t want to go to Prom.

###_Dances Are Kind of Boring_###

While a majority of people do like the idea of dances, a lot of people just think it’s boring.
To them, dances are just events where people just stand and talk for a couple of hours with Top
40 hits played in the background. Obviously everyone has a different opinion; it’s just that they
have a more negative opinion than others.

###_They Don’t Have A Date_###

As I said earlier, prom makes a great date night for couples. Not everyone is in a relationship,
however. Sure, people usually hang out as friends, but some people feel that it’s not worth it if
they don’t have a date to go with. They’d rather chill out at home or do something else;
Which is perfectly fine and up to the individual.

###_Prom Is an Outdated Tradition_###

Prom has been around for decades on top of decades, yet there hasn’t been any real change since then.
People still dress up, people still stand awkwardly around the gym, and people still complain about not having a date.
The only difference is the people there. People shouldn’t be forced to go to something due to “tradition”.

Everyone has a different point of view on Prom but in the end, it really shouldn’t matter. We don’t need to judge anybody for going or not going to Prom; it’s their decision, not yours. So if you don’t see someone you know next Saturday, don’t try to interrogate them the day after. Same with people going to prom. Just have fun and enjoy the night however you decide to spend it.

{% endfilter %}

{% endblock news_content %}
