---
title: Should There Be a Voice Acting Class?
author: Kristen Maude
order: 1500
date: 2018/05/03
stub: In order to prepare students for the jobs of the future, Drama classes should have more focus on voice acting. With the development of computer animation, we need more voice actors and actresses. Drama classes teach you how to act in front of classes and groups of people. But what about the students that like to act but are too embarrassed to act in front of people? Maybe they would just like their voices to be heard.
image: /images/should-drama-classes-have-voice-acting.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-drama-classes-have-voice-acting.jpg" class="news-article-image"/>

{% filter markdown %}

In order to prepare students for the jobs of the future, Drama classes should have more focus on voice acting. With the development of computer animation, we need more voice actors and actresses. Drama classes teach you how to act in front of classes and groups of people. But what about the students that like to act but are too embarrassed to act in front of people? Maybe they would just like their voices to be heard.

If we had computer tech classes make animations, we should have students in the voice acting class be the voices for the characters. Maybe we could even have competitions between tech classes for making animation with voice actors/actresses. This is also a way to allow people between classes to make more friends and have more team building skills. For starters you have the people making the story line, people making the animation, and lastly, the people doing the voiceovers.

Having a voice acting class would train students how to use their voice in different ways. Maybe even to make sound effects like a water drop falling into water or how to talk in different accents. This is a way to show students that they can be interested in acting but not have to act in front of an audience. This also works for the students that aren’t allowed on camera to have a chance and be a part of this type of thing. Voice acting can also help students get over stage fright. If they know people enjoy hearing their commentary for a character then it may lead them to start acting on stage.

After talking to some students on their opinions for these classes, this is what they had said.

Jacob Arsenault says “This is very important, especially for kids with anxiety, and social anxiety and want to get into drama but are afraid to. I do hope this does become a thing in the future, because I see many kids being interested in this.” Jacob has a really good point. This allows students with different types of anxiety allow others to hear their voice in comedy or just for entertainment. Many students don’t like to be involved with the physical acting because of this.

Raven Roberts, says “ It could help students with anxiety. It’s finding a way so that everyone can be involved.” Even though Raven said about the same thing as Jacob, she has a good point on this allowing everyone to be involved.

This will be beneficial for students who have social anxiety but want to get involved and have their voice be heard in comedy or just as acting. This can help them get used to having to say or do things they are afraid of doing and maybe they will even like it. This allows people who like doing the arts to get the credit in a different way that they’re more comfortable with. This answers the question of ‘Should There Be a Voice Acting Class?’ the answer is yes according to some students at WHSS. If we do get the class maybe you should try it out, you may even like it.


{% endfilter %}

{% endblock news_content %}
