---
title: Should Youtube be Banned at WHSS
author: Jacob Arsenault
order: 72
stub:
image: /images/should-youtube-be-banned-at-whss.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/should-youtube-be-banned-at-whss.jpg" class="news-article-image-xsmall">

{% filter markdown %}

Last year the Upper Grand District School Board blocked almost all Youtube access, because of some inappropriate videos on the site. They undid their actions at the beginning of this school year. But  whether YouTube should be blocked in schools is still open for debate.
A lot of teachers struggled with the lack of Youtube while teaching lessons, making more work for teachers. When interviewing students, one student says “People need to stop!” Another says “this was a bad thing because some teachers need to use YouTube to show videos to help students with their work. Also when it comes to projects students might have to use YouTube in order to get some information through videos to help get information.”
Though the benefits of blocking YouTube may be no risky business from students, and less internet use, making the bills cheaper. The downsides definitely outweigh the benefits of blocking youtube though. The board may struggle with inappropriate videos, but they are giving teachers a tool to use to teach their students.
Though while it does depend on the subject, for example a math teacher may not care about this because they don’t use YouTube as much. While a media studies teacher, or Social equity teacher needs YouTube because the lesson is based on media. Another student says “To be honest, i have no idea why they would’ve done this, this is making both the student’s and the teacher’s life harder”


{% endfilter %}

{% endblock news_content %}
