---
title: Study says traffic lights not needed at busy Mount Forest, Arthur intersections
author: Alex Stewart
order: 30
stub: A report regarding pedestrian safety issues was under discussion at the Township of Wellington North council meeting on Monday, Dec. 4.
---

{% extends 'news-article.html' %}
{% block news_content %}

A report regarding pedestrian safety issues was under discussion at the Township of Wellington North council meeting on Monday, Dec. 4.
The report is a followup to a resolution passed on Feb. 13, directing staff to investigate feasibility and cost of painting a crosswalk at the intersection of Main St. and King St. in Mount Forest.
An eight-hour manual traffic count was conducted at the intersection during peak traffic times on Sept. 26.
Information was also collected at Smith St. and Conestoga St. in Arthur to address localized concerns.
The results at both locations were well below the defined threshold to justify installation of traffic lights. The report said there is no technical data to suggest either area require action by council.
However, according to Ministry of Transportation staff, the Township can establish its own thresholds to warrant installation of devices.

At its meeting on May 23, council also passed a resolution to prepare a report regarding Ministry of Transportation suggested guidelines on school crossing to pedestrian crossover conversion, outlining the merits and cost associated with implementing the changes.
There are presently six locations throughout the township with crossing guards. They are on duty mornings and afternoons when school is in session.
The installation of a pedestrian crossover would transfer the responsibility of safe crossing opportunities to both students and motorists assuming a crossing guard would no longer be necessary.

The report says: "The township has not had a collision reported at any of the Township’s school crosswalks while a guard has been on duty, in the staff’s collective memory.”
The advantage of pedestrian crossovers is that they are there all the time, as opposed to crossing guards, who are only on duty a few hours a day when school is in session.
The financial considerations of converting a school crosswalk to a pedestrian crosswalk are estimated at $2,500 per crosswalk. Full traffic light installation is estimated at $175,000 for budgeting purposes. The report also estimates the cost of installing pedestrian signal lights at $35,000 to $50,000.
The report recommended against pavement markings at an uncontrolled intersection because they can create confusion as to the right-of-way for both pedestrians and drivers.
“I’m OK with the report as it has been presented here," said Councillor Dan Yake. “The one thing that really concerns me is that the recommendation, it just says, no further action at this time. I think pedestrian safety or vehicular safety in our municipality... it must be continuous. We can’t just sit back and wait for matters of concern. I think we need to be proactive on this issue and we need to take a step forward... something is going to happen, somebody is going to get hurt or killed... that’s going to happen no matter where you go but, I’m concerned about the fact that we’re not going to take any action at this time... it seems like we’re going to put it away, put it on the shelf until we get another letter of complaint or somebody gets hurt or killed.”
“I agree wholeheartedly with [Coun. Yake] because traffic continues to increase, especially as our communities continue to grow,” said Mayor Andy Lennox. “One of the things we are looking to do is a comprehensive transportation review. I’m not sure we’ll get it done during this term of council... I can think of several other trouble spots where we need to take a serious look at what the future looks like. For instance, if the Canadian Tire gets developed along Mount Forest Dr. there will be serious congestion.”

{% filter markdown %}



{% endfilter %}

{% endblock news_content %}
