---
title: Summer School Options For Students at WHSS
author: Caleb Callaghan
date: 2018-05-03
order: 103
stub: Want to find out what summer school options you have? See this article to find out.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

There are lots of classes that you can attend in summer school. Many of these programs are still run by the Upper Grand District School Board and count towards the overall credits you get in high school. Even some of these credits can also count as post secondary credits. Whether you’re taking summer school to get another credit, or taking it to fix a credit in a class you didn’t pass it’s still good to be aware of your options:  You could even take a class you didn’t fit into your timetable that year. Summer school lasts 2-4 weeks. With all these options at your fingertips it's easy to see how this will benefit you.

For people who need to fix their mark in a class, they offer credit recovery courses.
These courses allow you to retake a class and have another chance to get a better mark in them. With this you can easily recover the credit so long as you put a decent effort forth. Along with recovering classes to get a better mark, you can also retake a class you failed during high school and complete it. This means you don’t have to waste one of your courses during the year to retake it, and it gives you an option to take a higher level courses in its place.

Summer school offers credits that may not be available to you at your high school and gives you a chance to experience these classes. It also gives you more options when you plan on going to postsecondary education. On top of that, summer school can also give you the credit necessary to go into a specific apprenticeship. Apprentices are needed right now, so it's one of the bigger job opportunities and a good place to start in the working world. Many classes that are provided at high school will also be provided by the summer school programs. Even classes like a specific history or english credit that aren’t offered at your school might also be provided during summer school.

Taking a course in summer school could allow you to have an extra spare in high school. This could make it easier for you if you have a difficult semester ahead of you giving you more time to work on projects and assignments. On top of that it could allow an extra class that you wouldn’t have been able to take before. For example if you take a Grade 11 math class over the summer than in Grade 11 you would be able to advance into a Grade 12 class, or even substitute a new class if you’re not interested in that.

Whether going to summer school is to redo a class, to get a class your school doesn’t offer, or to simply get a bonus credit these things should all be considered. Summer school is a great option for students looking to complete high school by grade 12 and get all their credits that they want or need. Even if you believe you have all your credits it still good to have a few more options open in your future. So why not give it a try?

{% endfilter %}

{% endblock news_content %}
