---
title: Teens charged with vehicle theft
author: Alex Stewart
---

{% extends 'news.html' %}
{% block news_content %}

{% filter markdown %}

Wellington County OPP have laid charges against a youth from Mount Forest in relation to numerous vehicle entries in Mount Forest overnight on Aug. 26-27, 2017.

OPP reported that they received numerous complaints from residents in the Ayrshire Street area, as well as the Albert Street area, in Mount Forest regarding unlocked vehicles being entered. The suspects appeared to target cash and loose change and removed identification and credit cards from vehicles and threw those items in nearby ditches and front lawns.

An investigation has led to police charging a 15-year-old male from Mount Forest, who cannot be named under the Youth Criminal Justice Act, with theft under $5,000 contrary to the Criminal Code, mischief to property contrary to the Criminal Code, fail to comply with undertaking contrary to the Criminal Code, resist peace officer contrary to the Criminal Code, and escape lawful custody contrary to the Criminal Code.

OPP are also looking for an adult male who is also a suspect in these events.

A second male youth was identified and has been diverted according to the Youth Criminal Justice act

They are still looking for a man that is also a suspect for these break in’s

{% endfilter %}

{% endblock news_content %}
