---
title: Mount Forest Tim Hortons
author: Caleb Callaghan
order: 67
stub: Tim Hortons is a huge business and has lots of things for you... Come find out what they do and how they do it.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/tim-hortons-business-profile.jpg" class="news-article-image">

{% filter markdown %}

Tim Hortons in Mount Forest is a fast food restaurant that sells donuts, timbits, bagels, coffee, tea, and any other sort of baked merchandise. They also sell these items in large quantities for all different occasions,including large quantities of coffee stored in big thermal cases. The only way to get these is to call ahead and order them from the closest store to you. These things need time to prepare and usually take a lot of the merchandise to complete. So it's ideal to call ahead a few days just in case.

Tims also provides a drive thru for people who need to get in and out quickly. The aimed for time is around 30 seconds every morning. This is typically for people who have a regular order of some drinks and possibly baked goods. The larger the order the longer it will take the employees to prepare it for you. Most people think the drive thru is slow, but it's actually just because of the number of people and the size of orders. If you order 12 donuts and 50 timbits you’re not going to get it in 30 seconds,whereas ordering a coffee and a muffin would be done in no time.

 A great benefit of working at Tim Hortons is that you have flexible hours because there isn’t a shortage in people working there. While they’re more flexible, basic employability skills like not showing up isn’t acceptable without calling in ahead or having a doctor’s note the next time you go to work. Tim Hortons also has scheduled shift changes that are organized into morning, afternoon, and night shifts. While each of these shifts does different things it's important to remember that at night there’s fewer people and therefore fewer employees to serve you.

 Customer service is valued the most at Tim Horton’s, and is essential for a fast food restaurant. Employees are trained specifically well in customer service and go through multiple tests and further training to make them the best possible at it. In other words their isn’t any lack of it. Tims takes this very seriously and if any employ is too break any part of their code they’re sent home immediately and could potentially be fired from their job.

The most common good review about Tim Hortons is commonly quoted “ Tims is always open no matter what.” 24/7 service is convenient, and also difficult to maintain in a small town with a small population. Another thing is that in a small town people know each other and can communicate on a friend to friend basis. This means they already know what they’re ordering and can prepare before they even pay. This means a faster service overall.

I interviewed a Tim Horton’s employee named Hayden Van. He recently started working there a few weeks ago. Hayden says, “Tim’s is a fast paced restaurant that constantly needs things done to it. If you’re not serving then your cleaning the floors, or washing the dishes. There are so many things to do it's hard to keep up with the pace.” Hayden also briefly mentions that the Mount Forest Tim Hortons just won an award given to them by the owners. The competition was between a few Tims’ around the North Wellington area, and they won with an average of about 90%.

Even if coffee is not your thing, you should still check them out. Tim’s offers a wide variety of different beverages and food. Not only that they constantly offer limited time drinks and donuts (Currently they’re selling Reese's Pieces donuts.). So give it a try: it always helps to support a local business in your community.

{% endfilter %}

{% endblock news_content %}
