---
title: Trump And NAFTA
author: Hunter Fearnley
order: 8
stub: U.S. President Donald Trump just might pull the plug on the North American Free Trade Agreement, leaving the entire continent’s state of trade in flux – while
 possibly driving up costs for Canadian consumers on a slew of goods from cars to groceries.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

U.S. President Donald Trump just might pull the plug on the North American Free Trade Agreement, leaving the entire continent’s state of trade in flux – while
 possibly driving up costs for Canadian consumers on a slew of goods from cars to groceries. Considering that Canada and the U.S. have been operating under a trade
 agreement including Mexico for nearly a quarter century, however many of the goods crossing between Canada and the U.S. include parts from Mexico. The fact that goods can travel duty-free between the U.S. and Mexico during the manufacturing process helps keep the costs of many goods down, Barutciski explained. In other words, Canadian consumers benefit from U.S.-Mexico trade, even if Canada’s direct trading relationship with Mexico doesn’t boast a high dollar figure. Take away the trade

 advantages between the U.S. and Mexico, however, and consumers will feel it in their wallets. Which for canadians anywhere is not a good thing.
 Even the former World Bank president, a Canadian international
 trade specialist involved in the original NAFTA negotiations, the head of Canadian union Unifor and a U.S. international trade lawyer have little good to say about Trump’s proposals. Which doesn't really make the situation any better unless someone can change his mind. Trudeau even met Trump in D.C. hoping to save NAFTA “I’ve been opposed to NAFTA a long time in terms of the fairness of NAFTA. I said we’ll renegotiate it,” trump said this week from the Oval Office with visiting Prime Minister Justin Trudeau sitting alongside him. So who knows what's to come from it tru mp might get rid of NAFTA or he's going to regulate it either way something

is going to change. Trudeau tries to explain what ‘clarity’ he got from Trump on NAFTA “I continue to believe in NAFTA. I continue to believe that as a continent, working together in complementary ways is better for our citizens,
better for economic growth and allows us to compete on stronger footing with the global economy,” he said, admitting the circumstances of the negotiations have been, at times, “challenging.” so hopefully by
the time trump finds out what he going to do
it won't affect anyone in a bad way

{% endfilter %}

{% endblock news_content %}
