---
title: Two Men Arrested
author: Alex Stewart
order: 21
stub: On Saturday October 28th 2017 shortly before 11:00am, a citizen contacted police after observing two men attempt to pry open the rear doors of a business located at 2475 Mountainside Dr. Burlington.
image: /images/news-cop-arrest.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/news-cop-arrest.jpg" class="news-article-image">

{% filter markdown %}

On Saturday October 28th 2017 shortly before 11:00am, a citizen contacted police after observing two men attempt to pry open the rear doors of a business located at 2475 Mountainside Dr. Burlington.

The men were unable to gain entry into the business and were seen fleeing the scene at a high rate of speed in a grey Toyota Echo.

Minutes later, police received a report that a matching vehicle had struck a tree in the area of Mount Forest Dr. and Nottingham Ave. and the two occupants fled on foot. Officers arrived on scene and determined the vehicle had been stolen from Hamilton.

Police searched the area with the assistance of canine and located one of the men hiding in a backyard near the scene. The second man was later located in the downtown area of Burlington after police received information that he boarded a city bus.


{% endfilter %}

{% endblock news_content %}
