---
title: Wellington North council to look at lowering speed limits in school zones
author: Alex Stewart
order: 34
stub: A report on rural school zones presented to Wellington North council on Monday, Jan. 8 prompted a discussion which lead council to pass a motion to draft a policy to lower speed limits in school zones throughout the township.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

A report on rural school zones presented to Wellington North council on Monday, Jan. 8 prompted a discussion which lead council to pass a motion to draft a policy to lower speed limits in school zones throughout the township.

“I’d first like to say that I’m frustrated with the lack of content and recommendations in this report. Instinctively I’d like to send it back, but I don’t think, with a delay, that is going to accomplish what we want," said Councillor Sherry Burke. "The safety of students travelling to and from school is important and this issue should not be taken lightly by council or staff. My opinion regarding the Sideroad 3 and Concession 4 has not changed. I believe that stop signs [should be installed],

and speeds should be reduced in that intersection, just because we will soon have three operating gravel pits up there. The traffic, I believe will become a similar situation as an industrial park zone.”

Mayor Andy Lennox informed council that Wellington County has a policy for speed limits in school zones of 40 km/hr in urban areas on 60 km/hr in rural areas.

“That is consistent across the country except for the school on County Road 16, which is in Wellington North. That issue was raised when we were discussing that, and they would be amenable to changing the speed limit in front of that school if we want that to happen,” said Lennox.

“I think our responsibility is to just be as consistent as possible. It may take a little bit of work to do that and it may frustrate people,” said Coun. Dan Yake.

Council discussed the possibility of changing the speed limit in all school zones to 40 km/hr. Only Mayor Lennox voiced concern that dropping the speed limit from 80 to 40 km/hr could lead to compliance issues in rural areas.

“I find even 60 km/hr to be too fast... even if you are not getting a lot of traffic," said Coun. Lisa Hern.

“We had this discussion when I was at the county and the reason they didn’t drop it to 40 km/hr is because their perception on the way traffic reacts is if it goes from 80 to 40 people will just ignore it, as opposed to going 80 to 60 people actually slow down,” said Lennox.

“But, if you decided you were going to make every school zone 40 km/hr and posted it appropriately, I mean once we do then it’s up to the enforcement agencies to deal with it," said Yake. "I think we have to get that overall consistency. Forty would be okay with me.”

Consistency in school zones is a concern that was raised repeatedly by council throughout the discussion.

“We could adopt a policy like what the county has in place... This is our standard as it relates to school zones and it’s 40 km/hr, or we could do like what the county has done and have it 40 km/hr in our urban areas and 50 km/hr in our rural areas," said CAO Mike Givens. "Those are just two options but... from a go-forward basis... we should establish a policy, this is what we’re doing going forward so [staff] as well as enforcement people, especially the OPP.”

“I would insist that it should be the same, doesn’t matter if you are in rural or urban, 40 is 40,” said McCabe.

“What I am hearing is that pretty much everyone is in favour of reducing speed limits," said Lennox. "I personally think trying to drop from 80 to 40 in rural areas may have a compliance problem.”

“I also think we should have some consultation with the OPP about the 40 km/hr. They may have comments about that, about whether it’s a good idea or a bad idea," said Givens. "They are enforcement experts, we are not.”


{% endfilter %}

{% endblock news_content %}
