---
title: Students Opinions of What Courses WHSS Should Have
author: Breann Stortz
order: 1800
date: 2018/05/10
stub: WHSS has a lot of different courses to offer. So many that it’s sometimes hard to choose which ones you want to take, even if it’s just for fun. However, for some people, it is difficult to choose what courses to fill their timetable simply because the ones the school offers aren’t ones they want to take or aren’t interested in. Here’s what the students of WHSS, students coming into Grade 9 in the next couple years, and the parents of high school students think what courses WHSS should have in upcoming years. Let’s go.
image: /images/what-courses-do-students-want.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/what-courses-do-students-want.jpg" class="news-article-image"/>


{% filter markdown %}

WHSS has a lot of different courses to offer. So many that it’s sometimes hard to choose which ones you want to take, even if it’s just for fun. However, for some people, it is difficult to choose what courses to fill their timetable simply because the ones the school offers aren’t ones they want to take or aren’t interested in. Here’s what the students of WHSS, students coming into Grade 9 in the next couple years, and the parents of high school students think what courses WHSS should have in upcoming years. Let’s go.

Hannah Dekorte, a Grade 9 student at WHSS, said, “A mythology course. An independant course on one of the courses that are already a course. An animation course.” When questioned what she meant by the independent course, whether it was like a one-on-one with the teacher, she said “No. You pick what you want and then you just get the work for that class and work away.” So, similar to an online course? Just not online? She said “Yes.”

Aidan McCarthy, a Grade 9 student at WHSS, said “A ways of life course. A course that teaches students the things they need to know in life.” What Aidan could possibly  mean here is something like putting all those Math, English, and other courses that teaches students a few things that they need to be prepared for. A course that WHSS does have that sounds similar to what Aidan was saying is a course called Personal Life Management or HIP4O.

Kristen Maude, a grade 10 student at WHSS, says “I think that schools should have more classes for natural disasters, even though we already have one, it only runs on even numbered school years for example 2017-2018 so I think we should have this for any school year. This class will show how to prepare for them and what to do when one happens. Many people are affected by these types of disasters and some people don’t know what to do when one does happen and don’t know what to do. If we had this whatever school year then we could help many people in communities if a disaster strikes.” The every-other-year course Kristen is talking about is called Forces of Nature or CGF3M.

Breann Stortz, a Grade 10 student at WHSS, and she also happens to be the writer of this article, says “I like the courses that WHSS has to offer. I like to plan out what I courses want to do in Grade 12 and the extra year I’m intending to take, and I only have one space left for a course, in the extra year. However, on myBlueprint, there are courses that are on there, but WHSS doesn’t offer them any more, which bugs me. There are two computer engineering course, one for Grade 11 and one for Grade 12, that I would love to take at WHSS. Another course I think WHSS should have is a Grade 12 Photography, because there’s only a Grade 11 one.” Breann wanted her opinion to be in this article.

Tena Stortz, a parent of a high school student, said “Common computer programs like Excel. Time management skills. Cyber safety and security. Personal financial management.” A few of the suggestions Tena had said are actual courses that WHSS has to offer. Information Technology in Business or BTT2O and when is comes to financial management, there are a multiple courses that teach that, bit by bit.

In conclusion, all these people want there to be more useful courses like the ones they suggested, even if some of them are ones the school is already offering. Remember, these are their opinions, and their opinions shouldn’t be looked down upon. Anyway, let’s hope these dreams can become reality, and that the students schedule a guidance appointment and ask their Guidance Counsellor about the best ways to learn the things they’re interested in.

{% endfilter %}

{% endblock news_content %}
