---
title: WHSS Junior Girls Basketball Team Dominates Game Against WSS!
author: Ian Dafoe
order: 17
stub: On November 2nd, 2017, during the time in between 2:30pm and 3:45pm in the W.H.S.S. Gymnasium, the Wellington Heights’ Junior Girls Basketball Team played against Westside’s Junior Girls Basketball Team.
image: /images/news-bb-jr4.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/news-bb-jr4.jpg" class="news-article-image">
<img src="/images/news-bb-jr5.jpg" class="news-article-image">
<img src="/images/news-bb-jr6.jpg" class="news-article-image">

{% filter markdown %}

On November 2nd, 2017, during the time in between 2:30pm and 3:45pm in the W.H.S.S. Gymnasium, the Wellington Heights’ Junior Girls Basketball Team played against Westside’s Junior Girls Basketball Team.  W.H.S.S. dominated the game with a staggering score of 43-28. Coaches Severn & Skipperis were celebrating with joy while, on the other hand, Coach Mongomerty wasn’t.

How the W.H.S.S. Junior Girls Basketball Team won this game and the first spot in the playoffs is they used huge efforts, strategy, teamwork, cooperation, and positivity as a team. We can not forget to mention the tireless efforts of Coaches’ Severn and Skipperis for training the team. They give up their own time to allow these girls have some the best high school memories their life will have.

One player I interviewed after the game who played fantastically was Haven LeBlanc. I asked her about what she thought of the game and what it felt like to win the game. Her comments were, “The game was good, even though it got a little pushy. I am happy with the results of us winning the game and the first position for the playoffs”.

All the junior girls basketball teams from different high schools all around the Upper Grand District School Board play against each other. The teams try to win the “Junior Girls Basketball District 4 Champions” banner for their school and bragging rights for the school year 2017-2018.

Another player I interviewed after the game who played like she was in the NBA was Blanca Perez. I asked what it felt like to score 4 points under 25 seconds with the whole school cheering her on and where she learned her awesome skills. She said, “It felt pretty good. I got my skill set from learning how to pass the ball quickly”. When I watched her, you could tell she had a very strong passion for basketball because she was dribbling the ball between her legs, running ‘a hundred miles and hour’, and scoring baskets when under major pressure.

After watching the girls’   team play and speaking with the players, I predict the Wellington Heights Junior Girls Basketball Team will win the “Junior Girls Basketball District 4 Champions” banner for the school year, 2017-2018, if they continue to practice and play hard.


{% endfilter %}

{% endblock news_content %}
