---
title: WHSS Senior Girls Basketball Team Heads to the Playoffs
author: Ian Dafoe
order: 18
stub: On November 2nd, 2017, the Wellington Heights Secondary School’s Senior Girls Basketball Team played against Westside’s Senior Girls Basketball Team to see who will claim 1st position in the playoffs.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

On November 2nd, 2017, the Wellington Heights Secondary School’s Senior Girls Basketball Team played against Westside’s Senior Girls Basketball Team to see who will claim 1st position in the playoffs. The game was played from 4:10-5:25 p.m. in the Wellington Heights Secondary School gymnasium. And without a doubt, the Wellington Heights’ team won with a staggering score of 43-16.

As I saw them warm up and play, it was easy to tell that the girls gave their best effort. They played to their maximum abilities using strategy, teamwork, co-operation, and never giving up. Even though Mr. Norton was yelling at all the players when they played, I believe it was one of their winning strategies that even Westside didn’t understand. He is a very competitive coach. It works for the team.

Wellington Heights’ team showed real compassion and sportsmanship when there was an incident on the game floor.  During the game, player Mackey Iles accidentally elbowed a Westside player in the upper body. When the Westside player fell to the floor, both teams stopped playing and waited to see if she was alright. The player did eventually make it up with the help of her fellow teammates. Both teams cheered her on as she rose up. The player had to take a break on the bench to recover.

During the first period of the game, I interviewed Wellington Heights player, Tessa Henry. I asked her if she thought they were going to win the game. She said, “We’re going to try”. When I asked her this, she looked tired but still ready to do her best.

The teams were playing against each other because they were battling to see who will claim first position in the playoffs. The winning team will compete to try to win the “Senior Girls Basketball District 4 Champions” banner for the school and bragging rights for the school year 2017-2018.

As the students and staff know, the odds of the Wellington Heights’ Senior Girl Basketball Team winning the banner is pretty good. If they continue to work and train hard with their coaches, Mr. Norton and Mr. Wildeman, they will win for sure.


{% endfilter %}

{% endblock news_content %}
