---
title: WHSS Warm Winter Wishes
author: Alex Stewart
order: 23
stub: Now entering its 16th year, the Warm Winter Wishes (WWW) program at Wellington Heights Secondary School hopes to once again make a difference in the lives of over 100 local children this Christmas.
---

{% extends 'news-article.html' %}
{% block news_content %}

{% filter markdown %}

Now entering its 16th year, the Warm Winter Wishes (WWW) program at Wellington Heights Secondary School hopes to once again make a difference in the lives of over 100 local children this Christmas.
WWW is managed and operated by the Grade 12 business leadership class at Wellington Heights, and sees the students in the class put what they have learned since Grade 9 to practical use. The students also have a job title and description.

Warren Zeinstra, general manager of WWW, explained that community school liaisons identify families in need, contact the parents and collect information about clothing sizes and personalized items, which is then communicated to WWW.
Members of WWW don’t receive names of the children or families identified. All they receive is general information — age, sex, clothing size and which school the child attends.
“It’s very private,” said Zeinstra. “Everything is coded by the schools to protect the identities of everyone.”
Last year more than 130 students from Victoria Cross Public School, St. Mary Catholic School, Arthur Public School, St. John Catholic School, Kenilworth Public School, Egremont Community School and Normanby Community School received gift packages from WWW. This year Zeinstra said the goal of the group is to raise $38,000 and support just as many local children as last year.
“The number seems to be similar year to year,” he said. “We’re hoping to give the kids a bigger bundle this year.”
WWW raises funds to support the initiative through various in school and community fundraisers. Popular events that are returning are the chili cook off, the community dinner in Arthur, the toy drive at the Mount Forest Patriots game on Dec. 2, and the PJ Rama Extravaganza. New events this year include Soup’s On, which is similar to a chili cook off, a community dinner in Mount Forest, and an exotic animal experience.
“We’ve got 23 different events over the next month or so,” said Zeinstra.

In between all of the events, members of the WWW team will be visiting local businesses for financial and silent auction donations.
“The community has been really good to us since we launched this program 16 years ago,” said teacher Barb Cowen. “Without their support, we wouldn’t have been able to raise more than $300,000 since we started.”

EVENTS OF NOTE

With so many events in a 30-day window, here are some that are of interest to the community:
—	Thursday, Nov. 23 — Exotic Animal Experience, featuring animals from Tiger Paws Exotics in Arthur, at Wellington Heights Secondary School from 5-7 p.m. in the parking lot.
—	Wednesday, Nov. 29 — Community dinner at the Arthur Community Centre. Tickets available at Arthur Foodland, Walsh’s IDA in Arthur, and the Arthur Library.
—	Saturday, Dec. 2 — Toy drive at the Mount Forest Patriots game against the Walkerton Hawks at 8 p.m.
—	Tuesday, Dec. 5 — Arthur Vipers vs. Mount Forest Rams midget hockey game at the Arthur Arena. Puck drop is scheduled for 7 p.m.
—	Wednesday, Dec. 13 — Community dinner at the Mount Forest Legion. Tickets available at Foodland in Mount Forest and Walsh’s IDA in Mount Forest.

{% endfilter %}

{% endblock news_content %}
