---
title: Why Doesn't WHSS Have a Football Team?
author: Ryan Coffey
order: 53
stub:
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

Why doesn’t WHSS have a football team? Is it the cost? The debates around whether Football is good for youth? Or is there just the lack of interest for the sport among the staff and students?

It is understandable that a school might hold back on getting a football team due to the cost of starting and maintaining a team being so costly. The average cost to equip just one high school football player ranges anywhere from $800-$1000. That includes the cost of shoulder pads, pants, game jersey, thigh pads, knee pads and shoes. That does not include the cost of maintenance for the equipment.

But keep in mind the equipment does not need to be replaced every year, for example most helmets are good for up to 10 years with annual checks to make sure they are still doing their job. Whereas shoulder pads often times are good for 3 years.

But to look at the cost of a football team you also have to look at the possible profit and support/charity programs out there to help support the hefty cost of a football team. To put it into perspective, say that WHSS had a home game every friday for a 10 week season, and sold tickets to these games for anywhere from $6-$10 per person. If 100 people came to each home game the team would make an average of $8000 which would help with the cost of the team. On another note there are companies out there that will give money to schools to start up, maintain and upgrade their football programs at schools. For example the [Nissan Kick-Off Project] (http://www.nissan.ca/en/partnerships/football-in-canada/#) donated $430,000 to 70+ high schools across Canada in 2017 to help with football programs. After looking at all of this it is clear that cost could be a large part of WHSS not having a football team but there is ways to help with the cost and make it possible.

Another widely discussed issue with football in high schools is the effects of the sport on a growing youth brain. It is becoming more and more known that football causes a large amount of concussions and head trauma. But so do other sports that the school supports such as hockey or Rugby which could make you wonder that concussions can’t be the reason that WHSS is holding back on starting a football team. Also other high schools across Canada and of course the states run high school football programs with great success. So is WHSS holding back on starting a football team because of risk of brain injuries or is there another reason?

Another possible reason for WHSS not having a football team could be as simple as just having a lack of interest in starting among the staff, students and school board. What I mean by this is that maybe it’s not happening because nobody is trying or has any interest in trying to start a team. I know that the there are students in the school who would love to see WHSS have a football team but what I don’t know if there is enough interest to run a football team. But if we look at other schools football teams are great for creating school spirit and pride with prep rallys, homecoming and promoting turn out to support your team at home games and away if you really want to show your support. I went to St.James High school in Guelph before transferring to WHSS. St.James had a football team and the turnout for the pep rallies and Homecoming was not only impressive but fun! Everyone cheering on their schools team and wearing your schools colour really shows school pride.





{% endfilter %}

{% endblock news_content %}
