---
title: Why You Should Go To Prom
author: Alyssa Clark
order: 39
stub: Prom is the night to dress your best and have fun with friends. If you're not going here's why you should go and what to expect when you get there.
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/getting-ready-for-prom.jpg" class="news-article-image">

{% filter markdown %}

Why You Should Go To Prom
=========================
Prom, where everyone spends all day getting ready to look their best. It is a night that only happens once.
Even if you go multiple times, you can only go there once for your Prom.
It’s the night to really express yourself and dance with your friends or even that special someone.
Everyone should go to Prom just to experience it, because it’s better to say you went to Prom even if you didn’t like it, then don’t go and regret that you never went.
It’s also a way to have a fun send off with you and your friends before you graduate because you might not see them again. So if you know someone who’s not going, try talking them into going with you.
There are many reasons why people don’t go to prom. For example, they don’t like parties or dressing up for just one night. But the main reason why people don’t want to go is because they don’t have a date. Prom is about going with your crush but it’s not, you don’t have to have a date instead go with your friends. If that doesn’t interest you, you could always bring your mom to prom. Now going with your friends sounds a lot cooler doesn’t it? So go to prom and have fun because the prom committee is working hard on making it a night to remember.
Prom involves a lot of planning because it is a very special night for those who are graduating and it has to be perfect. So it takes  6-7 months and our Prom Committee started planning our Prom in mid-November. Also, keep in mind our Prom Committee is only 6 students and 1 teacher.
One of the things that was planned is the theme. So why this year’s Prom theme “Tale As Old As Time” from Beauty and the Beast? Well it’s because the movie got released and most of the Student’s Council members were big fans. So when they had a vote it got the most and that’s why it’s themed after that Disney movie.The original idea was “Night Under the Stars”, but that was too cliché and didn’t win the vote.
Another thing with Prom is decorations obviously, that’s what really makes a prom a prom. Some info about this year’s decorations is roses and rose petals, of which the committee has 1000. There will be gold satin, fairy lights, rustic teacups and chandeliers so it is inspired from the movie but semi modern. Those are some of the decorations that will be at this year’s Prom.
If you have never been to Prom, you’re probably wondering where it takes place. It is held at the Sugar Bush, because it’s beautiful, and does its own catering. Our school has been going to the Sugar Bush for about 3-4 years now and is always a success. It’s also a place to take pictures at because it has its own photo booth there, plus our Prom Committee can hang all the decorations really well there.
So every Grade 12 should go to their prom to experience it and see how hard our prom committee has worked to put it together.



{% endfilter %}

{% endblock news_content %}
