---
title: Why Mount Forest Should Get its Gaming Lounge Back
author: Breann Stortz
order: 1900
date: 2018/05/04
stub: Did you know that Mount Forest used to have a gaming lounge? It was called Game Over and was closed before the end of summer last year, saying in a post on Instagram that they were moving to a new location. They haven’t yet, meaning that they either haven’t found one or they may be coming back for next summer. Let’s hope for the second option.
image: /images/why-mount-forest-should-get-its-gaming-lounge-back.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/why-mount-forest-should-get-its-gaming-lounge-back.jpg" class="news-article-image"/>

{% filter markdown %}

Did you know that Mount Forest used to have a gaming lounge? It was called Game Over and was closed before the end of summer last year, saying in a post on Instagram that they were moving to a new location. They haven’t yet, meaning that they either haven’t found one or they may be coming back for next summer. Let’s hope for the second option.

Game Over was a small gaming lounge for a small town like Mount Forest. They had almost at least one of every latest gaming consoles at the time. They also had games like air hockey and were very popular when it came to birthday parties and club events. However, they may not have gotten the turnout on the day-to-day basis, leading them into having to close up shop. As of right now, the sign remains above the door on the outside of their old building, along with the rental sign. However, the inside walls have been painted over, so it is uncertain if they’ll come back this summer, or even at all.

Aren’t video games a distraction and bad for your health? Yes, they can be. Video games can damage your eyesight from staring at a screen for too long. They also distract people from things like time spent outdoors, time spent with family, school work, and chores. Fortunately, the good side of video games can increase a player’s muscle memory, focus, attention, morality, and hand-eye coordination. Certain video games like Just Dance and Wii Fit can get the player up and active.

Why should Game Over come back? Not only will kids get all those benefits, but they’ll also get something to do during those boring summer days. Getting Game Over back would also mean giving some teenagers a summer or after school job. It doesn’t even have to be Game Over. Even another company that provides the same things will do. This gaming lounge doesn’t even have to be a summer only thing. Kids who have birthdays all year round will get to celebrate there. This would be an excellent birthday party idea for winter birthdays, seeing that the weather outside will be cold.

Another great thing about a gaming lounge is that it’s another great way to making new friends. Playing online and meeting other gamers online can be dangerous. But meeting someone in person, who is also into gaming and video games that you like, is a lot safer.

Video games are seen as a distraction and a waste of time to quite a few people. Although, there is a lot people who’d disagree. Maybe even more. And there are a lot of people living in Mount Forest who enjoy playing video games. Getting the gaming lounge back, whether it’s Game Over or a new company, would be a great way for kids to get all of those benefits. Not to mention, it would be cheaper for parents when it comes to giving the kids a way to get those benefits. Video game consoles and even the video games themselves are expensive. Anyway, bringing the gaming lounge back will make a lot of people happy.

{% endfilter %}

{% endblock news_content %}
