---
title: Why Students Should Take a Computer Tech Class
author: Breann Stortz
order: 49
stub: Technology has advanced remarkably since the first computer, and it’s constantly changing. If students aren’t learning about the technology around them, we may never get to the future with flying cars, even though, in a way, they already exist.
image: /images/why-students-should-take-computer-tech.jpg
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/why-students-should-take-computer-tech.jpg" class="news-article-image">

{% filter markdown %}

Technology has advanced remarkably since the first computer, and it’s constantly changing. If students aren’t learning about the technology around them, we may never get to the future with flying cars, even though, in a way, they already exist.

If students learn more about it, they can not only create more of the same tech, but they could also innovate technology and make it better for the future of our technology. A lot of people do think technology is bad, and that’s understandable. Not all tech is good. But a lot of it helps in ways like medical care and communication in long distance situations. It is true that technology like smartphones are taking away social interaction and outdoor activities from people. More specifically, teenagers. Yes, peoples jobs are literally sitting looking at a screen all day. But that’s legitimately their job. That’s pretty much what accountants, YouTubers, and animators do.

How can students learn more about technology? By taking a computer tech class in high school, of course. WHSS has quite a few tech classes itself, including IDC3O, which is a Yearbook tech class for Grade 11, and TIJ1O, which is a Grade 9 tech class that focuses on not only computers, but wood and metal tech as well. Not only can you take computer tech classes in high school, but you can also take them in university and college as well. There you can take classes for computer engineering, video game design, graphics design, and many more.

Pretty much all technology requires a computer. Whether it’s on the computer and stays on the computer like accounting, or programming a video game by taking the programming off the computer and putting it onto a disc or a cartridge. They require a computer. After planning something like building a house on the computer, there’s technology that helps build the house like power tools and machines. That’s where learning wood and metal tech comes handy. But it’s the computer tech we want to focus on.

Not many students are taking computer tech, even though they most likely need it for whatever job they want to take on. Name a job that doesn’t require technology. Go ahead. Try. There are jobs out there where some companies use technology more than other companies, but pretty much all of them use it. Even if it’s just for emails. Then again, being a professional athlete for something like soccer or something like that don’t require tech, but almost every company does. The reasons why a company wouldn't have technology because it’s in their religion to not use or they just don’t need it. Just to sum it up, almost every job requires technology, and knowing more about tech will give you a better understanding of what you’re doing.

What benefits will come out of taking a computer tech class? Like said before, it’ll most likely help with whatever job you want to do after high school or college. It’ll also be useful to know more programs you can download, use at home, and taking a computer tech class will not only introduce you to these programs, but the teacher will teach you how to use them for future projects.

The technology around us is always changing. Whether it’s the newest iPhone or the latest video game update, it’s changing. Very rarely does it stay the same. In order to keep it changing, students should learn more about the technology around them, from the past, and use that information to create the technology of the future. The way to learn about technology is to take a computer tech course.

{% endfilter %}

{% endblock news_content %}
