---
title: Will AI Push Humans to the Future or Destroy us?
author: Ryan Coffey
order: 70
stub:
image: /images/will-ai-push-humans-to-the-future-or-destroy-us.JPG
---

{% extends 'news-article.html' %}
{% block news_content %}

<img src="/images/will-ai-push-humans-to-the-future-or-destroy-us.JPG" class="news-article-image">

{% filter markdown %}

With the up and coming presensance of Artificial Intelligence in the world today it is impossible to not ask whether AI is good or bad,  and what effects will it have on the world as we know it? To get a better idea on what the future could look like with the advances of AI technology we will look at some tech moguls perspectives on it and what some new AI looks like.

Elon Musk, owner and President of Tesla and SpaceX and arguably one of the people making the biggest push towards humanity and the future. But what Elon musk doesn’t have is any intention of bringing AI along for the ride. While he doesn’t think that anybody would knowingly create the robot that destroys mankind, he once said at the World Government Summit in Dubai, “Sometimes what will happen is a scientist will get so engrossed in their work that they don’t really realize the ramifications of what they’re doing.” He also once said that we need to find a way to Mars so that when AI takes over Earth we have somewhere to run.

But if we take at look at Google owned DeepMind and Google’s ex-engineer they have quite a different look at our future with AI. The Google-owned company DeepMind is the world leader in AI research and its push for positive impact. They have successfully made a computer that has taught itself 49 Atari games and just recently played the world's best Go player and won, which is one of the most complex yet intuitive games ever made. That is a huge step forward for the AI community, but it's up to everyone to decide for themselves whether these big moves are a good thing or a bad thing.

Yet another big move in the AI community is also sort of a branch off of Google, coming for one of Google’s ex-engineers, Anthony Levandowski. Anthony is the founder of the first church of AI, and plans on creating an AI God “that will take charge of Humans.” This could come as a huge shock to some people that didn’t even know that AI was making some of the leaps that is was. Maybe the terminator wasn’t just a science-fiction movie but a look into humankind's future.

Arguably one of the biggest names in science whom has recently passed on, Stephen Hawking also had a strong opinion on AI. In November of 2017 Stephen said “The emergence of artificial intelligence could be the worst event in history of our civilization unless society finds a way to control it’s development.”  So if Stephen Hawking's was scared of the possibilities of AI then should it be a topic that everyone is more aware of?

In conclusion,  it’s really anyone’s guess what the future might hold for the human race and AI. All we can say for sure is that the advances in AI are really interesting and something we should keep a close eye on.




{% endfilter %}

{% endblock news_content %}
