---
title: Warm Winter Wishes Midget Game
author: Alex Stewart
order: 28
stub: On Tuesday December 5 Warm Winter Wishes is holding a Hockey game between the Arthur Vipers and Mount Forest Patriots At the Arthur Arena Community Center at 7pm.
---

{% extends 'news-article.html' %}
{% block news_content %}



{% filter markdown %}

On Tuesday December 5 Warm Winter Wishes is holding a Hockey game between the Arthur Vipers and Mount Forest Patriots At the Arthur Arena Community Center at 7pm.

They will be doing Chuck-a-Puck and a hundred square a raffle 50/50 and a bake sale.

The game was 10,15,15 min and Mount Forest scored 1 in the first period and keep the goal lead but at the end Arthur scored with 0.5 seconds left in the game.

I thought it was a great game but it wasn't scheduled the best and went 30 minutes longer than it should have so the photos for other teams was delayed. But it was all worked out and everyone was happy.

The Game Ended a 1-1 tie and there were no injuries and everyone had a great time and bought lots to help with WWW.


{% endfilter %}

{% endblock news_content %}
