---
title: About/Contact/Privacy - WolverineNews.ca 
description: Information about Wolverine News 
---
{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div id="contact-wrapper" class="pure-u-1">
  <h1 id="about" class="main-title">About Wolverine News</h1>
  <div class="panel">
    <p>Wolverine News is the unofficial website of the <a href="http://www.ugdsb.ca/whss">Wellington Heights</a> Wolverines. 
       All information is updated by volunteers as time is available, so please be patient if scores are not updated immediately.</p>
    <p>Chrome and Safari are 100% supported.  Use either of these browsers for the best experience.</p>
  </div>
  <h1 id="contact" class="main-title">Contact</h1>
  <div class="panel">
    <p>You can contact us through <a href="http://www.ugdsb.on.ca/whss">Wellington Heights Secondary School.</a></p>
  </div>
  <h1 id="privacy" class="main-title">Privacy</h1>
  <div class="panel">
    <p>Wolverine News uses Google Analytics, including its Demographic and Interest reporting, to find out how the site is being used so that we can improve it.</p>
    <p>We will never give away or sell our Analytics information.  It will only be used by us to improve the site.</p>
    <p>If you would prefer to opt out of Analytics, you can use the <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics Browser Add-ons</a> without issue.
       Blocking Javascript, however, will prevent this site from working properly</p>
  </div>
</div>
{% endblock main %}
