---
title: About/Contact/Privacy - WolverineNews.ca 
description: Information about Wolverine News 
---
{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div id="contact-wrapper" class="pure-u-1">
  <h1 id="about" class="main-title">About Wolverine Fitness</h1>
  <div class="panel">
    <p>Wolverine Fitness is the unofficial website of the <a href="http://www.ugdsb.ca/whss">Wellington Heights</a> Wolverines. 
       All information is updated by volunteers as time is available, so please be patient if scores are not updated immediately.</p>
    <p>Chrome and Safari are 100% supported.  Use either of these browsers for the best experience.  Firefox is almost perfect, but I have no idea
       what this site looks like in Internet Explorer.</p>
    <p>Wolverine Fitness is coded by <a href="https://gregorysenyshyn.com">Gregory Senyshyn</a>.</p>
    <h2>Thanks</h2>
    <p>This site was built with:</p>
    <ul>
      <a href="http://purecss.io/"><li>Pure CSS</li></a>
      <a href="http://jinja.pocoo.org/docs/dev/"><li>Jinja2</li></a>
      <a href="http://vanilla-js.com/"><li>VanillaJS</li></a>
      <a href="http://www.vim.org/"><li>Vim</li></a>
    </ul>
  </div>
  <h1 id="contact" class="main-title">Contact</h1>
  <div class="panel">
    <p>The <a href="https://gregorysenyshyn.com/contact">contact information on gregorysenyshyn.com</a> has Greg's most up-to-date contact information. 
       If you are using Chrome or Safari and still having problems with the site, let him know.</p>
  </div>
  <h1 id="privacy" class="main-title">Privacy</h1>
  <div class="panel">
    <p>Wolverine Fitness uses Google Analytics, including its Demographic and Interest reporting, to find out how the site is being used so that we can improve it.</p>
    <p>We will never give away or sell our Analytics information.  It will only be used by us to improve the site.</p>
    <p>If you would prefer to opt out of Analytics, you can use the <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics Browser Add-ons</a> without issue.
       Blocking Javascript, however, will prevent this site from working properly</p>
  </div>
</div>
{% endblock main %}
