---
title: Editorial
description: Opinions from the staff of Wolverine News
author: me
---
{% extends 'layout.html' %}

{% block main %}

{% include 'header.html' %}
<div>
  <h1 class="editorial-title-top"> Editorial </h1>
</div>

<div class="editorial-landing-wrapper">


  <div class="editorial-sidebar">
    <h1> Review-Preview </h1>
    <div>
      <button class="editorial-link-text"><a href="/editorial/meme-of-the-week"><p>
        Meme of the Week
      </p></a></button>
    </div>
    <div>
      <button class="editorial-link-text"><a href="/editorial/qanda"><p>
        Q and A
      </p></a></button>
    </div>
  </div>

  <div class="editorial-landing-main">

    {% for item in section_pages %}

    <div class="editorial-wrapper">
      <div class="editorial-content panel">
        <a href="{{item.dest}}">
          <h2 class="editorial-article-title">{{item.title}}</h2>
        </a>
        <p class="editorial-article-author"> <strong> {{item.author}} </strong> </p>
        <p class="editorial-content-underbox">{{item.description}}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock main %}
