---
title: WolverineNews.ca 
description: All the Wellington Heights News That's Fit To Display Electronically 
---
{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div id="index-wrapper">
  <div class="index-scoreboard">
    <div class="index-header">
        <h2>Scores</h2>
    </div>
    <div id="index-scoreboard-body" class="index-body">
      <p>Please enable Javascript!</p>
    </div>
  </div>
  <div class="index-blog">
    <div class="index-header">
      <h2>News</h2>
    </div>
    <div id="index-blog-body" class="index-body">
      <p>Please enable Javascript!</p>
    </div>
  </div>
</div>
{% endblock main %}
