---
title: News - Wolverine News
---

{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div class="news-wrapper">
  <div class="panel">
    <div>
      <h2>5 Year Old Arthur Boy Pronouced a Hero</h1>
    </div>
    <div class="news-byline-box">
      <img class="news-landing-image" src="static/images/5yearold.jpg" height="220" width="195">
      <div class="news-container">
        <p>
          On September 22nd, 2017, a five year old boy named Ben Wickens wa recognized by the Wellington North Fire Services at the Arthur Public School Gym.
        </p>
         <div class="news-highline">
          <br>
          <br>
          <p>
            Article written by: Mike Wilson
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
