---
title: Tools - WolverineNews.ca 
description: Fitness-related tools - a one-rep max calculator, a Wilks calculator, and an interval timer
---
{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}

<div id="tools-main">
  <div id="tools-literacy" class="tool-container">
    <h1>Literacy Tools</h1>
    <div class="panel">
      <a href="/osslt">
        <h2>Interactive OSSLT Practice Tests</h2>
        <hr>
        <div>
          <p>Use past tests released by EQAO to improve your OSSLT scores.</p>
        </div>
      </a>
    </div>
  </div>

  <div id="tools-fitness" class="tool-container">
    <h1>Fitness Tools</h1>
    <div class="panel">
      <a href="/tools/calculators#one-rm">
        <h2>One-Rep Max Calculator</h2>
        <hr>
        <div>
          <p>Enter the weight you lifted and the number of reps you did, and estimate how much you could lift for one rep.</p>
        </div>
      </a>
    </div>

    <div class="panel">
      <a href="/tools/calculators#wilks">
      <h2>Wilks Calculator</h2>
      <hr>
      <div>
        <p>Enter the weight you lifted, the number of reps, and your weight to get your score in Wilks.</p>
      </div>
      </a>
    </div>

    <div class="panel">
      <a href="#">
        <h2>Interval Timer</h2>
        <hr>
        <div>
          <p>Create custom workouts by setting transition, work, and rest time. <strong>Coming Soon</strong></p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock main %}
