---
title: Book Fair 2018
author: Ian Dafoe
date: January 18, 2018
order: 5
type: repre
---
{% extends 'editorial-article.html' %}
{% block main %}
{% include 'header.html' %}
<div class="editorial-article-title">
  <h1>Book Fair 2018</h1>
</div>
<div class="panel editorial-re-pre-panel">
  <div class="editorial-re-pre-image-box">
    <img src="/images/BF 4.JPG" class="editorial-re-pre-image" />
  </div>
  <div class="editorial-re-pre-intro">
    <p>
      On Thursday, January 11th, 2018, the Grade 10 Semester One English classes presented their Book Festival projects to their English teacher and the WHSS student and teacher body. Their projects were showcased in the Learning Commons at Wellington Heights S.S. where you could walk in and check them out any time of the day. However, the participants who created these projects went in on the second half of the day to discuss and explain what happened in their books.
    </p>
  </div>
  <div>
    <p>
      Why the Grade 10’s that are in English class first semester did the Book Festival project is because it was their culminating project for the class. Depending on who their teacher is, the project is worth 10%, 15%, or 20% of their final mark in the course. Mr Norton’s academic class was worth 15% this year. Also, it is a Wellington Heights tradition that’s been happening for multiple years now. It makes students actually pick up books and read, discuss, and understand them.
    </p>
  </div>
  <div class="editorial-re-pre-image-box">
    <img src="/images/BF 1.JPG" class="editorial-re-pre-image" />
  </div>
  <div class="editorial-re-pre-intro">
    <p>
      How the students created their projects is by doing multiple mini tasks to complete the project. The first thing they had to do is read 2-3 books (2 if you’re applied, 3 if you’re academic). One of them must be fiction and non-fiction. Next is they had to write two reading response journals for each book. One when they’re done half of the book and one when they complete reading the book. For the first response about the first half of the book, some of the topics that they wrote about is I like the part when, I was not impressed when, and I believe this is going to happen next because, etc. For the second half of the book, some topics they wrote about is The message of the book was, A connection I can make with this book is, and I like/dislike the book because, etc.
      Then they created a visual display for their books. The display included a drawing of a new cover for their book, a movie poster for their book, or one of their favourite scenes.
      They also included a 1-2 sentence and a drawn symbol summarizing what happened in every chapter. After that, their next step was broken down and has some choice involved. The first thing is to write 2/3 PPE articles for their books and explain why or why not they liked the book. As well who would you recommended it to and why. The creative piece part is where the choice comes in. They can do an ABC list of terms they learnt in their book, drawn a map of places that were in the book, drawings of main characters and write down their traits next to them, a travel brochure for a place in the book, a list of songs with a simple explanation of why it relates to their book, and a collage of photos which shows the point of the book and the paragraph explanations. They were designed with colour, big letters, and decorative appeal to grab visitors attention.
      Their final step was doing the book talk. This is where they give a 1 on 1 oral summary to their teacher, summarizing what happened in the book, who they would recommend it to, and explaining the parts of the display board they created.
    </p>
  </div>
  <div>
    <p>
      I interviewed two Grade 10 student participates of the Book Festival named Alyssa Farrelly and Gabby Rogozynski. I asked them multiple questions such as the time given to do the project, what they thought of the book festival, and the marking scheme of the rubik. They said the project required lots of effort due to the fact it was time consuming in class and mostly on their own time which affected their sleep and after school activities. They also said the Book Festival came out well in a positive way and the marking scheme of the rubik was fair because it used similar skills they learnt in class during the semester that were transferable to do the Book Festival project.
    </p>
  </div>
  <div>
    <p>
      Therefore, the Book Festival was once again a huge success. We congratulate the first semester Grade 10 English students for successful completing their projects with high quality work and smarts shown. We are all looking forward to see what the Semester Two Grade 10 students have to offer us coming up in June.
    </p>
  </div>

</div>

{% endblock main %}
