---
title: The Legend of Zelda - Breath Of The Wild
author: Darion Kahles
date: January 15, 2018
order: 4
type: repre
---
{% extends 'editorial-article.html' %}
{% block main %}
{% include 'header.html' %}

<div class="editorial-article-title">
  <h1>The Legend of Zelda: Breath Of The Wild</h1>
</div>
<div class="panel editorial-re-pre-panel">
  <p class="editorial-re-pre-intro">
    The Legend of Zelda Breath of the Wild is an excellent game! Definitely the best Zelda game out there right now. Unlike other Zelda games, BOTW is open world, meaning you can roam freely and  go wherever you like.
  </p>
  <p>
    The story line is pretty good too: Link, the main character, was appointed to be Zelda’s knight, and must protect her from the evil being, Calamity Ganon, along with the four Champions, Daruke, Mipha, Revali and Urbosa. While trying to figure out how stop Ganon, he attacks and destroys Hyrule castle and killed King Rhoam and the four champions.
  </p>
  <p>
    	Link, gets wounded by the Guardians, which Ganon has taken control over, protecting Princess Zelda. He then goes into a coma waking up 100 years later with amnesia. Your mission is to craft your survival: defeat enemies, climb and swim your way to Calamity Ganon, defeat him and save Princess Zelda. You can gain more health and stamina by collecting Spirit Orbs and get weapons by defeating enemies, completing puzzles and missions.
  </p>
  <p>
    Overall, BOTW is a really fun game and I’d recommend it to everyone and especially people who are into Zelda and games like Skyrim. The Legend Of Zelda Breath Of The Wild deserves a 10-10.
  </p>
</div>
{% endblock main %}
