---
title: Commencement
author: Al Meredith
date: November 9, 2017
order: 2
type: repre
---

{% extends 'editorial-article.html' %}
{% block main %}
{% include 'header.html' %}

<div class="editorial-article-title">
  <h1>Wellington Heights 2016-17 Commencement</h1>
</div>

<div>
  <div class="panel editorial-re-pre-panel">

    <div>
      <img class="editorial-re-pre-image" src="/images/commencement.jpg" />
    </div>

    <div class="editorial-re-pre-intro">

      <p>
        On Friday, November 3rd, Wellington Heights Secondary School held its 13th annual commencement.
      </p>
      <p>
        The graduating class totaled 152 students (some of which were unfortunately unable to attend commencement), which is comparatively larger than the graduating classes of recent years. Over the course of the night, more than sixty awards were presented to Wellington Heights students, both graduating and still attending the school.
      </p>
      <p>
        Music during the event was performed by the school’s concert band, directed by Mrs. Stewart, and refreshments were prepared and provided by Mrs. Reed and Mrs. Rowden.
      </p>

    </div>

    <div>
        <p>
          Some notable awards presented that night are as follows:
        </p>
        <p>
          The Always B-Rad Memorial Art Award
        </p>

        <ul>
          <li>
            AWARDED TO: David Carney
          </li>
          <li>
            INTRODUCED BY: Nichola McEwan
          </li>
          <li>
            PRESENTED BY: Murray and Thea Reid
          </li>
        </ul>

        <p>
          Royal Canadian Legion Victor Girton Youth Education Scholarship
        </p>

        <ul>
          <li>
            AWARDED TO: Georgia Mills
          </li>
          <li>
            INTRODUCED BY: David Forsyth
          </li>
          <li>
            PRESENTED BY: Victor Girton
          </li>
        </ul>

        <p>
          Campbell de Vore Scholarships
        </p>

        <ul>
          <li>
            AWARDED TO:
            <ul>
              <li>
                Janine Acheson
              </li>
              <li>
                Veronica Alonso
              </li>
              <li>
                Blythe Becker
              </li>
              <li>
                Lydia Conrad
              </li>
              <li>
                Lorynne Dowling
              </li>
              <li>
                Ally Iles
              </li>
              <li>
                Holly Jackson
              </li>
              <li>
                Lisbet MacLean
              </li>
              <li>
                Georgia Mills
              </li>
              <li>
                Charlie Rooney
              </li>
            </ul>
          </li>
          <li>
            INTRODUCED BY: Bob Hosken
          </li>
          <li>
            PRESENTED BY: Jennifer Meeker (Principal)
          </li>
        </ul>

        <p>
          Pizza Delight Proficiency Award - Year One Top Honour Student
        </p>

        <ul>
          <li>
            AWARDED TO: Andrea Ammerlaan
          </li>
          <li>
            INTRODUCED BY: Stephanie Severn
          </li>
          <li>
            PRESENTED BY: Crystal Padfield
          </li>
        </ul>

        <p>
          Mount Forest Foodland Award - Year Two Top Honour Student
        </p>

        <ul>
          <li>
            AWARDED TO: Ann Vander Aa
          </li>
          <li>
            INTRODUCED BY: Stephanie Severn
          </li>
          <li>
            PRESENTED BY: Bob Hosken
          </li>
        </ul>

        <p>
          Viking-Cives Ltd. Award - Year Three Top Honour Student
        </p>

        <ul>
          <li>
          AWARDED TO: Cindy Ammerlaan
          </li>
          <li>
            INTRODUCED BY: Stephanie Severn
          </li>
          <li>
            PRESENTED BY: Bob Hosken
          </li>
        </ul>

        <p>
          Wellington Wood Productions Ltd. Award - Year Four Top Honour Student
        </p>

        <ul>
          <li>
            AWARDED TO: Laura Carleton
          </li>
          <li>
            INTRODUCED BY: Stephanie Severn
          </li>
          <li>
            PRESENTED BY: Paul Hincks
          </li>
        </ul>

        <p>
          	Many more awards and scholarships were presented that night, and we congratulate all the winners who worked hard for their achievements.
        </p>

        <p>
          Overall, the night went quite well. It seems it went off without a hitch. We thank everyone who came out and helped make this night a success, and wish the graduates best of luck on their way to personal success.
        </p>
      </div>
  </div>
</div>
{% endblock main %}
