---
title: CRISPR and Designer Babies - Part 2
description: Genetic engineering using CRISPR is revolutionary - but even more so its potential. PART 2/2
author: Al Meredith
order: 2
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

Last week we talked about modern CRISPR, leaving off on the note of the potential for designer babies in the future. Today, I’ll be expanding on that notion.

Designer babies - that is, babies which are genetically modified to minutely change their biology - would mean gradual, yet irreversible, changes to the human gene pool. Though this future is quite far off, it’s still a very real possibility.

These modified humans would hold the potential to alter the gene pool of our entire species, as they would pass their engineered traits onto their children. The descendants of these modified humans could spread their modified genes over generations.

This “revolution” of sorts would start slowly. The first modified humans will not be overly modified - most likely they will only have been modified to eliminate a strain of a deadly genetic disease running in a family. However, the temptation for other, deeper modifications would soon become more and more irresistible. This could lead in a variety of directions. Below is summarized and discussed two projected futures, which were sourced from [Kurzgesagt](https://youtu.be/jAhjPd4uNFY).

Let’s take a positive tone first. As this technology progresses, diseases could be cured entirely and permanently. After a while of this, the temptation of genetic modification for vanity reasons may become unbearable. While your child is being modified to immunize them from Alzheimer's, why not also toss in a boosted metabolism? Improved muscle growth? Exceptional intelligence? Given enough time, modified humans could eventually be considered the new standard.

An optimistic possibility is that, given enough time and research, genetic engineering could potentially reach a point where we become capable of greatly reducing - or even eliminating - our single greatest mortality risk factor: aging.

A combination of genetic engineering and other forms of physical therapy could slow down aging greatly, and maybe even stop it altogether. We wouldn’t be immortal, but but we could make ourselves last a few hundred or even thousand years longer than usual.

But, this is getting a little ahead of ourselves. Research into human genetic modification is still in its infancy, so these potential futures are still quite a ways off. Many scientists also remain rightly skeptical about this supposed “end of aging.” It’s entirely possible that this “end of aging” may never come about. But it is thinkable that those alive today may be among the first to benefit from truly effective anti-aging therapy.

Nonetheless, many problems on a larger scale could be solved by having a modified population. We might become immune to many diseases that threaten us today, thanks to giving people a modified immune system with a built-in library of potential threats. Many diseases of civilization like obesity could be solved by modifying humans to have bodies better able to cope with high-energy foods.

However, major challenges stand between us and this future. Some are technological, while others are of the ethical variety. [The video from which much of this information is gathered](https://youtu.be/jAhjPd4uNFY) goes into detail about the relation to genetic modification and the world in which we already live.

CRISPR is not perfect yet, and there’s always the chance that things might go wrong when tampering with genetic code. A gene edit to a human embryo may achieve the desired result, eliminating a disease, but might accidentally cause unwanted and potentially dangerous changes. As quoted from the above mentioned video, “We just don’t know enough yet about the complex interplay of our genes to avoid unpredictable consequences. Working on accuracy and monitoring methods is a major concern as the first human trials begin.” (13:35)

But, just like an atom, there is almost always both a positive and a negative involved. Imagine what a fascist state could do if they embraced genetic engineering. A totalitarian regime might be able to cement its rule forever by forcing its subjects to be genetically modified. And, what could stop a fascist state from creating genetically modified “super soldiers?” These situations are doable - in theory. The basic proof-of-concept for genetic engineering possibilities like this already exist today. The truth of the matter is, the technology truly is just that powerful.

While this negative potential future may make it tempting to ban human CRISPR research, doing so would be a mistake. Banning this variety of research would only led to this science wandering off to a place with rules and jurisdictions that we are uncomfortable with. As quoted by the video linked above, “Only by participating can we make sure that further research is guided by caution, reason, oversight, and transparency.” (14:38)

The technology is definitely intimidating, with its own moral arguments. But there is certainly a lot to gain. We could potentially end disease. We could prolong the average life expectancy by centuries and look young while we’re at it. The possibilities of genetic engineering seem very promising.

This future of common genetic editing and modifications seems inevitable, due to the great benefits it has. The future will be of one with its own benefits and lifestyle, and its own problems and challenges. Though you may not wish to participate in genetic engineering, others may, and that’s certainly fine both ways. We’re all just human, genetically edited or not.

{% endfilter %}
</div>

  <p class="editorial-article-sources">
    SOURCES:

    <p class="editorial-article-sources">
      Kurzgesagt – In a Nutshell: <a href="https://youtu.be/jAhjPd4uNFY">Genetic Engineering Will Change Everything Forever – CRISPR</a>

    <p class="editorial-article-sources">
      BBC News: <a href="http://www.bbc.com/news/health-41386849">DNA surgery on embryos removes disease</a>

    <p class="editorial-article-sources">
      Genetics Home Reference: <a href="https://ghr.nlm.nih.gov/condition/beta-thalassemia">Beta Thalassemia</a>


{% endblock article_content %}
