---
title: CRISPR and Designer Babies - Part 1
description: Genetic engineering using CRISPR is revolutionary - but even more so its potential. PART 1/2
author: Al Meredith
order: 1
---
{% extends 'editorial-article.html' %}
{% block article_content %}
{% filter markdown %}


Humans have engineered life for millennia. From cattle and dogs to corn and bananas, we see the products of thousands of years of selective breeding every day. Humankind became quite efficient at at this tactic of guiding evolution, but never really understood how those changes worked - until we discovered deoxyribonucleic acid, or DNA. DNA is a genetic “instruction manual” of sorts, guiding how a given specimen will grow, behave, and reproduce. This guidebook is slightly different between every person, and a little more different between species. Change the “instruction manual,” and you change the creature holding it.

With the development of technological genetic modification, humans have become capable of doing just that - changing the genetic instructions of various life forms to create unique subspecies such as GMO products, fluorescent fish, and more. CRISPR, however, is an unrivaled gene editing breakthrough. Without going into detail on how it works, this gene editing tool costs 99% less for experiments and studies than previous techniques, and cuts the time to conduct those experiments down from almost a year to a matter of a few weeks. CRISPR’s potential is more than just modifying crops, though - it literally has the potential to change humanity forever.

Humans, like all living things, have DNA. Just like any other part of your body, DNA is susceptible to errors or malfunctions. Using CRISPR, it could be possible to fix some of these genetic errors. This can be helpful to treat or potentially cure genetic diseases, like beta-thalassemia.

A team from Sat-Yun University in China corrected a single error in an embryo’s genetic code using base editing, an advance on CRIPSR’s gene editing. Lab-made embryos were altered to remove a disease known as beta-thalassemia, a genetic blood disorder which reduces production of hemoglobin caused by a point mutation in the genetic code. These embryos were edited to correct this single error in their genetic code. Though these embryos were not implanted, this study promises new possibilities of preventing this disease in babies and treating patients - as well as the potential for curing similar point mutation diseases.

Many experiments like the beta-thalassemia experiment have already been conducted on retroviruses like HIV, as well as other diseases that invade the DNA. CRISPR also has the potential to combat mutation-based diseases like cancer. The pace of disease combat using CRISPR is picking up quickly.

However, CRISPR can be used for this and much more - like modifying embryos to effectively create designer babies. These gene edits will mean gradual yet irreversible changes to the human gene pool. Though this future is far off, it is still a very real possibility.

Next week, we will discuss the potential futures this concept holds, and the projected future of CRISPR.

Thanks for reading!


{% endfilter %}

    <p class="editorial-article-sources">
      SOURCES:

    <p class="editorial-article-sources">
      <a href="https://youtu.be/jAhjPd4uNFY">https://youtu.be/jAhjPd4uNFY</a>

    <p class="editorial-article-sources">
      <a href="http://www.bbc.com/news/health-41386849">http://www.bbc.com/news/health-41386849</a>

    <p class="editorial-article-sources">
      <a href="https://ghr.nlm.nih.gov/condition/beta-thalassemia">https://ghr.nlm.nih.gov/condition/beta-thalassemia</a>


{% endblock article_content %}
