---
title: Earth-like Planets of Other Solar Systems
description: Earth is not the only planet like it out there.
author: Al Meredith
order: 9
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

Earth is not the only planet like it out there (save for supporting life - we talk about if extraterrestrial life does or does not exist in [this article](/editorial/fermi-paradox-1.html)). Here is a brief list of some planets that are considered to be Earth-like.


- __Kepler-186f__
    - 10% larger than Earth
    - orbits star once every 130 days
    - receives ⅓ the energy that Earth does from its home star
    - 500 light-years from Earth

Kepler-186f is my personal favourite of the ones on this list. It’s fairly far from us objectively, but compared to some of the others on this list, it’s not all that far away. Plus, the brightness of its star at high noon is like how bright our sun is an hour before sunset, which I think would look pretty cool.


- __Gliese 667Cc__
    - 4.5 times the size of Earth
    - orbits star once every 28 days
    - may or may not be a rocky planet
    - 22 light-years from Earth

Gliese 667Cc is a pretty impressive planet. It’s huge, it’s year is a day longer than three Earth weeks, and is very close to Earth compared to the rest of the planets on this list. Gliese 667Cc was discovered with the European Southern Observatory's 3.6-meter telescope in Chile. It may be so close to its host star that it’s baked by flares from the red dwarf.


- __Kepler-62f__
    - 40% larger than Earth
    - orbits star once every 267 days
    - its host star is much cooler than our sun
    - about 1200 light-years from Earth

Though Kepler-62f’s star is much cooler than our own, its orbit is close enough that it remains within the habitable zone of that star.


  - __Kepler-452b__
      - 1.6 times the size of Earth
      - orbits star once every 385 days
      - host star is 6 billion years old (compared to our Sun’s 4.5 billion years of age)
      - about 1400 light-years from Earth

The sunlight you’d receive on the surface of this planet would be very similar to our own - Kepler-452b’s host star is only 10% bigger and 20% brighter than our sun. This planet is 1.6 times the size of Earth, but about five times more massive.

These are some of the most Earth-like planets we know of as of right now, but chances are there are thousands upons thousands more out there. We just don't know about them yet. Who knows? Maybe a perfect twin of our watery home planet is out there, and we just haven't found it yet. We just have to keep looking to the stars.



{% endfilter %}
</div>


    <p class="editorial-article-sources">
      SOURCE:

    <p class="editorial-article-sources">
      NASA: <a href="https://www.nasa.gov/ames/kepler/kepler-186f-the-first-earth-size-planet-in-the-habitable-zone">Kepler-186f, the First Earth-size Planet in the Habitable Zone</a>

    <p class="editorial-article-sources">
      Space.com: <a href="https://www.space.com/30172-six-most-earth-like-alien-planets.html">The 6 Most Earth-like Alien Planets</a>

    <p class="editorial-article-sources">
      Space.com: <a href="https://www.space.com/30026-earth-twin-kepler-452b-exoplanet-discovery.html">NASA Finds Closest Earth Twin Yet in Haul of 500 Alien Planets</a>

{% endblock article_content %}
