---
title: The Fermi Paradox - Part 1
description: Earth is one of millions of planets like it. So could it really be the only one that supports life?
author: Al Meredith
order: 7
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

The observable universe is about 90 billion light-years in diameter. There are at least one hundred billion galaxies each with somewhere between one hundred to one thousand billion stars. We learned recently how common planets are, too - and they’re *very* common. There are probably billions upon billions upon trillions of planets that are inhabitable for humans out there. That means there should be plenty of opportunity for life to develop and exist. But, if that’s the case, then shouldn't more than one among those trillions of planets support life? The odds seem to be in favour of more than one planet with life, so… Where are all the aliens?

If there’s such a huge opportunity for life, shouldn’t the universe be full of intergalactic vessels? Shouldn’t we have communication with plenty of varieties of intelligent species by now? But let’s not get ahead of ourselves.

Should life exist in other galaxies, there’s no way we will ever know about them. It’s a scientific implausibility, and here’s why: basically everything outside our galactic neighbourhood, the “Local Group,” is permanently out of our reach. Because galaxies are moving apart so rapidly due to the expansion of the universe, it would take literally billions of years to reach the nearest galaxy, even with spacecraft that could somehow travel at the speed of light. So, then, what about our own galaxy, the Milky Way?

The Milky Way, our home galaxy, consists of up to four hundred billion stars. Of those, about twenty billion are sunlike. Estimates suggest a fifth of them have earth-sized planets in their habitable zone (the area in which life like that on Earth can exist). If only 0.1% of those planets actually harboured life, that would be a *million* planets with life in the Milky Way alone. But there’s even more to this story.

The Milky Way galaxy is thirteen billion years old. In the starting years, it certainly wasn't suitable to life, due to the volatile nature of basically everything - things were crashing into each other and exploding on the regular. But, after one or two billion years, things finally settled down enough for life to have the chance to start. Earth is only four billion years old, so there has probably been almost countless chances for life to develop on other planets in the past. If even one of them had developed into an intelligent, interstellar society, we would have most likely noticed by now.

But what would an interstellar civilization even look like? There are three categories of societal development. A Type One society is a civilization able to harvest all the energy available on their home planet. As of 2015, humanity sits at a 0.73 on this numbered scale. It’s estimated we’ll reach a full Type One status within the next couple hundred years. Type Two would be a society which is capable of harnessing the full energy of its home star. A Type Three civilization would be almost godlike - a civilization that controls its whole galaxy and all the energy within it.

If we built generation ships that could sustain life for about a thousand years, we could theoretically colonize the Milky Way in around two million years. Though that may sound like a very long time, keep in mind that the Milky Way is *immense*. So if it only takes a couple million years to colonize the entire galaxy,  and there are millions - if not, billions of planets that are capable of sustaining life as we know it, and these other potential lifeforms have had much more time they we’ve had, then… Where are all the aliens? This is the Fermi Paradox.

In Part 2, we’ll be looking at some possible answers to the Fermi Paradox, and consider whether or not we’re truly alone in our galaxy.

{% endfilter %}
</div>
  <p>
    SOURCE:
  </p>
<div class="editorial-embedded-video-container">
  <div class="editorial-embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sNhhvQGsMEc" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


{% endblock article_content %}
