---
title: The Fermi Paradox - Part 2
description: Earth is one of millions of planets like it. But what might stop intelligent life from forming elsewhere?
author: Al Meredith
order: 8
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

In last week’s article, we looked at the many chances life would have had to form throughout the history of our galaxy. This week, we have an idea on why we haven’t met any aliens yet: Great Filters.

A filter in this context is a sort of barrier that is very difficult for life to overcome. We can’t be exactly sure where humans are in relation to these filters, but there are two likely concepts.

The first idea is that the Great Filters have already been passed by life on Earth. Maybe it’s way harder for complex life to develop than we think? The process that allows life to begin hasn’t yet been really figured out, and the required conditions may be very complicated. Or, maybe the universe was far too hostile in the past, and only recently have things cooled down enough for life to begin. If either of these are the case, that means we may be among the first - if not, the very first civilization in our galaxy.

A darker thought is that there are Great Filters, and they lie ahead of us. Maybe life on our level exists (or did exist) elsewhere in the universe, but it gets destroyed once it reaches a certain point - a point which may lie ahead. An epidemic of diseases or political downfalls of civilization may spell out the end for us as a society - or for life on the planet as a whole.

But we can’t be certain of that possibility. It may be just as possible that we’re just the first, or that advanced life is purposefully avoiding us for some reason. Who knows?

As of right now, we seem to have no real evidence that there’s any life in our universe except for us. Nobody messages us, no one picks up our calls.  If we’re really all alone, I think that means we have a sort of duty to keep our planet and our civilizations alive, spreading life throughout our galaxy and ensuring the survival of the miracle that is life itself.

No pressure, society.

{% endfilter %}
</div>
  <p>
    SOURCE:
  </p>
<div class="editorial-embedded-video-container">
  <div class="editorial-embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sNhhvQGsMEc" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


{% endblock article_content %}
