---
title: Genders Throughout History
description: Many people claim that being trans* is a modern concept, but that’s just not the case. Here, we talk about some non-binary genders throughout history.
author: Al Meredith
order: 5
type: editorial
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

Many people claim that being trans\* is a modern concept, but that’s just not the case.

People who don’t fit the colonialist idea of a binary assigned gender have existed for millennia, in societies both past and present. Even in America, trans\* people are far from new. They have existed throughout history, ridiculed and attacked into silence until recently. On June 28th, 1969, a trans woman named Marsha P. Johnson threw the first brick in the Stonewall riots, ushering in the start of the LGBTQ+ movement. Just a few years earlier in August 1966, the trans\* community protested police brutality against their very existence in the Compton’s Cafeteria riot. And, of course, many other moments of resistance like these exist, but remain untold.

These moments of resistance are only a small part of the global fight for trans\* rights that has been going on for centuries. The recent explosion in trans\* visibility may make the existence of trans\* people look like a modern phenomenon, but that is a far cry from the truth. There are a huge number of civilizations that have accepted and recognized trans\* people. Some cultures even valued them as sacred, able to see the world through the eyes of both a man and a woman at the same time.

Here, I have listed a series on non-binary genders that date back to millennia before the first brick was thrown at Stonewall.


- __Two-Spirit__ people of North America
    - Many Native American tribes have traditionally had a variety of non-binary gender systems.
        - Navajo tribes traditionally recognized four genders, which roughly correlate with cisgender and transgender men and women. The term _dilbaa_ referred to those who “transform” into masculinity, and _nadleehi_ for those who “transform” into femininity.
        - The Mohave people used the terms _hwame_ and _alyha_ for similar identities.
        - The Lakota tribe believed the _wintke_ people among them possessed supernatural powers, similar to the _hijra_ of southern Asia.

- __Hijras__ of Southern Asia
    - One of the oldest known non-binary identities.
    - A blanket term that could cover what here in the West we would refer to as transgender, intersex, or eunuch people.
    - Throughout history, hijra have been associated with sacred powers. They:
        - deliver blessings at births and weddings
        - are feared for their powerful curses
    - Hijras in India today are now still fighting for their rights and respect. British rule in India negatively affect the hijra, as when Britain colonized the country, they made just _being_ a hijra a criminal offense.
        - In 2014, India finally recognized hijras as a legally designated third gender.
        - To social activists in India, though, this still isn’t enough; hijras are often forced to resort to begging or survival sex work to get by, and “hijra” is still used as a public insult.

- __Il Femminiello__ of Naples and __Elagabalus__ of Rome
  - Documented in paintings from as early as the 1700’s,  _il femminello_ were individuals assigned male at birth that dressed and behaved like women in Naples, Italy.
      - Though they were largely segregated within the city, _il femminiello_ were considered good fortune and a blessing to the family they were born into.
  - Also in Europe, Egalabus was crowned emperor of Rome in the 3rd century, but insisted that subjects use the term empress. Egalabus also dressed as a woman, and according to some historical accounts, called upon the empire’s best doctors to pursue gender confirmation surgery.

{% endfilter %}
</div>


    <p class="editorial-article-sources">
      SOURCE:

    <p class="editorial-article-sources">
      TeenVogue: <a href="https://www.teenvogue.com/story/gender-variance-around-the-world">Gender Variance Around the World Over Time</a>

{% endblock article_content %}
