---
title: Landing Spacecraft (and Humans) on Mars
description: Why is it so hard to land on Mars?
author: Al Meredith
order: 3
---
{% extends 'editorial-article.html' %}
{% block article_content %}
{% filter markdown %}


Space travel is still somewhat in its infancy. However, we’ve still observed many planets in our solar system by use of drones and rovers. One planet, however, provides a challenge to land on, even though it’s considered the next frontier for humanity by many: Mars.

Mars is one of the most difficult planets to land on. The reason for this is mostly because of its atmosphere.

On our moon and asteroids, lightweight spacecraft made out of essentially tinfoil can be used, since there’s no atmosphere - which means no drag or heat. On landers like these, you don’t need heat shields or parachutes, but you need rockets for a powered descent.

On Earth, Venus, or one of Saturn’s moons, Titan, you can land largely without rockets because of the thick atmosphere. Heat shields are used, and atmospheric drag is utilized to slow down the craft during descent. Once it’s slow enough, parachutes are realised to bring it down gently onto the surface. Though the heat shields are quite heavy, you don’t need to worry about the weight of a rocket and rocket fuel - a powered descent in a thick atmosphere is not necessary.

Mar’s atmosphere, however, is just the kind that gives engineers a headache. It’s thick enough that you need heat shields and a parachute, but thin enough that this doesn’t slow the craft down enough, so you <em>also</em> need rockets. This is very challenging, and makes the landing procedure very complicated.

Because of this challenge, many techniques have been used, like retrorockets, inflatable bouncy airbags, and lowering the rover from a hovering sky crane. All of these techniques use heat shields, parachutes, and rocket-powered descent before entering the last stage of landing.

Other landing techniques are currently being tested, too. Giant, supersonic parachutes are one new technique, as well as inflatable inner tubes around landers which would increase surface area to add drag, helping to slow down the craft.

This is all a lot of effort to land a craft on Mars - and the pressure would be even higher if human cargo was on board. But is landing humans on Mars really worth the effort?

It’s difficult to land on Mars, and the red planet has a dangerously high spacecraft crash rate.  Rovers and drones have the potential to do most of the research humans could, save for studies based on humans, like the effect living on Mars long-term would have on the human body. Mars also needs a lot of terraforming before it could be a suitable habitat for humanity. In that time, the astronauts would be limited to housing and work modules with external rovers for travel or expeditions.

However, these risks do have rewards. Sending humans to Mars would allow us to gather data about how the human body adapts in that lower-gravity environment. We could learn more about the red planet that was previously undiscovered due to the past limits of rover technology. And, after terraforming the planet, having humans on Mars would ensure the survival of human life, should Earth become uninhabitable for us.

So, what do you think? Should we send humans to Mars?

Thanks for reading!


{% endfilter %}

    <p class="editorial-article-sources">
      SOURCE:

    <p class="editorial-article-sources">
      <a href="https://youtu.be/h2nqgKL2JQU">https://youtu.be/h2nqgKL2JQU</a>

{% endblock article_content %}
