---
title: >
     Legal Recognition for Non-Binary Individuals : Scotland and Canada
description: Recent changes to law in Canada and Scotland promise to make changing gender markers easier for trans* and non-binary people.
author: Al Meredith
order: 6
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

People aged sixteen or older seeking to change the gender marker on legal documents in Scotland will find it easier to do with the plans to reform gender recognition law in the country.

These proposals include the option for a non-binary gender marker, which would make Scotland one of the handful of countries to have that option.

This proposition is intended to make it less intrusive and more simple for trans\* folks to be legally recognized. The plans for these new gender recognition laws will remove the previous requirements for medical evidence and proof of living out-of-the-closet as their gender identity for a minimum of two years. The previous process was considered humiliating, and made it quite difficult for trans\* people to change their gender marker on legal documents.

Instead of those previous requirements, the new regulations require the individual to apply to a specialist government unit, complete a simple applications form, and then sign a statutory declaration in the presence of a legal official that states that they understand the consequences of their legal actions, and intend to remain with their desired gender marker for the rest of their life.

James Morton, the manager of the Scottish Trans Alliance, warmly accepted this move by the Scottish government, stating: “The current process to change the gender on a trans person’s birth certificate is a humiliating, offensive and expensive red-tape nightmare which requires them to submit intrusive psychiatric evidence to a faceless tribunal panel years after they transitioned. It makes sense for birth certificates to be brought into line with the self-declaration process already used to change all other identity documents when trans people start living in their gender identity.”

This new proposition in Scotland is another step forward for trans\* people gaining wider acceptance in Europe. Germany has also recently come to a similar decision: on November 8th, Germany’s highest court ruled that birth certificates should allow a third gender category. These events are a part of a beneficial, forward-looking movement for the rights of transgender and gender diverse folks.

As for Canada, trans\*-positive laws like this are already in place. As of the 3rd of August, 2017, the Canadian government has added a third gender marker, X, to accompany the current F and M markers on passports. The X option works as an expression of gender ambiguity, neutrality, or non-disclosure on legal documents, allowing trans\*, particularly non-binary, folks to have legal documentation that better matches their gender identity. This X gender marker will apply to passports and any other documents issued by Immigration, Refugees and Citizenship Canada (IRCC).

Ahmed Hussen, the Canadian Minister of Immigrants, Refugees and Citizenship, stated: “All Canadians should feel safe to be themselves, live according to their gender identity and express their gender as they choose. By introducing an 'X' gender designation in our government-issued documents, we are taking an important step towards advancing equality for all Canadians regardless of gender identity or expression.”

These measures are a part of the government drive to protect individuals’ freedom of gender identity and expression under the law. Another Canadian bill that aims to protect trans\* folks is the recent Bill C-16. Bill C-16 is a proposed amendment to the Canadian Human Rights Act that adds protections against discrimination on the ground of gender identity and gender expression.

Though it has yet to receive Royal Assent, Bill C-16 successfully passed third reading in the Senate on June 15th, 2017. The Attorney General of Canada issued a statement in response that evening: “In Canada we celebrate inclusion and diversity, and all Canadians should feel safe to be themselves,” the Honourable Jody Wilson-Raybould said. “Trans and gender diverse persons must be granted equal status in Canadian society, and this bill makes that status explicit in Canadian law.”

Respectful persons who are not committing willful discrimination have nothing to fear with this law - it is designed against *purposeful* hate speech, actions, and propaganda. There is no concern to be had about limitations on free speech, as hate speech laws like Bill C-16 already exist in Canada.

These amendments and laws are important to have in place, especially in Canada. It’s important to ensure the safety of all people in all public and online spaces in our country, regardless of their gender identity or expression.

{% endfilter %}
</div>

<p class="editorial-article-sources">
  SOURCES:

<p class="editorial-article-sources">
  The Guardian: <a href="https://www.theguardian.com/society/2017/nov/09/legal-recognition-for-non-binary-people-planned-in-scotland">Legal recognition for non-binary people planned in Scotland</a>
</p>
<p class="editorial-article-sources">
  Independant: <a href="http://www.independent.co.uk/travel/news-and-advice/canada-third-gender-x-category-passports-ircc-male-female-a7918421.html">Canada introduces ‘X’ as a third gender category on passports</a>
</p>
<p class="editorial-article-sources">
  Global News: <a href="https://globalnews.ca/news/3532824/senate-passes-bill-c-16-which-defends-transgender-rights/">Senate passes Bill C-16 which defends transgender rights</a>
</p>


{% endblock article_content %}
