---
title: A 4th Dimensional Video Game - Miegakure
description: What if a video game allowed you to explore a 4th spacial dimension? Welcome to Miegakure.
author: Al Meredith
order: 4
type: editorial
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

Miegakure is a revolutionary indie game that takes puzzle-solving and exploration to the 4th dimension. In most cases, the 4th dimension is considered to be time, but not in Miegakure. Instead, this game explores a 4th spacial dimension that works just the same as the three we’re used to; a W axis in addition to 3D’s X, Y, and Z axes. Though this concept is certainly difficult for us 3D beings to understand, computers have no such problem processing the concept of a 4th spacial dimension.

To try and understand this concept, let’s compare it to what we know.

Video games, when they first came out, existed on a 2D plane using the X and Y axes. They were displayed on a 2D screen, and had movement limited to up/down and left/right. They use a 2D image of a 2D plane.

Then, with the 3D revolution, a third axis was added: the Z axis. Now, movement can be through three planes.  Even though we can see that the character is moving through three dimensions, it’s still projected onto a flat surface in a way that mimics how our eyes perceive the 3rd dimension in real life. So, 3D games use a 2D image of a 3D plane.

This gets more complicated with Miegakure’s W axis. It becomes possible to move the character through four dimensions, though it is shown as a easier-to-understand 3D representation. So, when your screen shows this game as you play, it uses a 2D image of the 3D representation of a 4D plane.

The method this game uses to represent the 4D plane in 3D is sort of like a method popularized by the novella Flatland. Flatland is about a 2D square who can only see a 2D cross section of a 3D world. The 3D shapes passing through the square’s view look like they’re shifting and distorting, when in reality 3D shapes just tend to look odd when seen as 2D splices. The square still has no concept of what the whole 3D shape would look like, so it’s difficult for it to understand what’s happening.

This is how the 4D landscapes are represented in Miegakure. A single splice of the 4D object is shown at a time in order for us 3D beings to make sense of it. When we move the 3D viewpoint through the 4th dimension, the shapes seem to morph and distort, when in reality we’re just viewing a different splice of the 4D shape.

The concept of a 4D shape is generally a very difficult one to understand. It’s a difficult concept to explain, too, I assure you. However, it’s generally easier to comprehend if you have a visualization of what’s happening. Below, I have a video of Miegakure in action with helpful commentary about what’s going on, as well as a 4D toy box video that explains the concept of 4D shapes very clearly and in an easier-to-understand manner.

{% endfilter %}
</div>

<div class="editorial-embedded-video-container">
  <div class="editorial-embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vZp0ETdD37E" frameborder="0" allowfullscreen> </iframe>
  </div>
  <div class="editorial-embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0t4aKJuKP0Q" frameborder="0" allowfullscreen> </iframe>
  </div>
</div>


{% endblock article_content %}
