---
title: What Could NASA Do if it had America’s Military Budget?
description: I think we all know America's military spending is massive - the largest in the world by a massive margin. But would could NASA do if it had a budget as large as America's military budget?
author: Al Meredith
order: 12
type: editorial
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

America is well-known for its (unreasonably) large military - larger than the militaries of the nine next largest militaries in the world *combined*. It’s military spending in 2017 was roughly $600 BILLION, or around 54% of America’s annual spending budget. That’s a lot, especially compared to NASA’s far more meager share of $18.5 billion, or just 0.5% of the national budget.

For perspective, let’s look at Apollo’s entire mission cost. It cost $136 billion back in 2007, paid for over the course of 13 years, or around $10 billion per year. $10 billion compared to the yearly $600 billion the military spends - that’s like one minute compared to an entire hour. The cost of one of the greatest achievements NASA has ever produced is just a *tiny sliver* of the annual military budget.

So, if one of the greatest achievements NASA has ever made is pocket change compared to the military budget, what could NASA theoretically do with $600 billion?

Not considering things like increased research and time to design, build, test, and send out this theorized tech, NASA would have a field day with a budget that astronomically large (pun intended).

NASA could make many more space telescopes that far excel the quality and efficiency of their predecessors like Hubble.

They could research new forms of rockets and space shuttles that are more efficient on fuel, or even make a feasible design for a fully reusable spacecraft (able to reenter the atmosphere with very little damage), and also design less bulky, more effective spacesuits to replace the almost completely unchanged design astronauts have been using since 1969.

They could build more space stations, and figure out how to construct a “spinning wheel” space station that would allow for simulated gravity while in orbit - something a lot of science fiction writers have been including in their works of fiction for years.

NASA could fund multiple Moon missions, and establish a base on the Moon - most likely under the surface, to protect the astronauts from radiation (that’s a whole other topic for another time, though).

NASA could send more probes and observation equipment to the Jovian system (Jupiter and its main four moons - Io, Europa, Ganymede, and Callisto) and discover more about those planets - and maybe send rovers, atmosphere-bound observation equipment, and even submarines to those astral bodies.

With a budget that large, Mars could almost certainly expect to receive a vast number of probes and rovers, and those rovers could work on preparing land for and starting the process of setting up a base for humanity on its surface.

We could work towards actually sending astronauts to other planets - whether that ends up being a surface base on Mars, or a sky-based research habitat on Venus (sending astronauts to Venus is discussed [here](colonize-venus.html)), or some other planet entirely.

Plus, for on-ground research, better funding means better equipment and a larger team that can work on more studies at once - the combination of all of this would mean that breakthroughs would be happening more and more rapidly, letting us learn much more about the universe we inhabit.

Though NASA will almost certainly not receive a larger budget anytime soon, it’s still fun to imagine the science-fiction technology that could make its way into reality. Imagining all the breakthroughs waiting to happen, if only NASA had more funding, can be immensely tantalizing, but we’re still heading down a path of progress (albeit much slower with its current, fairly restricted funding). We’ll achieve many of these goals someday - we’ll just have to wait for it.

{% endfilter %}
</div>

<div class="editorial-embedded-video-container">
  <div class="editorial-embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/chLOgj8xjx8" frameborder="0" allowfullscreen> </iframe>
  </div>
</div>


{% endblock article_content %}
