---
title: PJ Rama 2017
author: Alex Dawson
date: December 18, 2017
order: 3
type: repre
---

{% extends 'editorial-article.html' %}
{% block main %}
{% include 'header.html' %}

<div class="editorial-article-title">
  <h1>PJ Rama 2017</h1>
</div>

<div class="panel editorial-re-pre-panel">

  <div class="editorial-re-pre-image-box">
    <img src="/images/pjrama.jpg" class="editorial-re-pre-image"/>
  </div>
  <div class="editorial-re-pre-intro">
    <p>
      This years PJ Rama was a hoot and a half. With about 160 people in attendence, there was lots to do. The majority of people were in the gym playing games like dodgeball and syilo ball. Others decided to spend most of their time in the Cafe where there was Just Dance, and various movies being displayed (Though I kinda wish there were more moments where they just had music on while everyone either talked or danced if they pleased). Everyone else at the event were usually in the Games room in 114.
    </p>
    <p>
      There was an ongoing bake sale throughout the night along with food and drinks being sold periodically through the night aswell. (I wish they had more options personally. Not to mention the times when I was hungery and they weren't selling food. I was also expecting a free breakfast, but that never happened, which is sad.)
    </p>
    <p>
      All in all, everyone enjoyed their time chatting with their friends and making memories together, and then sleeping or getting sick or both when they got home. Kudos to you Warm Winter Wishes.
    </p>
  </div>
</div>

{% endblock main %}
