---
title: Survivor Day
author: Hunter Fearnley
date: October 6, 2017
order: 1
type: repre
---

{% extends 'editorial-article.html' %}
{% block main %}
{% include 'header.html' %}

<div class="editorial-article-title">
  <h1>Survivor Day</h1>
</div>

<div>
  <div class="panel editorial-re-pre-panel">
    <div>
      <img class="editorial-re-pre-image" src="/images/survivorday.jpg" />
    </div>
    <div class="editorial-re-pre-intro">

      <p>
        This year Students and teachers came out on september 28th to participate in survivor day. Students and teachers came together to play many fun games and activities set up by other students on the field that day. Many students have said they loved all the games and it was hard to pick just one certain game which was their favorite. One of the students said his favorite game was paint capture the flag.
      </p>
      <p>
           He said it was his favorite  “because the objective of the game was like capture the flag but instead you had to get paint on the enemy team's flag by using your nose without getting caught or it drying to your nose”. There was also a battleship type game where the participants were the ships. Other than fun games and things to do you got to see lots of teachers not acting like they usually do  and some students doing weird wacky things like dressing up like pop cans we even had one student say he “liked to dress up like a pop can” well as far as wacky weird things and teachers not acting like teachers can go. all in all it looked like everyone had a great time and an amazing day out in the sun.
      </p>

    </div>
  </div>
</div>
{% endblock main %}
