---
title: Worm Eggs Hatched in Mock-Martian Soil
description: This recent achievement is a huge step forward in the quest to send human settlers to Mars.
author: Al Meredith
order: 10
---
{% extends 'editorial-article.html' %}
{% block article_content %}

<div class="panel">

{% filter markdown %}

An important milestone for the potential of life on Mars was recently achieved when two earthworm eggs successfully hatched in mock-Martian soil simulant. The two baby earthworms are part of an experiment to explore how human settlers of the Red Planet might someday grow food and crops in Martian dirt.

The experiments with NASA-made Martian soil simulants are being run by Wieger Wamelink, a biologist from Wageningen University and Research Centre in Norway. The simulated Martian soil was made from volcanic terrestrial rocks and pig manure. Plants were seeded in the soil, and live adult worms were added. The two worms hatched in this experiment are believed to be the first successful worm eggs hatched in simulated Martian soil.

Mars is not naturally habitable for humans and our food supply, so if we intend on living there long term, settlers would have to use closed ecosystems to grow food. The current idea for what a closed ecosystem model on Mars would look and operate like is explored <a href="https://www.space.com/38881-mit-team-wins-mars-city-design-competition.html">in this article</a> from Space.com. In a closed ecosystem model, worms would be a very useful (if not necessary) addition to the environment. Worms help with breakdown of organic material, which aids in the growth of plants. The holes they dig in the soil also help aerate the mixture and improve soil structure, making it easier for water to get through the soil and nourish the plants. Worms in a closed ecosystem environment would make it easier to grow healthy plants in (settler-fertilized) Martian soil.

However, while worms eat organic matter in the soil, they also eat the soil itself. Since Martian terrain doesn’t face much weathering, sharp edges in the soil don’t get worn down. These sharp edges in the soil may cause the worms harm. The presence of heavy metals in Martian soil may also cause problems for the worms in the long-term, and would require lengthier experiments to address properly.

A <a href="https://crowdfunding.wur.nl/project/earthworms-for-mars">crowdfunding campaign</a> was launched to continue experiments with these worms. “Worms for Mars” is currently 61% fundraised to their goal of €10K. Wageningen University and Research hope to try experimenting with these worms and different plants, as well as trying the worms in moon soil simulants, in the near future.

[Another article](land-on-mars.html) on our website discusses the difficulties of landing spacecraft on Mars, as well as the potential positives and drawbacks of sending humans to the Red Planet. Perhaps with this new breakthrough for the potential of maintaining plant life on Mars, the positives of sending humans to Mars may start to more outweigh the negatives.

{% endfilter %}
</div>

    <p class="editorial-article-sources">
      SOURCE:

    <p class="editorial-article-sources">
      Space.com: <a href="https://www.space.com/38960-worms-born-martian-soil-experiment.html">A 'Martian' First: Earthworms Born in Mock Mars Soil</a>

{% endblock article_content %}
