<nav>
  <ul>
    <li>
      <a href="/news">News</a>
    </li>
    <li>
      <a href="/editorial">Editorial</a>
    </li>
    <li>
      <a href="/teams">Teams</a>
    </li>
    <li>
      <a href="/records">Records</a>
    </li>
    <li>
      <a href="/games">Games</a>
      <div>
        <ul>
          <li>
            <a href="/games/pong">Pong</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="/tools">Tools</a>
      <div>
        <ul>
          <li>
            <a href="/osslt">OSSLT Practice Tests</a>
          </li>
          <li>
            <a href="/tools/calculators">Fitness Calculators</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
