$blue: #2c1b76;
$grey: #989aa0;
$black: #231f20;

body {
  background-color: lighten($grey, 30);
  margin: 0;
}

#announcements-wrapper {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

#sidebar {
  flex-basis: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $black;
}

#content {
  display: flex;
  margin: 3rem;
  padding: 3rem;

}

#announcement-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 750px;
  background-color: white;
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 3rem;
}


#title {
  font-size: 3rem; 
  margin-top: 1.5rem;
}

#body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem; 

  span {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

#footer {
  font-size: 2rem; 
  margin-top: 1rem;
}

#twitter-wrapper {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: $blue;
  color: lighten($grey, 10);
  overflow: hidden;
}

#twitter-feed {

  ul {
    display: inline-block;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    float: left;
    font-size: 2rem;
    padding-left: 10%;
    -webkit-animation: marquee 90s linear infinite;
    li {
      display: inline-block;
      padding-right: 4rem;
    }
  }
}

@-webkit-keyframes marquee {
  0%   { transform: translateX(0);  }
  100% { transform: translateX(-100%);  }
}
