// Definitions
$sm: 450px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;

$blue: #2c1b76;
$grey: #989aa0;
$black: #231f20;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: lighten($grey, 26);
  a {
    text-decoration: none;
  }
}


button {
  border: 2px solid currentColor;
  margin: 1rem;
  width: 200px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  line-height: 100%;
  background: lighten($black,10);
  color: lighten($blue, 35);
  padding: 1rem !important;
  border-radius: 7px !important;
  font-weight: bold;
  &::after {
   background-color: darken($blue, 10);
   content: '';
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   transform: translate(-100%, 0) rotate(10deg);
   transform-origin: top left;
   transition: .2s transform ease-out;
   will-change: transform;
   z-index: -1;
  }

 &:hover::after {
   transform: translate(0, 0);
 }

 &:hover {
   border: 2px solid transparent;

   transform: scale(1.05);
   will-change: transform;
 }

}

nav {
  background-color: #fff;
  border: 1px solid lighten($grey, 10);
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: $blue;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;

      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }
  > ul {
    > li {
      &:hover {
        background-color: rgb( 40, 44, 47 );
        > a {
          color: rgb( 255, 255, 255 );
          > .caret {
            border-top-color: rgb( 255, 255, 255 );
          }
        }
        > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
      > a {
        color: $blue;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
        > .caret {
          border-top: 4px solid #aaa;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          vertical-align: middle;

          -webkit-transition: color 0.1s linear;
          -moz-transition: color 0.1s linear;
          -o-transition: color 0.1s linear;
          transition: color 0.1s linear;
        }
      }
      > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
        visibility: hidden;

        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        ul > li {
          display: block;
          &:hover > a {
            background-color: rgba( 255, 255, 255, 0.1);
          }
          > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
}

h1 {
  font-size: 3rem;
  margin: 1.5rem 2rem 0.5rem 1rem;
}
h2 {
  font-size: 2.3rem;
  margin: 0.5rem 0 0.2rem;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

//
// PAGE ELEMENTS
//

#header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#logo-wrapper {
  flex-basis: 40%;
  @media screen and (min-width: $md) {
    flex-basis: 30%;
  }
}

#logo-spacer {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#logo {
  svg {
    height: auto;
    max-width: 80%;
  }
}

#title-wrapper {
  flex-basis: 60%;
  @media screen and (min-width: $md) {
    flex-basis: 70%;
  }
}

#header-title {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  & #header-text {
    height: 100%;
    margin: 1rem 0;
    color: white;
    text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
    @media screen and (min-width: $sm) and (max-width: $md) {
      margin: 1rem;
      font-size: 4rem;
    }
    @media screen and (min-width: $md) {
      text-shadow: -2px -2px 0 $black, 2px -2px 0 $black, -2px 2px 0 $black, 2px 2px 0 $black;
      margin: 1rem;
      font-size: 7rem;
    }
    @media screen and (min-width: $lg) {
      padding-left: 2rem;
    }
  }
}

#footer {
  bottom: 0;
  height: 3rem;
  background-color: $black;
  & a {
    margin: 1rem;
    color: $grey;
  }
  padding: 1rem;
}

#footer-links {
  float: right;
  margin-right: 2rem;
}

//
// BOILERPLATE PAGES
//

#privacy-wrapper {
  color: $black;
  padding: 2rem;
  li {
    margin: 1rem 0;
  }
  a {
    color: $black;
  }
}

#contact-wrapper {
  color: $black;
  padding: 2rem;
  li {
    margin: 1rem 0;
  }
  a {
    color: $black;
  }
}

//
// ITEM STYLES
//

.striped {
  background-color: $blue;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}


.panel {
  border: 1px solid lighten($grey, 10);
  border-radius: 4px;
  padding: 1rem 2rem;
  @media screen and (min-width: $sm) {
    padding: 2rem 3rem;
  }
  background-color: white;
}

.nomargin {
  margin: 0;
}
//
//INDEX
//

#index-main-container {
  background-color: $grey;
}

#index-wrapper {
  display: flex;
  @media screen and (max-width: $md) {
    flex-direction: column;
  }
  @media screen and (min-width: $md) {
    flex-direction: row;
  }
}
.index-blog {
  @media screen and (max-width: $md) {
    order: 2;
  }
  @media screen and (min-width: $md) {
    order: 1;
    flex-grow: 2;
    @media (max-width: $lg) {
      max-width: 60%;
    }
  }
}

.index-scoreboard {
  @media screen and (max-width: $md) {
    order: 1;
  }
  @media screen and (min-width: $md) {
    order: 2;
  }
}

.index-header {
  padding: 0 2rem;
  @media screen and (max-width: 48rem) and (min-width: 35.5rem) {
    padding: 1.5rem 2rem;
  }
}

.index-body {
  padding: 0 2rem 2rem 2rem;
}

.index-blog-entry {
  margin: 1rem auto 3rem auto;
}

#index-scoreboard-body {
  text-align: center;
}

.index-scoreboard-container {
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;

  @media screen and (min-width: 80rem) {
    padding: 0 3rem;
  }
}

.index-scoreboard-game-result {
  display: block;
  margin: 1rem 0;
  @media screen and (min-width: 80rem) {
    padding: 1rem 0;
  }
}

.index-scoreboard-score {
  font-weight: bold;
  font-size: 2rem;
}

.index-scoreboard-school {
  font-size: 1.5rem;
  margin: 0 1rem;
}

//
// NEWS
//

.news-wrapper {
  padding: 1.5rem;
}

.news-byline-box {
  display: flex;
}

.news-landing-image {
  margin-right: 1rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-highline {
  display: flex;
  flex-wrap: wrap-reverse;
}


.news-article-image {
  width: 45%;
  height: 55%;
}
.news-article-image-large{
  width: 75%;
  height: 45%;
}

// EDITORIAL
//

.editorial-landing-wrapper {
  display: flex;
  flex-direction: row;
    @media screen and (max-width: 1195px){
      flex-direction: column-reverse;
  }
}

.editorial-landing-main {
  flex-basis: 75%;
}

.editorial-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
}

.editorial-sidebar {
  flex-basis: 40%;
  min-width: 100px;
  margin: 50px;
}

.editorial-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex-basis: 90%;
  padding: 1rem;
  margin: 1rem;

  p {
    text-indent: 50px;
  }
}

.editorial-content-underbox {
  display: flex;
  min-width: 200px;
  margin: 50px;
}

.editorial-content-underbox-content {
  flex-basis: 75%;
}

.editorial-content-underbox-image-wrapper {
  flex-basis: 25%;
}

.editorial-article-title {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.editorial-article-author {
  text-align: right;
  margin-right: 10rem;
}

.editorial-article-sources {
  text-indent: 0px !important;
}


.editorial-title-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorial-description-top {
  display: flex;
  font-size: 23px;
  justify-content: center;
}

.editorial-embedded-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorial-embedded-video {
  justify-content: center;
  margin: 50px;
}

.editorial-article-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorial-large-organizer-panel {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  flex-basis: 100%;
  @media screen and (max-width: $lg) {
    flex-basis: 100%;
    width: 100%;
    flex-direction: column-reverse;
  }
}

.editorial-alex-panel { //To be used along side .panel//
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 33%;
  width: 33%;
  @media screen and (max-width: $lg) {
    flex-basis: 100%;
    width: 100%;
    align-items: stretch;
  }
}

.editorial-re-pre-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 22px;
  @media screen and (max-width: $lg) {
    flex-direction: column;
    margin: 0;
  }
}

.editorial-re-pre-intro {
  flex-basis: 66%;
  @media screen and (max-width: 1435px){
    flex-basis: 100%;
  }
}

.editorial-re-pre-image-box {
  @media screen and (max-width: 1435px) {
    align-self: center;
    align-items: center;
    align-content: space-around;
    justify-content: center;
  }
}


.editorial-re-pre-image {
  flex-basis: 28%;
  width: 25rem;
  border: solid;
  border-radius: 1rem;
  margin: 20px;
  @media screen and (max-width: 1435px){
    width: 80%;
  }
}

.editorial-button-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.editorial-re-pre-title{
  font-weight: bold;
  color: $blue;
  font-size: 2.5rem;
  overflow: hidden;
  @media screen and (max-width: 1530px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 1400px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1270px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 1190px){
    font-size: 2.5rem;
  }
  @media screen and (max-width: 515px){
    font-size: 1.5rem;
  }
  }

.editorial-link-text {
  color: $grey;
}

//
//QandA
//


.qanda-question-text {
  flex-basis: 100%;

}

.qanda-author-box {
  flex-basis: 100%;
  display: flex;
}

.qanda-byline {
  flex-basis: 80%;
  color: gray;
  font-size: 20px;
  order: 2;
}

.qanda-author-photo-box {
  flex-basis: 20%;
  order: 1;
}

.qanda-author-photo {
  height: 150px;
}

.qanda-answer-text {
  flex-basis: 100%;
  font-size: 30px;
}

//
//Meme of the Week
//

.motw-date-n-photo-box {
  display: flex;
}

.motw-author-photo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.motw-text-div {
  font-size: 1rem;
}

.motw-meme-photo {
  max-width: 100%;
  @media screen and (max-width: 475px){
    height: 100%;
    width: 100%;
    margin: 2px;
  }
}

.motw-outro-text {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: 5px;
}

.motw-title-text-box-div {
  flex-direction: column !important;
}

//
//Recipes
//

.recipe-title-text {

}

.recipe-author-box {
  flex-basis: 100%;
  display: flex;
}

.recipe-author-line {
  flex-basis: 80%;
  color: gray;
  font-size: 20px;
  order: 2;
}

.recipe-author-photo-box {
  flex-basis: 20%;
  order: 1;
}
//end of Alex's work

//
//TEAMS
//

#teams-wrapper {
  color: $black;
  @media screen and (min-width: $lg) {
    padding: 2rem;
  }
  @media screen and (min-width: $md) {
    padding: 1rem;
  }
  & li {
    margin: 1rem 0;
  }
  & a {
    color: $black;
  }
}

#teams-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-board-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $lg) {
    width: 33%;
    padding: 1rem;
  }
  @media screen and (min-width: $sm) and (max-width: $lg) {
    flex-basis: 50%;
    padding: 0.5rem;
  }
  @media screen and (max-width: $sm) {
    flex-direction: column;
    flex-basis: 100%;
  }
}

.team-board {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}

.team-board-practice-time {
  color: darken($grey, 30);
  font-size: 1.5rem;
}

.team-board-coach-container {
  margin-bottom: 1rem;
}

#title-container {
  background-color: white;
  flex-basis: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 4px;
  & button {
    max-height: 3rem;
  }
  & span {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: darken($grey, 30);
  }
}

#team-blog-container {
  flex: 1 1 70%;
}

#team-scoreboard-container {
  flex: 1 1 30%;
}

.teams-scoreboard {
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  & panel {
    padding: 0;
  }
}

.team-container {
  padding: 1rem;
}

.team-blog-header {
  padding-right: 2rem;
}

.team-name {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.team-blog-post {
  margin: 1rem 0;
}

.teams-game-date {
  margin: 1rem 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: $blue;
}

.teams-score-line {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  align-items: baseline;
}

.teams-scoreboard-school {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
}

.teams-scoreboard-their-name {
  justify-content: flex-end;
}

.teams-scoreboard-our-score {
  flex: 1 1 16%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.teams-scoreboard-their-score {
  font-weight: bold;
  flex: 1 1 16%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.teams-scoreboard-spacer {
  flex: 1 1 8%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.team-blog-score {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

//
// RECORDS
//

#records-board-container {
  padding: 2rem;
}

#records-header-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  color: darken($grey, 30);
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.3rem;

  @media screen and (min-width: 50rem) {
    font-size: 2rem;
  }
}

.records-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 0;

  @media screen and (min-width: 50rem) {
    font-size: 1.5rem;
  }
  & .record-type {
    flex-basis: 10%;
  }
  & .record-event {
    flex-basis: 30%;
  }
  & .record-holder {
    flex-basis: 30%;
  }
  & .record-result {
    flex-basis: 15%;
  }
  & .record-supervisor {
    flex-basis: 15%;
  }
}

//
// TOOLS
//

#tools-main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  @media screen and (max-width: $sm) {
    flex-direction: column;
  }
  hr {
    border-color: $black;
  }
  a {
    color: $black;
  }
}

.tool-container {
  padding: 0 1rem;
}

#tools-literacy {
  flex-basis: 50%;
}

#tools-fitness {
  flex-basis: 50%;
}

//
//CALCULATORS
//

#calculators-container {
  display:flex;
  @media screen and (max-width: $sm) {
    flex-direction: column;
  }
}

.calculator-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 2rem;
  line-height: 200%;
  font-size: 2rem;
  label {
    margin: 0 1rem;
  }
}

.calculator {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.calculator-inputs {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result-container {
  width: 50%;
  flex: 1 1 50%;
  padding: 0 1rem;
  text-align: center;
}

#calculator-button {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.calculator-ui-item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.calculator-header {
  display: flex;
  align-content: baseline;
  padding-left: 1rem;
  span {
    font-size: 50%;
    margin: 0;
    padding: 0;
  }

}

.calculator-label {
  display: inline-block;
  margin: 0 1rem 0 0;
}
