#osslt-wrapper {
  padding: 0 1rem;
  a {
    color: lighten($blue, 20);
  }
  h2 {
    margin: 2rem 0;
  }
  h3 {
    margin: 2rem 0;
  }
  h4 {
    margin: 2rem 0;
  }
}

.osslt-full-p {
  flex-basis:100%; 
}

#osslt-test-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2rem;
  p {
    flex-basis: 33%;
    padding: 0.5rem 0;
  }
}

#osslt-explanation-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  .question-type-30 {
    flex-basis: 30%;
    padding: 1rem 0;
  }
  .question-type-50 {
    flex-basis: 47%;
    padding: 1rem 0;
  }
}


.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
}

.question {
  padding: 0.5rem 1rem;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.question-text {
  flex-basis: 100%;
}

.mc-answers {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.answer {
}

.grammar-list {
  margin: 1rem 0;
  line-height: 1.5rem;
  ul {
    list-style: none;
  }
}

.identification-text {
  line-height: 1.5rem;
}

.question-description {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.osslt-response-short {
  width: 100%;
  margin: 2rem 0 0;
  @media screen and (orientation: landscape){
    height: 50vh;
  }
  @media screen and (orientation: landscape) and (min-width: 48em) {
    height: 20vh;
  }
  @media screen and (orientation: portrait) {
    height: 60vh;
  }
  @media screen and (orientation: portrait) and (min-width: 35.5em) {
    height: 15vh;
  }
}

.osslt-response-long {
  width: 100%;
  margin: 2rem 0 0;
  @media screen and (orientation: landscape) {
    height: 80vh;
  }
  @media screen and (orientation: portrait) {
    height: 50vh;
  }
}

.wc-bar {
  display: flex;
  height: 3rem;
  margin-bottom: 1rem;
}

.wc-number {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wc-scale {
  flex-basis: 80%;
  position: relative;
  border: solid 1px darken($grey, 30);
  background: linear-gradient(to right, $grey, lighten($blue, 40));
  text-align: center;
  overflow: hidden;
}

.wc-markers {
  display: flex;
}

.short-scale {
  flex-basis: 33.333%;
}

.long-scale {
  flex-basis: 16.666%;
}

.wc-arrow {
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}

.answer {
  padding: 0.35rem;
  display: inline-flex;
  align-items: center;

  input {
    position: absolute;
  }

  span {
    display: inline-block;
    margin-left: 25px;
    line-height: 1.3;
  }
}

.button-box {
  display: flex;
  justify-content: flex-end;
}
#score-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#score-panel {
  margin: 0 auto;
  padding: 2rem;
  max-height: 90vh;
  border: 1px solid $black;
  background-color: lighten($grey,45);
  overflow: auto; 
}
