#footer {
  display: none;
}

nav {
  display: none;
}

.news-byline {
  display: none;
}

news-wrapper {
  display: none;
}

#header {
  display: none;
}
 p {
  display: none;
}
h1 {
  display: none;
}
.yearbook-panel-left-column {
  flex-direction: column;
    flex-basis: 25%;
    max-height: 100%;
    background-color: red;
}
.top-left-column-image{
  max-height: 33%;
  max-width: 25%;
}
.top-middle-column-image {
  max-height: 33%;
  max-width: 50%;

}
// .yearbook-panel-middle-column {
//   flex-wrap: wrap;
//   flex-direction: column;
//     flex-basis: 50%;
//     background-color: blue;
//     max-height: 100%;
// }
//
// .yearbook-panel-right-column {
//   flex-wrap: wrap;
//   flex-direction: column;
//     flex-basis: 25%;
//     background-color: green;
//     max-height: 100%;
// }
