#header{
  display: none;
}

nav {
  display: none;
}

#footer{
  display: none;
}

.news-byline{
  display: none;
}

h4{
  display: none;
}
h1{
  font-family: fantasy;
  font-size: 25px;
}

.news-article-image{
  height: 1.5in;
  width: 2in;
}

.item{
  flex-basis: 100%;
}

.screen-article{
  display: none;
}
.yearbook-grid-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yearbook-grid-left-column{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yearbook-grid-right-column{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yearbook-grid-image{
  width: 3in;
  height: 2in;
  padding-bottom: 0.3in;
  padding-left: 0.3in;
  padding-right: 0.3in;
}

.yearbook-grid-image2{
  width: 2.5in;
  height: 2in;
  padding: 0.3in;
}

.yearbook-grid-image3{
  width: 4in;
  height: 2in;
  border-image-width: 4px;
}
