{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div>
  <H1>Meme Of The Week</H1>
</div>

<div class="editorial-large-organizer-panel">

{% for meme in memes %}

  <div class="panel editorial-alex-panel motw-title-text-box-div">

      <div>
        <h2>{{meme.meme_title}}</h2>
      </div>

      <div class="motw-date-n-photo-box">
        <img class="motw-author-photo" src="/images/alex-dawson.jpg" />
        <p>
          {{meme.meme_date}}
        </p>
      </div>

      <div class="meme-text-div">
        <p>
          {{meme.meme_text_part1}}
        </p>
        <p>
          {{meme.meme_text_part2}}
        </p>
      </div>

      <div class="motw-meme-photo">
        <img class="motw-meme-photo" src="{{meme.meme_image}}" alt="{{meme.meme_alt}}">
      </div>

      <div>
        <p class="motw-outro-text">
          This has been your "Meme of the Week".
        </p>

      </div>

    </div>

{% endfor %}

</div>

{% endblock main %}
