{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div>
  <H1>Wolverine Questions</H1>
</div>

<div class="editorial-large-organizer-panel">

{% for question in questions %}
  <div class="editorial-alex-panel panel">
    <div class="qanda-question-text">
      <h2>{{question.question_text}}</h2>
    </div>
    <div class="qanda-author-box">
      <div class="qanda-byline">
        <p>
          Submited by: {{question.poser}}
        </p>
      </div>
    </div>
    <div class="qanda-answer-text">
      <p>
        {{question.answer}}
      </p>
    </div>
  </div>
{% endfor %}

</div>

{% endblock main %}
