{% extends 'layout.html' %}
{% block main %}
{% include 'header.html' %}
<div>
  <H1>Wolverine Recipes</H1>
</div>

{% for recipe in recipes %}
  <div class="editorial-alex-panel panel">

    <div class="recipe-title-text">
      <h2>{{recipe.recipe_title}}</h2>
    </div>

    <div class="recipe-author-box">

      <div class="recipe-author-line">
        <p>
          By: Hawi Zawude-Ragasa
        </p>
      </div>

      <div class="recipe-author-photo-box">
        <img class="recipe-author-photo" src="placeholder" alt="Hawi Zawude-Ragasa" />
      </div>

    </div>

    <div>
      <p>
        {{recipe.recipe_date}}
      </p>
    </div>

    <div class="recipe_ingredient_list">
      <p>
        {% for item in recipe.recipe_ingredient_list %}
        <ul>
          <li>
            {{item}}
          </li>
        </ul>
        {% endfor %}

      </p>
    </div>

    <div>
      <p>
        {{recipe.recipe_instructions}}
      </p>
    </div>

  </div>
{% endfor %}

{% endblock main %}
